/*
    Events
*/
.imported-event-panel p {
    font-size: .875rem;
}

.imported-event {
    display: inline-block;
    font-family: $font-family-monospace;
    font-size: .8rem;
    margin-top: .5rem;
}

.calendar-export-list {
    a::before {
        @include icon('\f133');
        color: $body-font-color;
        margin-right: 1ex;
    }
}

// raise importance a bit by double-selecting
.occurrence.occurrence {
    margin-bottom: 2.25rem;

    h3 {
        font-size: $h4-font-size - $h4-font-reduction;
        font-weight: bold;
    }

    .occurrence-date {
        font-size: .875rem;
        margin-bottom: .5rem;
        margin-top: .75rem;
    }

    .occurrence-location,
    .occurrence-time {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    .occurrence-time {
        margin-bottom: .6rem;
    }
}

.event-preview {
    .occurrence {
        margin-bottom: 0;
    }

    .occurrence > div:first-child {
        //margin-left: -($column-gutter / 2);
        margin-left: -(50px / 2);
    }
}

.occurrence-map,
.occurrence-image {
    margin-bottom: 1.5rem;
}

.date-range-selector-results {
    border-bottom: 2px solid $primary-color;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.occurrences-filter-panel {
    margin-bottom: 2rem;
}

.occurrences-filter-tags,
.date-range-selector {
    margin-bottom: .5em;
}

.occurrence-tags,
.occurrence-description {
    margin-bottom: 1.25em;
}

.occurrence-description {
    max-width: $max-line-width;
}