/*
    news list
*/


.newslist {

  small:first-of-type {
    color: $primary-color;
  }

  i {
    margin-right: 0.25rem;
  }

  .card-section a {
    color: $primary-color;
  }

}

.news-list-item {
  // Select the title which is the first child
  div.card-section > *:first-child {
    font-size: $h5-font-size;
    font-weight: bold;
  }
}



//.newslist .news-list-item {
//    margin-bottom: .5rem;
//
//    a h2,
//    a h3 {
//        color: $anchor-font-color;
//        font-size: $h4-font-size - $h4-font-reduction;
//        font-weight: bold;
//        margin-bottom: .45rem;
//    }
//
//    a:hover h2,
//    a:hover h3 {
//        color: $anchor-font-color-hover;
//    }
//
//    .news-date {
//        font-size: .875rem;
//        margin-bottom: .25rem;
//    }
//
//    .news-lead {
//        font-size: 1rem;
//        margin-bottom: .5rem;
//        max-width: $max-line-width;
//    }
//}
//
//.news-years {
//    list-style: none;
//    margin-left: 0;
//    padding: 0;
//
//    li {
//        display: inline;
//
//        + li::before {
//            content: '/';
//        }
//    }
//}
//
//.all-news {
//    font-size: .875rem;
//    font-weight: 500;
//
//    a {
//        display: inline-block;
//
//        + a::before {
//            color: $body-font-color;
//            content: '/ ';
//            font-weight: normal;
//        }
//    }
//}
//
//.all-news::before {
//    color: $primary-color;
//    content: $more-link-icon;
//    font-family: 'FontAwesome';
//    font-size: .875rem;
//    margin-right: .25ex;
//}