/*
    useful mixins
*/

// sass-lint:disable-all
@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: gray;
    -webkit-filter: grayscale(100%);
}

@mixin reset-filter {
       -moz-filter: none;
        -ms-filter: none;
         -o-filter: none;
            filter: none;
    -webkit-filter: none;
}
// sass-lint:enable-all

@mixin hairline {
    border: 0;
    border-bottom: 1px solid $gray;
}

@mixin smooth-edges {
    border-radius: 2px;
}

@mixin circle {
    border-radius: 1000px;
}

@mixin icon($icon) {
    content: $icon;
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: normal;
    width: 1.5ex;
}

@mixin prefix ($prop, $val) {
    // sass-lint:disable-block property-sort-order
    -webkit-#{$prop}: #{$val};
    -moz-#{$prop}: #{$val};
    -ms-#{$prop}: #{$val};
    #{$prop}: #{$val};
}

@mixin primary-color-background {
    background-color: $primary-color;
    color: $primary-fg-color;
}

/*
    Fixes a foundation js error
*/
//.foundation-data-attribute-namespace {
//    font-family: false;
//}

/*
    The maximum width of a line relative to the font. This limits textblocks
    to a readable length.
*/
$max-line-width: 67ex;

.limit-line-width {
    max-width: $max-line-width;
}

/*
    The height of full-width banners
*/
$full-width-banner-height: 333px;

/*
    Zurb foundation uses this without !import, which causes IE11 to not
    apply the placeholder color.
*/
//:-ms-input-placeholder {
//    color: $input-placeholder-font-color !important;
//}

/*
    Links without href and no role should not show the cursor
*/
a:not([href]):not([role]) {
    cursor: default;
}

.button,
.confirm,
.fc-event,
a[ic-verb],
a[onclick],
.partition-occupied {
    cursor: pointer !important;
}

/*
    Hyphenation for browsers which support it.
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
.page-text,
.page-lead,
.news-lead,
.newsletter-lead {
    @include prefix(hyphens, auto);
}

/*
    Disable hyphenation in e-mail links and make them breakable
*/
a[href^="mailto:"] {
    @include prefix(hyphens, none);
    @include prefix(word-break, break-all);

    // Non standard for WebKit
    word-break: break-word;
}

/*
    Get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    As a side-effect, this disables horizontal scrolling, but we don't have
    that anyway because of our mobile-first design.
*/
//html {
//    @media #{$medium-up} {
//        overflow-x: hidden;
//        width: 100vw;
//    }
//}

/*
    Our footer is kept at the bottom without being "sticky", thanks to this
    approach: https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f
*/
//html,
//body {
//    height: 100%;
//    width: 100%;
//}
//
//footer {
//    margin-top: .5rem;
//}

//.ie-11-wrapper {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    min-height: 100%;
//}

//main {
//    align-items: stretch;
//    display: flex;
//    flex-direction: column;
//    min-height: 100%;
//}

article {
    background: $white;
    flex-grow: 1;
}

header,
article,
footer {
    flex-shrink: 0;
}

/*
    Normalized body text
*/
.common-text {
    color: $body-font-color;
    font-size: 1rem;
    line-height: inherit;
}

/*
    Small text
*/
.small-text {
    font-size: .875rem;
}

.tiny-text {
    font-size: .8rem;
}

/*
    Small atomic text particles whose white-space should not be wrapped
*/
.nowrap {
    white-space: nowrap;
}

/*
    Chrome shows a little up/down arrow on date fields which takes quite
    a bit of space, without being useful
*/
//input[type="date"]::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    display: none;
//}

/*
    Apply on a row to flip the order of columns on mobile
*/
@media #{$small-only} {
    .reverse-on-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}

/*
    Base Typography
*/

$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$h1-font-reduction: 24;
$h2-font-reduction: 20;
$h3-font-reduction: 12;
$h4-font-reduction: 7;
$h5-font-reduction: 3;
$h6-font-reduction: 0;

$header-styles: (
  small: (
    'h1': ('font-size': $h1-font-size - $h1-font-reduction),
    'h2': ('font-size': $h2-font-size - $h2-font-reduction),
    'h3': ('font-size': $h3-font-size - $h3-font-reduction),
    'h4': ('font-size': $h4-font-size - $h4-font-reduction),
    'h5': ('font-size': $h5-font-size - $h5-font-reduction),
    'h6': ('font-size': $h6-font-size - $h6-font-reduction),
  ),
  medium: (
    'h1': ('font-size': $h1-font-size),
    'h2': ('font-size': $h2-font-size),
    'h3': ('font-size': $h3-font-size),
    'h4': ('font-size': $h4-font-size),
    'h5': ('font-size': $h5-font-size),
    'h6': ('font-size': $h6-font-size),
  ),
);

.h1-size { font-size: $h1-font-size - $h1-font-reduction; }
.h2-size { font-size: $h2-font-size - $h2-font-reduction; }
.h3-size { font-size: $h3-font-size - $h3-font-reduction; }
.h4-size { font-size: $h4-font-size - $h4-font-reduction; }
.h5-size { font-size: $h5-font-size - $h5-font-reduction; }
.h6-size { font-size: $h6-font-size - $h6-font-reduction; }

@media #{$medium-up} {
    .h1-size,
    .h2-size,
    .h3-size,
    .h4-size,
    .h5-size,
    .h6-size {
        line-height: $header-line-height;
    }

    .h1-size { font-size: $h1-font-size; }

    .h2-size { font-size: $h2-font-size; }

    .h3-size { font-size: $h3-font-size; }

    .h4-size { font-size: $h4-font-size; }

    .h5-size { font-size: $h5-font-size; }

    .h6-size { font-size: $h6-font-size; }
}

/*
    The global tools header
*/
$globals-margin: .75rem;
$globals-height: 2.5rem;


.globals {
    // Todo: the link text inside the second level should not wrap
    @include primary-color-background;
    margin-bottom: $globals-margin;
    min-height: $globals-height;
    padding: .5rem;

    a {
        font-size: .875rem;
        &::before {
            margin-right: 1ex;
            text-align: center;
        }
    }

    .grid-x > .cell > ul {

        @include breakpoint(medium up) {
            display: flex;
            flex-direction: row-reverse;
        }

        > li {
            > a {
                @include primary-color-background;
                height: $globals-height;
                line-height: $globals-height;
                padding: 0 1rem;
            }
        }
    }

    .f-dropdown {
        a {
            color: $body-font-color;

            &:hover {
                @include primary-color-background;
            }

            @include breakpoint(small only) {
                color: $primary-fg-color;
            }
        }
    }

    .login::before { @include icon('\f090'); }
    .logout::before { @include icon('\f08b'); }
    .register::before { @include icon('\f234'); }
    .user::before { @include icon('\f2bd'); }
    .users::before { @include icon('\f0c0'); }
    .payment::before { @include icon('\f09d'); }
    .payment-provider::before { @include icon('\f283'); }
    .profile::before { @include icon('\f2c3'); }
    .management::before { @include icon('\f013'); }
    .images::before { @include icon('\f03e'); }
    .files::before { @include icon('\f016'); }
    .settings::before { @include icon('\f1de'); }
    .timeline::before { @include icon('\f017'); }
    .no-tickets::before { @include icon('\f145'); }

    .with-count::before {
        border: 1px solid $primary-fg-color;
        border-radius: 1000px;
        box-shadow: 0 0 2px $primary-fg-color;
        box-sizing: content-box;
        content: attr(data-count);
        display: inline-block;
        font-size: .75rem;
        line-height: 22px;
        margin-right: 1ex;
        min-width: 15px;
        padding: 0 .25rem;
        position: relative;
    }

    .alert.with-count::before {
        background-color: $alert-color;
        color: $white;
    }

    .success.with-count::before {
        background-color: $success-color;
        color: $white;
    }

    .info.with-count::before {
        background-color: $info-color;
        color: $white;
    }

    .secondary.with-count::before {
        background-color: $secondary-color;
        color: $body-font-color;
    }
}

#nav-bar {

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
    }

    > div {
        min-height: 140px;
        width:100%;
        background: $white;
        box-shadow: 0 15 10 -15 rgba(10, 10, 10, 0.25)
    }

    img {
        height: 7em;
        object-fit: contain;
    }
}

.searchbox {
    margin-top: 2rem;
    padding: 1rem;
}

/*
    Search result typeahead
*/
.typeahead {
    position: relative;

    ul {
        background-color: $white;
        border-width: 0 1px 1px;
        box-shadow: 0 0 5px $jumbo;
        left: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        //right: 1em;
        z-index: 1;
        overflow: visible;
    }

    a {
        color: $input-color;
        display: block;
        font-size: $input-font-size;
    }

    li {
        padding: 0 5px;

        // highlight links with the active class
        &.active {
            background-color: $topbar-bg-color;

            a {
                color: $primary-color;
                font-weight: bold;
            }
        }

        // highlight links when hovering
        &:hover {
            background-color: $topbar-bg-color !important;

            a {
                color: $primary-color !important;
                font-weight: bold !important;
            }
        }
    }

    // do not highlight links with the active class when hovering (so we
    // get a different highlight when hovering)
    &:hover li.active {
        background-color: $white;

        a {
            color: $body-font-color;
            font-weight: normal;
        }
    }
}

/*
    edit bar (and popup links)
*/
$accept-link-icon: '\f00c';
$cleanup-link-icon: '\f0d0';
$copy-link-icon: '\f0c5';
$delete-link-icon: '\f014';
$disabled-icon: '\f05e';
$edit-link-icon: '\f040';
$export-link-icon: '\f019';
$file-link-icon: '\f0c6';
$image-link-icon: '\f03e';
$import-link-icon: '\f093';
$internal-link-icon: '\f0c1';
$manage-recipients: '\f003';
$manage-subscribers: '\f0c0';
$mark-as-paid: '\f058';
$mark-as-unpaid: '\f057';
$new-daypass-icon: '\f145';
$new-directory-icon: '\f0e8';
$new-directory-entry-icon: '\f114';
$new-recipient: '\f1fa';
$new-form-icon: '\f044';
$new-link-icon: '\f0c1';
$new-news-icon: '\f1ea';
$new-newsletter-icon: '\f003';
$new-note-icon: '\f24a';
$new-page-icon: '\f0f6';
$new-payment-icon: '\f09d';
$new-person-icon: '\f007';
$new-photo-album: '\f03e';
$new-registration-window: '\f067';
$new-reservation-icon: '\f271';
$new-room-icon: '\f015';
$new-stripe-connect-icon: '\f1f5';
$new-user-icon: '\f234';
$paste-link-icon: '\f0ea';
$payment-capture-icon: '\f09d';
$payment-refund-icon: '\f0e2';
$payment-provider-icon: '\f283';
$payments-icon: '\f09d';
$rule-link-icon: '\f085';
$select-icon: '\f14a';
$send-link-icon: '\f1d9';
$sync-icon: '\f021';
$subscribe-link-icon: '\f0c1';
$test-link-icon: '\f0e9';
$occupancy-link-icon: '\f022';
$upload-icon: '\f0ee';
$view-link: '\f06e';

$editbar-bg-color: $topbar-link-bg-hover;

.edit-bar {

    background-color: $editbar-bg-color;
    margin-bottom: 2px;
    margin-top: -2px;

    .border {
        border-bottom: 1px dashed $iron;
    }

    //a.right-side {
    //    justify-self: flex-end;
    //}

    .accept-link::before { @include icon($accept-link-icon); }
    .cleanup-link::before { @include icon($cleanup-link-icon); }
    .copy-link::before { @include icon($copy-link-icon); }
    .delete-link::before { @include icon($delete-link-icon); }
    .edit-link::before { @include icon($edit-link-icon); }
    .export-link::before { @include icon($export-link-icon); }
    .file-url::before { @include icon($file-link-icon); }
    .image-url::before { @include icon($image-link-icon); }
    .import-link::before { @include icon($import-link-icon); }
    .internal-url::before { @include icon($internal-link-icon); }
    .manage-recipients::before { @include icon($manage-recipients); }
    .manage-subscribers::before { @include icon($manage-subscribers); }
    .new-daypass::before { @include icon($new-daypass-icon); }
    .new-directory::before { @include icon($new-directory-icon); }
    .new-directory-entry::before { @include icon($new-directory-entry-icon); }
    .new-form::before { @include icon($new-form-icon); }
    .new-link::before { @include icon($new-link-icon); }
    .new-news::before { @include icon($new-news-icon); }
    .new-newsletter::before { @include icon($new-newsletter-icon); }
    .new-note::before { @include icon($new-note-icon); }
    .new-page::before { @include icon($new-page-icon); }
    .new-payment::before { @include icon($new-payment-icon); }
    .new-person::before { @include icon($new-person-icon); }
    .new-photo-album::before { @include icon($new-photo-album); }
    .new-recipient::before { @include icon($new-recipient); }
    .new-registration-window::before { @include icon($new-registration-window); }
    .new-reservation::before { @include icon($new-reservation-icon); }
    .new-room::before { @include icon($new-room-icon); }
    .new-stripe-connect::before { @include icon($new-stripe-connect-icon); }
    .new-user::before { @include icon($new-user-icon); }
    .occupancy-link::before { @include icon($occupancy-link-icon); }
    .paste-link::before { @include icon($paste-link-icon); }
    .payment-provider::before { @include icon($payment-provider-icon); }
    .payments::before { @include icon($payments-icon); }
    .select::before { @include icon($select-icon); }
    .send-link::before { @include icon($send-link-icon); }
    .subscribe-link::before { @include icon($subscribe-link-icon); }
    .test-link::before { @include icon($test-link-icon); }
    .rule-link::before { @include icon($rule-link-icon); }
    .sync::before { @include icon($sync-icon); }
    .upload::before { @include icon($upload-icon); }
    .view-link::before { @include icon($view-link); }
}

.breadcrumbs {
    @include hairline;
    font-style: italic;
    margin-bottom: 1rem;
    overflow: hidden;
    padding-bottom: .7rem;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
        line-height: 1rem;

        // highlight the parent
        &:nth-last-child(2) {
            font-weight: bold;
        }
    }

}

/*
    content block
*/
.content {
    margin-bottom: 1rem;
}

// we need to use exact pixel measurements for the footer or we end up with
// inconsistent results across browsers, which might mean the difference between
// showing a scrollbar and not showing one
$footer-header-color: $charcoal;
$footer-text-color: $steel;
$footer-font-size: 13px;
$footer-border-width: 0;

.footer-content {
    background-color: $topbar-bg-color;

    box-shadow: 0 -2px 0 $primary-color;
    max-width: 100% !important;

    padding: 0;

    > .cell > .grid-x {
        margin: 0 auto;
        max-width: $grid-row-width;
    }

    * {
        background-color: $topbar-bg-color;
        color: $footer-text-color;
        font-size: $footer-font-size;
        line-height: 25px;
    }

    h2 {
        color: $footer-header-color;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 13px;
        text-transform: uppercase;
    }

    h2.custom-links {
        text-transform: none;
    }

    .footer-columns {
        padding-bottom: .5rem;
        padding-top: 1.25rem;

        p {
            line-height: 1.5rem;
            margin-bottom: .5rem;
        }
    }

    .footer-links {
        padding: .5rem 0;
        position: relative;
        text-align: center;

        .columns {
            span + span::before {
                content: '•';
            }
        }
    }

}

#redactor-modal-box footer {
    // the redactor also contains a footer which doesn't need a specific height
    height: auto;
}