/*
    useful mixins
*/

// sass-lint:disable-all
@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: gray;
    -webkit-filter: grayscale(100%);
}

@mixin reset-filter {
       -moz-filter: none;
        -ms-filter: none;
         -o-filter: none;
            filter: none;
    -webkit-filter: none;
}
// sass-lint:enable-all

@mixin hairline {
    border: 0;
    border-bottom: 1px solid $gray;
}

@mixin smooth-edges {
    border-radius: 2px;
}

@mixin circle {
    border-radius: 1000px;
}

@mixin icon($icon) {
    content: $icon;
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: normal;
    width: 1.5ex;
}

@mixin prefix ($prop, $val) {
    // sass-lint:disable-block property-sort-order
    -webkit-#{$prop}: #{$val};
    -moz-#{$prop}: #{$val};
    -ms-#{$prop}: #{$val};
    #{$prop}: #{$val};
}

@mixin primary-color-background {
    background-color: $primary-color;
    color: $primary-fg-color;
}

/*
    Fixes a foundation js error
*/
//.foundation-data-attribute-namespace {
//    font-family: false;
//}

/*
    The maximum width of a line relative to the font. This limits textblocks
    to a readable length.
*/
$max-line-width: 67ex;

.limit-line-width {
    max-width: $max-line-width;
}

/*
    The height of full-width banners
*/
$full-width-banner-height: 333px;

/*
    Zurb foundation uses this without !import, which causes IE11 to not
    apply the placeholder color.
*/
//:-ms-input-placeholder {
//    color: $input-placeholder-font-color !important;
//}

/*
    Links without href and no role should not show the cursor
*/
a:not([href]):not([role]) {
    cursor: default;
}

.button,
.confirm,
.fc-event,
a[ic-verb],
a[onclick],
.partition-occupied {
    cursor: pointer !important;
}

/*
    Hyphenation for browsers which support it.
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
.page-text,
.page-lead,
.news-lead,
.newsletter-lead {
    @include prefix(hyphens, auto);
}

/*
    Disable hyphenation in e-mail links and make them breakable
*/
a[href^="mailto:"] {
    @include prefix(hyphens, none);
    @include prefix(word-break, break-all);

    // Non standard for WebKit
    word-break: break-word;
}

/*
    Get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    As a side-effect, this disables horizontal scrolling, but we don't have
    that anyway because of our mobile-first design.
*/
//html {
//    @media #{$medium-up} {
//        overflow-x: hidden;
//        width: 100vw;
//    }
//}

/*
    Our footer is kept at the bottom without being "sticky", thanks to this
    approach: https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f
*/
//html,
//body {
//    height: 100%;
//    width: 100%;
//}
//
//footer {
//    margin-top: .5rem;
//}

//.ie-11-wrapper {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    min-height: 100%;
//}

//main {
//    align-items: stretch;
//    display: flex;
//    flex-direction: column;
//    min-height: 100%;
//}

article {
    background: $white;
    flex-grow: 1;
}

header,
article,
footer {
    flex-shrink: 0;
}

/*
    Normalized body text
*/
.common-text {
    color: $body-font-color;
    font-size: 1rem;
    line-height: inherit;
}

/*
    Small text
*/
.small-text {
    font-size: .875rem;
}

.tiny-text {
    font-size: .8rem;
}

/*
    Small atomic text particles whose white-space should not be wrapped
*/
.nowrap {
    white-space: nowrap;
}

/*
    Chrome shows a little up/down arrow on date fields which takes quite
    a bit of space, without being useful
*/
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/*
    Apply on a row to flip the order of columns on mobile
*/
@media #{$small-only} {
    .reverse-on-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}

/*
    Base Typography
*/

$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$h1-font-reduction: 24;
$h2-font-reduction: 20;
$h3-font-reduction: 12;
$h4-font-reduction: 7;
$h5-font-reduction: 3;
$h6-font-reduction: 0;

$header-styles: (
  small: (
    'h1': ('font-size': $h1-font-size - $h1-font-reduction),
    'h2': ('font-size': $h2-font-size - $h2-font-reduction),
    'h3': ('font-size': $h3-font-size - $h3-font-reduction),
    'h4': ('font-size': $h4-font-size - $h4-font-reduction),
    'h5': ('font-size': $h5-font-size - $h5-font-reduction),
    'h6': ('font-size': $h6-font-size - $h6-font-reduction),
  ),
  medium: (
    'h1': ('font-size': $h1-font-size),
    'h2': ('font-size': $h2-font-size),
    'h3': ('font-size': $h3-font-size),
    'h4': ('font-size': $h4-font-size),
    'h5': ('font-size': $h5-font-size),
    'h6': ('font-size': $h6-font-size),
  ),
);

.h1-size { font-size: $h1-font-size - $h1-font-reduction; }
.h2-size { font-size: $h2-font-size - $h2-font-reduction; }
.h3-size { font-size: $h3-font-size - $h3-font-reduction; }
.h4-size { font-size: $h4-font-size - $h4-font-reduction; }
.h5-size { font-size: $h5-font-size - $h5-font-reduction; }
.h6-size { font-size: $h6-font-size - $h6-font-reduction; }

@media #{$medium-up} {
    .h1-size,
    .h2-size,
    .h3-size,
    .h4-size,
    .h5-size,
    .h6-size {
        line-height: $header-line-height;
    }

    .h1-size { font-size: $h1-font-size; }

    .h2-size { font-size: $h2-font-size; }

    .h3-size { font-size: $h3-font-size; }

    .h4-size { font-size: $h4-font-size; }

    .h5-size { font-size: $h5-font-size; }

    .h6-size { font-size: $h6-font-size; }
}

/*
    The global tools header
*/
$globals-margin: .75rem;
$globals-height: 2.5rem;


.globals {
    @include primary-color-background;
    margin-bottom: $globals-margin;
    min-height: $globals-height;
    width: 100%;
    padding: .5rem;

    a {
        font-size: .875rem;
        &::before {
            margin-right: 1ex;
            text-align: center;
        }
    }

    .grid-x > .cell > ul {
        @include breakpoint(medium up) {
            display: flex;
            flex-direction: row-reverse;
        }

        > li > a {
            @include primary-color-background;
            height: $globals-height;
            line-height: $globals-height;
            padding: 0 1rem;
        }
    }

    .f-dropdown {
        a {
            color: $body-font-color;
            &:hover {
                @include primary-color-background;
            }
        }
    }

    .login::before { @include icon('\f090'); }
    .logout::before { @include icon('\f08b'); }
    .register::before { @include icon('\f234'); }
    .user::before { @include icon('\f2bd'); }
    .users::before { @include icon('\f0c0'); }
    .payment::before { @include icon('\f09d'); }
    .payment-provider::before { @include icon('\f283'); }
    .profile::before { @include icon('\f2c3'); }
    .management::before { @include icon('\f013'); }
    .images::before { @include icon('\f03e'); }
    .files::before { @include icon('\f016'); }
    .settings::before { @include icon('\f1de'); }
    .timeline::before { @include icon('\f017'); }
    .no-tickets::before { @include icon('\f145'); }

    .with-count::before {
        border: 1px solid $primary-fg-color;
        border-radius: 1000px;
        box-shadow: 0 0 2px $primary-fg-color;
        box-sizing: content-box;
        content: attr(data-count);
        display: inline-block;
        font-size: .75rem;
        line-height: 22px;
        margin-right: 1ex;
        min-width: 15px;
        padding: 0 .25rem;
        position: relative;
    }

    .alert.with-count::before {
        background-color: $alert-color;
        color: $white;
    }

    .success.with-count::before {
        background-color: $success-color;
        color: $white;
    }

    .info.with-count::before {
        background-color: $info-color;
        color: $white;
    }

    .secondary.with-count::before {
        background-color: $secondary-color;
        color: $body-font-color;
    }
}

