/*
    Filter panels
*/
.filter-panel {
    margin-bottom: 1rem;

    .filter-title {
        border-bottom: 2px solid $primary-color;
        font-size: $h4-font-size - $h4-font-reduction;
        margin-bottom: 1rem;
        margin-top: 0;
        padding: 0 0 .75rem;
    }

    ul.tags {
        list-style: none;
        margin: 0 0 .75rem;
        padding: 0;

        li {
            display: inline-block;
            font-size: .875rem;
            margin-bottom: 8px;

            &:hover .blank-label {
                @include primary-color-background;
                border: 1px solid $primary-color;
            }
        }

        a {
            font-size: .8rem;
            line-height: .8rem;
            white-space: normal;
        }

        span {
            margin-bottom: 0;
            text-align: left;

            &.rounded {
                @include circle;
            }
        }
    }

    .filters ul + ul {
        margin-top: .5rem;
    }
}
