/*
    Filter panels
*/
.filter-panel {
    margin-bottom: 1rem;

    .filter-title {
        border-bottom: 2px solid $primary-color;
        font-size: $h4-font-size - $h4-font-reduction;
        margin-bottom: 1rem;
        margin-top: 0;
        padding: 0 0 .75rem;
    }

    ul.tags {
        list-style: none;
        margin: 0 0 .75rem;
        padding: 0;

        li {
            display: inline-block;
            font-size: .875rem;
            margin-bottom: 8px;

            &:hover .blank-label {
                @include primary-color-background;
                border: 1px solid $primary-color;
            }
        }

        a {
            font-size: .8rem;
            line-height: .8rem;
            white-space: normal;
        }

        span {
            margin-bottom: 0;
            text-align: left;

            &.rounded {
                @include circle;
            }
        }
    }

    .filters ul + ul {
        margin-top: .5rem;
    }
}

/*
    panels
*/

$more-link-icon: '\f105';

ul.panel-links {
    list-style: none;
    margin: 0;

    a {
        display: block;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;

        &.more-link {
            font-size: .875rem;
            font-weight: 500;

            &::before {
                @include icon($more-link-icon);
                font-size: .875rem;
            }
        }
    }

    small {
        display: block;
        font-size: .875rem;
    }

    li {
        margin-bottom: .5em;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

$right-side-panel-margin: 0 0 2rem 1rem;
$icon-margin-right: 1ex;
$icon-padding-right: .8ex;
$side-panel-padding: 1rem;

$tasks-icon: "\f0ae";
$calendar-icon: "\f133";
$emove-icon: "\f472";
$train-icon: "\f238";
$chevron-right-icon: "\f054";

.panel-links {
    border: 1px solid $editbar-bg-color;
}

.side-panel {

    padding: $side-panel-padding;

    .services-panel {
        a.online-counter::before { @include icon($tasks-icon); }
        a.publications::before { @include icon($tasks-icon); }
        a.reservations::before { @include icon($calendar-icon); }
        a.e-move::before { @include icon($emove-icon); }
        a.sbb-daypass::before { @include icon($train-icon); }

        a::before {
            margin-right: $icon-margin-right;
            padding-right: $icon-padding-right;
        }

        a::after {
            @include icon($chevron-right-icon);
            float: right;
        }

        a {
            color: $primary-fg-color;
        }

        .panel-links {
            color: $primary-fg-color;
            background-color: $primary-color;
        }

        li {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            padding: 1rem 0;
        }

        li:last-of-type {
            border: none;
        }
    }


    //h2 {
    //    border-bottom: 2px solid $primary-color;
    //    font-size: .875rem;
    //    margin-bottom: .25rem;
    //    margin-top: 0;
    //    padding: .75rem 1rem;
    //    text-transform: uppercase;
    //
    //    + .marker-map {
    //        margin: 1rem 1rem 0;
    //    }
    //
    //    + .location {
    //        margin-top: 1rem;
    //    }
    //}
    //
    //> ul {
    //    list-style-type: none;
    //    margin: 0;
    //    padding: .5rem 1rem .75rem;
    //
    //    li {
    //        font-size: .875rem;
    //
    //        + li {
    //            margin-top: .25rem;
    //        }
    //    }
    //
    //    &.fa-ul {
    //        margin-left: 1.25rem;
    //
    //        .fa-li {
    //            margin-top: 1px;
    //        }
    //    }
    //}
    //
    //.panel-links li + li {
    //    margin-top: .75rem;
    //}
    //
    //a {
    //    display: block;
    //    font-size: .875rem;
    //    font-weight: bold;
    //    overflow: hidden;
    //    text-overflow: ellipsis;
    //    white-space: nowrap;
    //}
    //
    //small {
    //    font-size: .875rem;
    //}
    //
    //> .field-display {
    //    font-size: .875rem;
    //    margin-bottom: .5em;
    //    padding: 1rem 1.25rem 0;
    //}
    //
    //.field-display-data,
    //.field-display-data * {
    //    font-size: .875rem !important;
    //}
    //
    //.marker-map {
    //    border-bottom: 1rem solid $white;
    //    box-sizing: content-box;
    //    margin: -1rem 1rem 1rem;
    //
    //    a {
    //        font-size: 10px;
    //    }
    //}
    //
    //.location {
    //    font-size: .875rem;
    //    margin-bottom: 1rem;
    //    margin-left: 1rem;
    //    padding-right: 1rem;
    //    white-space: pre-line;
    //    word-break: break-all;
    //}
}

//.borderless-side-panel {
//    margin-bottom: 1.5rem;
//
//    h2 {
//        border-bottom: 2px solid $primary-color;
//        font-size: 1rem;
//        margin-bottom: .6rem;
//        padding-bottom: .5rem;
//    }
//
//    ul {
//        list-style: none;
//        margin: 0;
//
//        li {
//            font-size: .875rem;
//            margin-bottom: .4rem;
//        }
//    }
//}

$checklist-icon: "\f0ae";

.homepage .side-panel:first-child,
.side-panel.highlighted {
    .panel-links {
        border: 0;
    }


//
//    .marker-map {
//        border-bottom: 1rem solid $topbar-bg-color;
//    }
//
//    h2 {
//        @include primary-color-background;
//        border-bottom: 0;
//        padding: .75rem 1rem;
//        text-transform: uppercase;
//    }
//
//    &.without-title {
//        > ul {
//            padding: 0 0 1rem;
//
//            li:first-child {
//                @include primary-color-background;
//                margin-bottom: 1rem;
//                padding: .75rem 1rem;
//                text-transform: uppercase;
//            }
//
//            li {
//                min-height: .5rem;
//                padding: 0 1rem;
//
//                + li {
//                    margin-top: .25rem;
//                }
//            }
//        }
//    }
}