.quill-container {
    height: auto;
    margin-bottom: 1em;
    margin-top: 3em;
    min-height: 100%;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    margin-bottom: 0;
    height: 22px;
    width: 22px;
}

.ql-toolbar button.ql-active {
    background: #ddd;
}

.ql-editor p,
.ql-editor ul,
.ql-editor ol,
.ql-editor table,
.ql-editor dl,
.ql-editor blockquote,
.ql-editor pre {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 1em;
}


.ql-toolbar {
   position: absolute;
   top: 0;
   left:0;
   right:0
}

.scrolling-container {
    min-height: 100%;
    overflow-y: auto;
}
