{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": false,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "settings": {
        "react": {
            "version": "15.3.2"
        }
    },
    "rules": {
        "accessor-pairs": ["error", {"getWithoutSet": false, "setWithoutGet": true}],
        "array-bracket-spacing": ["warn", "never"],
        "arrow-parens": ["error", "always"],
        "arrow-spacing": ["error", {"before": true, "after": true}],
        "block-scoped-var": "error",
        "block-spacing": ["warn", "always"],
        "brace-style": [0, "1tbs", {"allowSingleLine": false}],
        "callback-return": "off",
        "camelcase": [0, {"properties": "always"}],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["warn", {"before": false, "after": true}],
        "comma-style": ["warn", "last"],
        "complexity": ["warn", 10],
        "computed-property-spacing": ["warn", "never"],
        "consistent-return": "error",
        "consistent-this": ["warn", "self"],
        "constructor-super": "error",
        "curly": ["error", "all"],
        "default-case": "error",
        "dot-location": ["error", "property"],
        "dot-notation": ["error", {"allowKeywords": true, "allowPattern": ""}],
        "eol-last": "warn",
        "eqeqeq": "error",
        "func-names": "off",
        "func-style": "off",
        "generator-star-spacing": ["error", {"before": false, "after": true}],
        "global-require": "off",
        "guard-for-in": "error",
        "handle-callback-err": "off",
        "id-length": "off",
        "id-match": "off",
        "indent": ["warn", 4, {"SwitchCase": 1}],
        "init-declarations": "off",
        "jsx-quotes": ["warn", "prefer-double"],
        "key-spacing": ["warn", {"beforeColon": false, "afterColon": true, "mode": "minimum"}],
        "keyword-spacing": ["error", {"before": true, "after": true, "overrides": {}}],
        "linebreak-style": "off",
        "lines-around-comment": "off",
        "max-depth": "off",
        "max-len": "off",
        "max-nested-callbacks": ["warn", 3],
        "max-params": "off",
        "max-statements": "off",
        "new-cap": [0, {"newIsCap": true, "capIsNew": true}],
        "new-parens": "warn",
        "newline-after-var": "off",
        "no-alert": "warn",
        "no-array-constructor": "warn",
        "no-bitwise": "off",
        "no-caller": "error",
        "no-catch-shadow": "off",
        "no-class-assign": "error",
        "no-cond-assign": ["error", "except-parens"],
        "no-console": "warn",
        "no-const-assign": "error",
        "no-constant-condition": "error",
        "no-continue": "warn",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-delete-var": "warn",
        "no-div-regex": "error",
        "no-dupe-args": "error",
        "no-dupe-class-members": "off",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-else-return": "off",
        "no-empty-character-class": "error",
        "no-empty": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-ex-assign": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": ["error", "functions"],
        "no-extra-semi": "warn",
        "no-fallthrough": "warn",
        "no-floating-decimal": "warn",
        "no-func-assign": "error",
        "no-implicit-coercion": ["warn", {"boolean": false, "number": true, "string": false}],
        "no-implied-eval": "error",
        "no-inline-comments": "off",
        "no-inner-declarations": [0, "both"],
        "no-invalid-regexp": "error",
        "no-invalid-this": "off",
        "no-irregular-whitespace": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "warn",
        "no-loop-func": "error",
        "no-mixed-requires": "off",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multi-spaces": ["error", {"exceptions": {"VariableDeclarator": true,  "ImportDeclaration": true, "AssignmentExpression": true, "ObjectExpression": true}}],
        "no-multi-str": "error",
        "no-multiple-empty-lines": ["warn", {"max": 1}],
        "no-native-reassign": "error",
        "no-negated-in-lhs": "error",
        "no-nested-ternary": "warn",
        "no-new-func": "error",
        "no-new-object": "warn",
        "no-new-require": "off",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-obj-calls": "error",
        "no-octal-escape": "error",
        "no-octal": "error",
        "no-param-reassign": "off",
        "no-path-concat": "off",
        "no-plusplus": "off",
        "no-process-env": "warn",
        "no-process-exit": "off",
        "no-proto": "error",
        "no-redeclare": ["error", {"builtinGlobals": true}],
        "no-regex-spaces": "error",
        "no-restricted-modules": "off",
        "no-restricted-syntax": "off",
        "no-return-assign": ["error", "except-parens"],
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow-restricted-names": "error",
        "no-shadow": ["error", {"builtinGlobals": false, "hoist": "all"}],
        "no-spaced-func": "warn",
        "no-sparse-arrays": "error",
        "no-sync": "off",
        "no-ternary": "off",
        "no-this-before-super": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": ["warn", {"skipBlankLines": false}],
        "no-undef-init": "warn",
        "no-undef": "off",
        "no-undefined": "off",
        "no-underscore-dangle": "off",
        "no-unexpected-multiline": "error",
        "no-unneeded-ternary": ["warn", {"defaultAssignment": true}],
        "no-unreachable": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": ["warn", {"vars": "local", "args": "all", "argsIgnorePattern": "^_"}],
        "no-use-before-define": "warn",
        "no-useless-call": "warn",
        "no-useless-concat": "error",
        "no-var": "off",
        "no-void": "error",
        "no-warning-comments": ["warn", {"terms": ["todo", "fixme"], "location": "start"}],
        "no-with": "error",
        "object-curly-spacing": ["warn", "never"],
        "object-shorthand": "off",
        "one-var": "off",
        "operator-assignment": "off",
        "operator-linebreak": ["warn", "after"],
        "padded-blocks": "off",
        "prefer-arrow-callback": "off",
        "prefer-const": "warn",
        "prefer-reflect": "off",
        "prefer-spread": "off",
        "prefer-template": "off",
        "quote-props": ["warn", "as-needed", {"keywords": false, "unnecessary": false, "numbers": true}],
        "quotes": [0, "single", "avoid-escape"],
        "radix": "warn",
        "react/display-name": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-boolean-value": "warn",
        "react/jsx-closing-bracket-location": "warn",
        "react/jsx-curly-spacing": "warn",
        "react/jsx-equals-spacing": "warn",
        "react/jsx-handler-names": "warn",
        "react/jsx-indent-props": "warn",
        "react/jsx-indent": "warn",
        "react/jsx-key": "warn",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-no-bind": "warn",
        "react/jsx-no-duplicate-props": "warn",
        "react/jsx-no-literals": "off",
        "react/jsx-no-undef": "off",
        "react/jsx-pascal-case": "warn",
        "react/jsx-sort-props": "off",
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/jsx-wrap-multilines": "warn",
        "react/no-danger": "warn",
        "react/no-deprecated": "off",
        "react/no-did-mount-set-state": "warn",
        "react/no-did-update-set-state": "warn",
        "react/no-direct-mutation-state": "warn",
        "react/no-is-mounted": "warn",
        "react/no-multi-comp": "off",
        "react/no-set-state": "off",
        "react/no-string-refs": "warn",
        "react/no-unknown-property": "warn",
        "react/prefer-es6-class": "off",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/self-closing-comp": "warn",
        "react/sort-comp": "off",
        "react/sort-prop-types": "warn",
        "require-jsdoc": "off",
        "require-yield": "error",
        "semi-spacing": ["warn", {"before": false, "after": true}],
        "semi": ["warn", "always"],
        "sort-vars": "off",
        "space-before-blocks": ["warn", "always"],
        "space-before-function-paren": ["warn", "never"],
        "space-in-parens": ["warn", "never"],
        "space-infix-ops": ["warn", {"int32Hint": false}],
        "space-unary-ops": ["warn", {"words": true, "nonwords": false}],
        "spaced-comment": ["warn", "always", {"exceptions": ["/"]}],
        "strict": [0, "global"],
        "use-isnan": "error",
        "valid-jsdoc": "off",
        "valid-typeof": "error",
        "vars-on-top": "off",
        "wrap-iife": ["error", "inside"],
        "wrap-regex": "warn",
        "yoda": [0, "never"],
    }
}
