language: python
python: "3.4"
env:
    - TOXENV=py34
    - TOXENV=pep8
install:
    - pip install tox
    - if [ "$TOXENV" = 'py34' ]; then pip install coveralls; fi
script:
    - tox -e $TOXENV
after_success:
    - if [ "$TOXENV" = 'py34' ]; then coveralls; fi
    - 'if [ "$TOXENV" = "py34" ]; then $TRAVIS_BUILD_DIR/.tox/py34/bin/pip freeze | sed -r "s/^-e git.*?egg=([a-z\.]+)-v([0-9\.]+)$/\1==\2/g" > $TRAVIS_BUILD_DIR/requirements.txt; fi'
    - if [ "$TOXENV" = 'py34' ]; cat requirements.txt; fi

deploy:
  - provider: releases
    api_key:
        secure: "mrzPxXNe5Cmw59rtSK87W6NcOyvXFjABs3WcnGzpouhpkaokfX+MrWoXEivtUDTm8uGZKsZG2LouSQjZMZAagDN34ilPuyglWa1WSVrHdcpKcXKZ7VFSlAdl/csbwDnS4C4rX7xFYILwvXJpqHSH8yHTGetok67Rg9VCk3y0DjACaPzEY2+JILB0LtjvgNUKYyJ61H/3OEGH5ELndvh8YLuGJGrmCpf3i+SKcA/JAf7kfX+CgjpMqlM2sRUhcOgpvkBr4QeSa6OieRF+rrZfyHkebf4TyYx+aJzixVwBZwmDI7yau1q69M1S22XfQN1XFHUTHIeSZCNWBDHeArMv4iNFg90htaiwZ/VKUgiEPMzetPp7Qb5LqC2AZZoV912mLtQ1x95jW10j8XWxM0cGF8W9g/j7abjzBXBveavGCSQSVH5rmq1H+vAE8HlKcSfR+8ddmCkqg6wJdMyDeUPDZq2b22/GCT3GStCxXIDezzyjwU52wX0bBZSSRSpolLBDNiVqgX6APRYHZfRvH0j3zHpjJn0sSeoKNL7OjX+6LCkMmI5u0lX1WMyajRc/FcCZnk50hffmF4VH6NYKkfbrJdzdWgiwi+HIa5VerK0z6H3X1tXf6LRC4l8oqMwhOjFYWZhqb2Vcqj+xHJ1QZ0nxoh7BPPZT1qzn/oHP2NQj7F8="
    file: requirements.txt
    skip_cleanup: true
    on:
        tags: true
        condition: $TOXENV = py34

  - provider: pypi
    distributions: "sdist bdist_wheel"
    user: seantis
    password:
        secure: "WbJ35XLtPWTrfDcyuNC/cWsRl4JF8gUgYtSB/fQsX17F17Mm07lDwZCCfMM+Ys/+Wb8zKUDf3IcyxifWo5XdkQ3Gm0LZLAih4aCLevFtBI6LWXluzEccSQBlvaSzKBOhpAuLWHwyKtMZ0z/U9m3g2kHiKgjkovP5dZtgJOpDt1YkGw+NetAh8QrWNHMa9RyaPW5ifpkxa3uCD4MqGUD7/vJTxyCIs6YCPyRxF9P/WjrdAteXEa3WyN9mhslkn5UDBI1ELlZ+k4J5NheqjBYJPCEEraxBU81IYEYGIV01Vejt9JO8ivKBBm1BqmravSjUASvjYPHKVmyiSZX5nj0E3Fk+W4n7RjCF957Rtj3vnNN2576NE2bjnYLcmjUfWV6sWmyci0quePS47sMr7+geG3p0oWlHkKxc/WAzZOadRnir55bYRCrMZbUIfQawIWPYok00YFRL2iDjYv9DDJWIxqc7dZIaSI3xlSh9rfHwjEV6kTVyK1beL+zAIiBvfMUi0B47BCT2A6TpUnK7afgQAljBnmof/8pkt0Ct9htbVZ9MX3XKBttDo2Gby6mje4LaxCbG2kSZ9Sj0PS5BjfABXM0sDy5qwmpL14TMtAegFATV/d8h8z10iMilIHj0C4Ko5tOybmJ/PztQcdfnPlnC6sG7Rea4QLEqfkmgC188SJs="
    on:
        tags: true
        condition: $TOXENV = py34
