/*
    The maximum width of a line relative to the font. This limits textblocks
    to a readable length.
*/

$course-description-line-width: 100%;
$green-color: #16b749;
$red-color: #ca0020;
$orange-color: #eda815;
$dark-gray-color: #a9a9a9;
$gray-color: #808080;

.page-text {
    p {
        max-width: $course-description-line-width;
    }
}

// Removes margin for button inside a table td
td {
    a.button,
    button.button,
    div.switch,
    fieldset.switch {
        margin: 0;
    }
}

/*
    Accordion adjustments
*/

dd.accordion-navigation + dd.accordion-navigation,
dl.accordion + a {
    margin-top: 1rem;
}

/*
    fonts
*/

.grayed-out {
    color: $dark-gray-color;
}

.text-red {
    color: $red-color;
}

.text-orange {
    color: $orange-color;
}

.text-green {
    color: $green-color;
}

/*
    Edit-bar icons
*/
.edit-bar {
    .add-icon::before { @include icon-bold('\f067'); }
    .invite-attendees::before { @include icon('\f0a1'); }
    .new-event::before { @include icon('\f133'); }
    .subscriptions::before { @include icon-bold('\f19d'); }
    .add-external::before { @include icon-bold('\f234'); }
    .email-link::before { @include icon-bold('\f0e0'); }
    .duplicate-link::before { @include icon('\f24d'); }
    .add-placeholder::before { @include icon('\f007'); }
    .print-icon::before { @include icon-bold('\f02f'); }
    .cancel-icon::before { @include icon-bold('\f05e'); }
    .audit-icon::before { @include icon-bold('\f00b'); }
}

.info-panel {
    @include smooth-edges ;
    background-color: $topbar-bg-color;
    padding: 2rem;
    padding-bottom: 1.5rem;
}

/*
    Global tool icons
*/
.globals {
    .attendees::before { @include icon-bold('\f1ae'); }
    .subscriptions::before { @include icon-bold('\f19d'); }
}

/*
    Tables
*/

.no-wrap {
    white-space: nowrap;
}

.events-table {
    border: 1px solid $gray-light;
    border-width: 1px 1px 0;

    td > span {
        padding-right: 1em;
    }
}

.fullwidth {
    width: 100%;
}

// Table icons

.locked-icon::before { @include icon-bold('\f023'); }
.locked-icon-after::after { @include icon('\f023'); }
.unlocked-icon::before { @include icon('\f09c'); }
.visible-icon::before { @include icon('\f06e'); }
.hidden-icon::before { @include icon('\f070'); }
.check-icon::before { @include icon-bold('\f00c'); }

/*
    Links
*/

a.grayed-out {
    color: $dark-gray-color;

    &:hover {
        color: $gray-color;
    }
}

/*
    Navigation
*/

.tab-navigation {
    margin-bottom: 1em;
    margin-top: 1em;

    .left {
        li.active {
            border-left: 2px solid $primary-color;
        }
    }
}

/*
    Field Display adjustments
*/

.field-display > dd {

    margin-bottom: 0;

    &:last-child {
        margin-bottom: 1rem;
    }
}

/*
    Subscription and general Printout
*/
@media print {

    .globals,
    input.button {
        display: none;
    }

    .print-checked::before { @include icon('\f046'); }

    .print-unchecked::before { @include icon('\f096'); }

    .breadcrumbs {
        display: none;
    }

    .subscription-table {
        a.button {
            display: none;
        }
    }
}

/*
    Audit filter panel
*/
.filter-title {
    border-bottom: 2px solid $primary-color;
    font-size: $h4-font-size - $h4-font-reduction;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0 0 .25rem;
}

.filter-panel {
    margin-bottom: 2rem;

    input.button:last-child {
        margin-bottom: 0;
    }

    ul.tags {
        list-style: none;
        margin: 0 0 .75rem;
        padding: 0;

        li {
            display: inline-block;
            font-size: .875rem;
            margin-bottom: 8px;

            &:hover .blank-label {
                @include primary-color-background;
                border: 1px solid $primary-color;
            }
        }

        a {
            font-size: .8rem;
            line-height: .8rem;
            white-space: normal;
        }

        span {
            margin-bottom: 0;
            text-align: left;
        }
    }

    form {
        .formfields {
            margin-bottom: 0;
        }

        .button {
            margin-top: 0;
        }
    }

    .filters ul + ul {
        margin-top: .5rem;
    }

    .label-text {
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: .5rem;
        color: $form-label-color;
        font-size: $form-label-font-size;
    }

}

.disabled {
    cursor: default !important;
}

/* Remove OGC-Login on FSI-Page */
.ogc-login {
    display: none;
}

.main-title {
    max-width: 100%;

}