language: python
python: "3.5"
cache: pip

env:
    - TOXENV=py34
    - TOXENV=py35
    - TOXENV=pep8

addons:
    postgresql: "9.3"

install:
    - pip install tox
    - if [ "$TOXENV" = 'py34' ]; then pip install coveralls; fi

script:
    - tox -e $TOXENV

after_success:
    - if [ "$TOXENV" = 'py34' ]; then coveralls; fi

deploy:
    provider: pypi
    distributions: "sdist bdist_wheel"
    user: seantis
    password:
        secure: "z4NwrbcX3hdu2Gs2BHeQarSlRyhIxfGk67WKHP8/nteTaCcNA295PxF8FnoW4OkGtFQHglLYkeP3iofWqflXHiJEtcEpTTebN2APMO6UOU1XHc0mnOebovA3z3oIpnEbPXuviQqP/LnSvVclKN6+qoswfCZPGvFamiv3Z+rUmtymrRHt1zWKpah3h43ZfaC5imlrIKrODZU3zk8piAS+vCH26sLSVorlgdc6Z07LVWct08zEZKDyFSgFDMIgcsns/OY32Y7LoXNQq8Q/HPbcpBG5FRVWgIasozDQyQ5gYCoj/E3Ar/g1EaOO9F7zpm5I66Gzc1s0/i3kpYGtX3fmDK8JJrxd1P8pb6rOrET0h+SGhxMOECvhpTDuMRB7Y9R1ZX/FSkS4WUf3nTSB93a654Sef7nv1KCunWz1Q626K74UFsDQDPT4ujL9PMZJ0MygOWJO2U4CY+8aIjMpRvBkHzZzc/ps8JqqLdU/0F2TytQzgzZlk9SKx3xlDmt7d0VMExg2n4xja3I/4rIMqNZzvSVKFu/35ma3PFMsFajFYrUjyGKNCuJSftZ1jOTrOj2vWBaxyaxB/wLssk54+Kkpm3Gu0cR662iQJOhtmvYxXtbfS3xR7KRyHCVkoojof1ffO7wS3ez6e7DSyVj2Lpi/x/GAJAvtN59xB37aQ29ZE50="
    on:
        tags: true
        condition: $TOXENV = py34
