/*
    alert boxes
*/
$alert-icon: '\f06a';
$info-icon: '\f05a';
$success-icon: '\f058';
$warning-icon: '\f071';

#alert-boxes {
    .alert-box, .callout {
        margin-top: 1rem;

        &:last-child {
            margin-bottom: 1rem;
        }
    }

}

.homepage-warning {
    background-color: $warning-color;
    display: flex;
    flex-direction: row;
    font-size: inherit;

    .icon {
        margin-right: .5rem;

        &::before {
            @include icon-bold($info-icon);
        }
    }
}

.alert-box {
    border: 0;
    padding: .75rem 2rem .75rem .875rem;
    vertical-align: middle;

    &.callout {
        padding: .5rem .5rem .5rem 1rem;
    }

    .close-button {
        font-size: 1.5rem;
    }

    &::before {
        font-size: 1.1rem;
        line-height: .8;
        margin-right: .5rem;
        position: relative;
        top: -1px;
        vertical-align: middle;
    }

    &.alert.alert {
        color: $alert-color;
        &::before { @include icon-bold($alert-icon); }
    }

    &.info.info {
        color: get-color(info);
        &::before { @include icon-bold($info-icon); }
    }

    &.success.success {
        color: $success-color;
        &::before { @include icon-bold($success-icon); }
    }

    &.warning.warning {
        color: $warning-color;
        &::before { @include icon-bold($warning-icon); }
    }

    &[data-closable] {
        padding-right: 2.25rem;
    }
}
