/*
    Allocation rules
*/

.allocation-rules {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;

    .allocation-rule {
        background: $snow;
        border-radius: 2px;
        flex: 0 0 32.66%;
        margin-bottom: 1rem;
        margin-right: 1%;
        position: relative;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @include breakpoint(small only) {
        .allocation-rule {
            flex: 0 0 100%;
            margin-right: 0;
        }
    }

    .allocation-rule-details > div:first-child .field-display:first-of-type {
        dt {
            display: none;
        }

        dd {
            background: $silver;
            border-radius: 2px 2px 0 0;
            font-size: 1rem;
            font-weight: bold;
            left: -.5rem ;
            margin-bottom: -.25rem;
            padding: 0 8rem .2rem .5rem;
            position: relative;
            top: -.5rem;
            width: calc(100% + 1rem);
        }
    }

    .allocation-rule-details {
        padding: .5rem .5rem 0;

        * {
            font-size: .8rem;
        }

        h2 {
            display: none;
        }

        dd {
            margin-bottom: .25rem;
        }
    }

    .allocation-rule-actions {
        background: $silver;
        font-size: .8rem;
        text-align: right;
        padding: .25rem .5rem;
    }
}

/*
    Reservation
*/

.reservation-pending {
    color: #999;

    .has-tip {
        font-size: .8rem;
        vertical-align: text-bottom;
    }
}
