$bar-size: 45px;
$bar-color: $primary-color;
$bar-rounded: 3px;

$grid-color: $smoke;

.chart-wrap {
    font-family: sans-serif;

    .title {
        text-align: center;
  }
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid $grid-color;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 19.5%,
    fadeout($grid-color, 30%) 20%
  );

  .bar {
    background-color: $bar-color;
    width: $bar-size;
    height: var(--bar-value);
    align-self: flex-end;
    margin: 0 auto;
    border-radius: $bar-rounded $bar-rounded 0 0;
    position: relative;

    &.bar:hover {
      opacity: 0.7;
    }

    &::after {
      content: attr(data-name);
      top: -3em;
      padding: 10px;
      display: inline-block;
      white-space: nowrap;
      position: absolute;
      transform: rotate(-45deg);
    }
  }

  &.horizontal {
    flex-direction: column;
    border-bottom: none;
    border-left: 2px solid $grid-color;
    background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 19.5%,
      fadeout($grid-color, 30%) 20%
    );

    .bar {
      height: $bar-size;
      width: var(--bar-value);
      align-self: flex-start;
      margin: 5px 0 5px 0;
      border-radius: 0 $bar-rounded $bar-rounded 0;

      &::after {
        top: initial;
        padding: 0 10px;
        display: inline-block;
        margin: 10px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        position: absolute;
        transform: rotate(0deg);
        line-height: calc($bar-size - 10px);
      }
    }
  }
}
