.chat {
    #chat-form {
        align-items: end;
        display: flex;
        margin-bottom: 2rem;

        #send {
            height: fit-content;
            margin-left: 2rem;

            &:hover {
                margin-left: 1.5rem;
            }
        }
    }

    .card {
        border: 0;
        display: block;
        max-width: 70%;
        width: fit-content;

        .card-section {
            @include smooth-edges;

            p {
                white-space: pre-wrap;
            }
        }

        .info {
            color: $iron;
            margin-bottom: 0;
            margin-left: .7rem;
            margin-right: .7rem;
        }

        .card-section + .info {
            text-align: right;
        }

        &.right {
            margin-left: auto;

            .card-section {
                background: $primary-color;
                color: $white;
            }
        }

        &.left {
            margin-right: auto;

            .card-section {
                background: $white-smoke;
            }
        }
    }

    #message-area {
        height: calc(60vh - 90px);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .notification {
        background: $white-smoke;
        border-radius: 100px;
        color: $base;
        padding: .7rem 1.2rem;
        place-self: center;
    }

    .open-request {
        cursor: pointer;

        .list-lead {
            margin-left: 2rem;
        }
    }

    .blob {
        animation: pulse-color 2s infinite;
        background-color: $primary-color;
        border-radius: 50%;
        display: block;
        float: left;
        height: .9rem;
        margin-right: 1rem;
        margin-top: .3rem;
        width: .9rem;
    }

    @keyframes pulse-color {
        0% {
            box-shadow: 0 0 0 0 scale-color($primary-color, $lightness: 70%);
            transform: scale(.9);
        }

        70% {
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            transform: scale(1);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            transform: scale(.9);
        }
    }

}

.ticket-chat #message-area {
    border: 1px solid $gainsboro;
    height: auto;
    max-height: calc(60vh - 90px);
    padding: 1rem;
}

.dropdown-pane {
    max-width: calc(100vw - 2rem);
    opacity: 0;
    transition: opacity .25s ease-in-out;
    visibility: visible;

    &.is-open {
        opacity: 1;
    }
}

