.field-type-chosenselectfield .chosen-select,
.field-type-peoplefield .people-select {
    display: none !important;
}

.chosen-container {
    box-shadow: none !important;
    margin: 0 0 1rem;

    .chosen-choices {
        @include smooth-edges;
        box-shadow: inset 0 1px 2px rgba(15,15,15,0.1);
        padding: .4rem !important;
    }

    .chosen-search input[type="text"] {
        border: none !important;
        border-bottom: 1px solid $gainsboro !important;
        margin-bottom: .5rem !important;
    }
}

.chosen-single {
    background: $white !important;
    border: $input-border !important;
    border-radius: .7rem !important;
    box-shadow: none !important;
    color: $input-color  !important;
    font-family: $input-font-family !important;
    font-size: $input-font-size !important;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1)) !important;
    padding: ($form-spacing / 3) ($form-spacing / 2) !important;

    abbr {
        margin-top: .35rem;
    }

    div > b {
        margin-top: .3rem;
    }
}

.chosen-drop {
    border: $input-border !important;
    border-radius: .7rem !important;
    margin-top: 0px !important;
    padding: .5rem !important;

    .active-result.highlighted {
        background: $silver !important;
        color: $oil !important;
        border-radius: .3rem !important;
    }

    * {
        font-family: $input-font-family !important;
        font-size: $input-font-size !important;
    }
}
