.field-type-chosenselectfield .chosen-select,
.field-type-peoplefield .people-select {
    display: none !important;
}

.chosen-container {
    box-shadow: none !important;
    margin: 0 0 1rem;

    .chosen-choices {
        @include smooth-edges;
        box-shadow: inset 0 1px 2px rgba(15,15,15,0.1);
        padding: .4rem !important;
    }
}

.chosen-single {
    background: $input-shadow !important;
    border: $input-border !important;
    color: $input-color  !important;
    font-family: $input-font-family !important;
    font-size: $input-font-size !important;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1)) !important;
    padding: ($form-spacing / 3) ($form-spacing / 2) !important;
}

.chosen-drop {
    * {
        font-family: $input-font-family !important;
        font-size: $input-font-size !important;
    }
}
