/*
    Dashboard
*/
.boardlet-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boardlet {
    background: $gray-pastel;
    border-top: 10px solid $green-light;
    margin-bottom: 1.5rem;
    padding: .5rem 1rem 1rem;
    width: calc((100% / 3) - 1rem);

    h2 {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        word-wrap: break-word;
    }

    li {
        font-size: .9rem;
    }

    &.boardlet-warning {
        border-top-color: $yellow-light;
    }

    &.boardlet-failure {
        border-top-color: $red-light;
    }
}

@include breakpoint(medium only) {
    .boardlet {
        width: calc(50% - 1rem);
    }
}


@include breakpoint(small only) {
    .boardlet {
        width: 100%;
    }
}
