/*
    Custom daypicker styling (we ignore upstream completely)
*/
.DayPicker {
    * {
        @include prefix(user-select, none);
        font-size: .875rem;
    }

    *:focus {
        outline: none;
    }

    .DayPicker-Day--past {
        color: $base;
    }

    [role="rowgroup"] {
        width: 100%;
    }

    [role="row"] {
        display: flex;

        > div {
            flex: 1 0;
            font-size: .875rem;
            height: auto;
            line-height: 2.25;
            position: relative;
            text-align: center;
        }

        > div:nth-child(6),
        > div:nth-child(7) {
            background: $white-smoke;
        }

        > [aria-selected="true"] {
            font-weight: bold;
        }

        > [aria-selected="true"]::after {
            background-blend-mode: difference;
            border-bottom: 3px solid $primary-color;
            bottom: 0;
            color: $primary-fg-color;
            content: '';
            display: block;
            height: 1.75rem;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 1.75rem;
        }
    }

    [role="columnheader"] * {
        border: 0;
        cursor: default;
        text-decoration: none;
        text-transform: uppercase;
    }

    [role="heading"] {
        text-align: center;

        div {
            display: inline-block;
            margin-bottom: .4rem;
        }
    }
}

.DayPicker-NavBar [role="button"] {
    &:hover {
        cursor: pointer;

        &::before {
            color: $anchor-font-color-hover;
        }
    }

    &::before {
        color: $anchor-font-color;
        font-family: "FontAwesome";
        line-height: 1.7;
        position: absolute;
        text-align: center;
        width: 8%;
    }

    &:first-child::before {
        content: '\f104';
        left: 4%;
    }

    &:last-child::before {
        content: '\f105';
        right: 4%;
    }
}

.DayPicker-NavButton--interactionDisabled {
    display: none;
}
