/*
    Directories
*/

.directories-map {
    border-radius: .7rem;
    margin-bottom: 1.4rem;
}

/*
    Directory thumbnails
*/
.with-thumbnails {
    li:not(.medium-6) {
        border-top: 1px solid $vapor;
        padding: 1rem .5rem;

        a.list-link {
            border-top: 0;
            height: 100%;
        }
    }
}

.directories-list {
    .card-section a {
        display: block;
    }

    .card-section small {
        font-family: $header-font-family;
    }
}

.publication-nav {

    display: flex;

    .dropdown-pane {
        max-width: 20ex;
        padding: 0;
    }

    .f-dropdown {
        margin: 0;

        li:hover {
            @include primary-color-background;
            @include smooth-edges;
            a { color: $white; }
        }

        a {
            font-size: .875rem;
            padding: .5rem;
        }
    }
}

.further-information {
    margin-bottom: 4rem;
}

.directory-list {
    margin-bottom: 4rem;

    .learn-more {
        display: block;
        text-align: center;
        width: 100%;
    }
}

#directory-lead {
    margin-bottom: 2rem;
    @media #{$medium-up} {
        margin-bottom: 4rem;
    }
}
