/*
    Directories
*/

.directories-map {
    height: $full-width-banner-height;
    margin-bottom: 1.4rem;
}

/*
    Directory thumbnails
*/
.with-thumbnails {
    list-style-type: none;
    margin: 0;

    li {
        display: flex;

        .thumbnail {
            border-radius: 5px;
            box-shadow: none;
            flex: 2;
            margin-right: 1rem;
            overflow: hidden;
            position: relative;

            & + div {
                flex: 10;
            }

            img {
                border-radius: 5px;
                max-height: 150px;
                object-fit: cover;
                vertical-align: top;
                width: 100%;
            }
        }
    }
}

.directories-list {

    > div.cards-container {
        display: flex;
    }

    .card {
        margin-right: 1rem;
        max-width: 12ex;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .card-section a {
        display: block;
        font-weight: bold;
    }
}
