/*
    Directories
*/

.directories-map {
    height: $full-width-banner-height;
    margin-bottom: 1.4rem;
}

/*
    Directory thumbnails
*/
.with-thumbnails {
    li:not(.medium-6) {
        border-top: 1px solid $vapor;
        padding: 1rem .5rem;

        a.list-link {
            border-top: 0;
            height: 100%;
        }
    }
}

.directories-list {
    .card-section a {
        display: block;
        font-weight: bold;
    }

    .card-section small {
        font-family: $header-font-family;
    }
}

.publication-nav {

    display: flex;
    justify-content: flex-end;

    .dropdown-pane {
        max-width: 20ex;
        padding: 0;
    }

    .f-dropdown {
        margin: 0;

        li:hover {
            @include primary-color-background;
            a { color: $white; }
            border-radius: .7rem;
        }

        a {
            font-size: .875rem;
            padding: .5rem;
        }
    }
}

.directory-list {
    .entry-number {
        display: none;
    }

    .learn-more {
        display: block;
        width: 100%;
        text-align: center;
    }
}

body[data-default-marker-icon="numbers"] .entry-number {
    display: inherit;
}
