/*
    Events
*/
$events-icon-width: 3ex;
$placeholder-icon-size: 5rem;
$event-image-max-height: 150px;

.events {

    .event-item > a {
        width: 100%;
    }

    .card img {
        max-height: $event-image-max-height;
        object-fit: cover;
        transition: transform .5s ease;
        width: auto;
    }

    @media #{$small-only} {
        .no-image,
        .no-image.image-placeholder {
            display: none;
        }
    }

    .contained {
        border-bottom: 1px solid $iron;
        border-top: 1px solid $iron;
    }

    h5 {
        padding-bottom: 0 !important;
        margin-bottom: 1rem;
    }

    .date-place {
        color:  $charcoal;
        i { width: $events-icon-width; }
    }

    hr {
        border-bottom: 1px solid $gray;
        margin: .5rem 0;
    }

    .image-placeholder {
        display: flex;
        justify-content: center;
        max-height: $event-image-max-height;
        position: absolute;

        .far {
            color: $iron;
            font-size: $placeholder-icon-size;
            height: $placeholder-icon-size;
            margin: auto;
            padding: 1.5rem;
            width: $placeholder-icon-size;
        }
    }

    .card-section:first-of-type {
        // so that the first section does not grow and images are top-aligned
        &:first-of-type {
            flex-grow: 0;
        }

        a {
            font-size: 967;
            font-weight: bold;
            i { width: $events-icon-width; }
        }
    }

    a.lead {
        color: $body-font-color;
    }

    h3 {
        display: inline-block;
    }
}

.imported-event-panel p {
    font-size: .875rem;
}

.imported-event {
    display: inline-block;
    font-size: .8rem;
    margin-top: .5rem;
}

// raise importance a bit by double-selecting
.occurrence.occurrence {
    h3 {
        font-weight: bold;
    }

    .occurrence-date {
        font-size: .875rem;
        margin-bottom: .5rem;
        margin-top: .75rem;
    }

    .occurrence-location,
    .occurrence-time {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    .occurrence-organizer {
        margin-bottom: .6rem;
    }
}

.event-preview {
    .occurrence {
        margin-bottom: 0;
    }
}

.occurrence-map,
.occurrence-image {
    margin-bottom: 3rem;
    max-width: $max-line-width;
}

.date-range-selector-results {
    border-bottom: 2px solid $primary-color;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.occurrences-filter-panel {
    margin-bottom: 2rem;
}

.occurrences-filter-tags,
.date-range-selector {
    margin-bottom: .5em;
}

.occurrence-tags,
.occurrence-filters {
    margin-bottom: 1.25em;
    font-size: .8rem;
}

.occurrence-description {
    margin-bottom: 1.25em;
    max-width: $max-line-width;
}

.event-more-link.button.hollow {
    border: 1px solid $gray;
}

.card:hover .event-more-link.button.hollow {
    border: 1px solid $primary-color;
}

.event-header {
    margin-bottom: 2rem;
}

.event-footer {
    margin-top: 2rem;
}