// we need to use exact pixel measurements for the footer or we end up with
// inconsistent results across browsers, which might mean the difference between
// showing a scrollbar and not showing one
$footer-text-color: $primary-fg-color;
$footer-hover-color: $primary-fg-color;

.footer-container {
    background-color: $primary-color;
    margin-top: 50px;
}

#page-root .footer-container {
    margin-top: 0;
}

.footer-content {

    * {
        color: $footer-text-color;
        line-height: 1.5rem;
    }

    h2 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 13px;
    }

    h2.custom-links {
        text-transform: none;
    }

    .cell {

        @include clean-ul;
        padding-bottom: .5rem;
        padding-top: 1.25rem;

        p {
            line-height: 1.5rem;
            margin-bottom: .5rem;
        }

        a:hover {
            color: $footer-hover-color;
        }
    }

    .footer-links {
        padding: .5rem 0;
        position: relative;
        text-align: center;

        &.cell {
            span + span::before {
                content: '•';
            }
        }
    }

}

.partners {
    .card {
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 20px;

        @include breakpoint(small only) {
            padding: 10px;
        }
    }
}
