// we need to use exact pixel measurements for the footer or we end up with
// inconsistent results across browsers, which might mean the difference between
// showing a scrollbar and not showing one
$footer-text-color: $primary-fg-color;
$footer-hover-color: $primary-fg-color;

.footer-container {
    background-color: $primary-color;
    padding: 3rem 0;
}

#page-root .content {
    padding-bottom: 0;
}

.footer-content {

    * {
        color: $footer-text-color;
        line-height: 1.5rem;
    }

    a {
        transition: all .2s linear;
        border-radius: .7rem;
    }

    .footer-link:hover {
        background: rgba(255, 255, 255, .2);
        padding: .1rem 0rem;
        margin: -.1rem 0rem;
    }

    h2 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 13px;
    }

    h2.custom-links {
        text-transform: none;
    }

    h5.custom-links {
        margin-top: .5rem;
    }

    &> .cell {

        @include clean-ul;
        padding-bottom: .5rem;
        padding-top: 1.25rem;

        p {
            line-height: 1.5rem;
            margin-bottom: .5rem;
        }

        a:hover {
            color: $footer-hover-color;
        }
    }

    .footer-links {
        padding: .5rem 0;
        position: relative;

        &.cell {
            span + span::before {
                content: '•';
            }
        }
    }

    .fas.fa-external-link-alt.fa-xs {
        display: none;
    }

}

.partners {
    @include breakpoint(small only) {
        margin-bottom: -1rem;


        &>div {
            margin-bottom: 1rem;
        }
    }

    .card {
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 20px;

        @include breakpoint(small only) {
            padding: 10px;
        }

        a {
            width: 100%;
        }
    }
}
