/*
    Errors
 */

small.error,
span.error {
    @include smooth-edges;

    background: $alert-color;
    color: $white;
    display: block;
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: -1px;
    padding: .5rem;
}

/*
    Forms
*/

form {

    label input,
    li input {
        position: relative;
        vertical-align: middle;

        &[type="checkbox"],
        &[type="radio"] {
            margin-bottom: .25rem;
        }
    }

    label {

        &.error, .upload-widget.error {
            color: $alert-color;
        }
    }

    label > ul,
    .upload-widget > ul,
    .group-label > ul {
        list-style: none;
        margin: 0;

        &:last-of-type {
            margin-bottom: .5rem;
        }

        li input[type="checkbox"],
        li input[type="radio"] {
            margin-bottom: .25rem;
        }
    }

    .duration-widget label {
        display: inline-block;
        white-space: nowrap;
        margin-right: .5rem;

        input {
            display: inline-block;
            width: auto;
            margin-right: .25rem;
        }
    }

    .label-text,
    label > ul label {
        max-width: 90%;
    }

    .label-text {
        color: $form-label-color;
        font-size: $form-label-font-size;
        font-weight: bold;
    }

    .field-type-booleanfield {
        margin-bottom: .5rem;
    }

    .field-help {
        color: $steel;
        font-size: .8rem;
        margin-left: 25px;
    }

    input + .label-text + .field-help {
        margin-left: 25px;
    }

    .long-field-help,
    .long-field-help p {
        color: $steel;
        font-size: .8rem;
        margin: 0 0 .5rem;
    }

    input.invalid,
    input.invalid:focus {
        border-color: $alert-color;
    }

    .label-required {
        color: $primary-color;
        font-weight: bold;
    }

    .map-wrapper {
        margin-bottom: 1rem;
    }

    fieldset {
        border: 0;
        border-top: 1px solid $table-border-color;
        margin-bottom: 1rem;
        padding: 0;

        &:last-of-type {
            margin-bottom: 0;
        }

        legend {
            font-size: $input-font-size;
            margin: 0 auto;
            padding: 0 .75rem;
        }
    }

    .formfields {
        margin-bottom: .75rem;
    }

    .fieldset .formfields:last-of-type {
        margin-bottom: 0;
    }

    /*
        Custom Style for the ace editor. Only use monospace fonts with ace.js
    */

    .code-editor-wrapper {
        @include form-element;
        height: auto;
        margin-bottom: .75rem;
        padding: 0;

        // Fixes cursor being off
        * {
            direction: ltr !important;
            font-family: $font-family-monospace;
            text-align: left !important;
        }

        // focused is a class because the wrapper doesn't get ':focus'
        &.focused {
            background-color: $input-background-focus;
            border: $input-border-focus;
            box-shadow: $input-shadow-focus;
        }
    }

    .upload-options {
        div input {
            margin-bottom: 0;
        }
    }

    .redactor-box {
        margin-bottom: .75rem;
    }

    // fixes redactor not working right in dependant field configurations
    label:not([style*="display: none"]) .redactor-editor:not([style]) + textarea[data-depends-on],
    label:not([style*="display: none"]) .redactor-editor:not([style*="display: none"]) + textarea[data-depends-on] {
        display: none !important;
    }

    .error {
        .code-editor-wrapper {
            margin-bottom: 0;
            padding: 0;
        }

        input[type="checkbox"],
        input[type="radio"],
        textarea {
            margin-bottom: inherit;
        }
    }

    .code-editor {
        &.read-only {
            background-color: $input-background-disabled;
            color: $steel;
            cursor: $input-cursor-disabled;
        }
    }

    .ace_content {
        color: inherit;
        font-size: 12px;
        line-height: 12px;
    }

    .ace_scroller {
        box-shadow: $input-shadow;
    }

    .focused .ace_scroller {
        background: $input-background-focus;
    }

    .ace-syntax-error {
        background: $yellow-light;
        position: absolute;
    }

    textarea.formcode-select {
        display: none !important;
    }

    .formcode-select {
        @include form-element;
        height: 100%;
        min-height: 2.3125rem;

        input[type="checkbox"] {
            margin-top: .25rem !important;
        }
    }

    .redactor-editor li {
        display: list-item;
    }

    li {
        align-items: baseline;
        display: flex;
        margin-bottom: .3rem;
    }

    .file-preview-wrapper {
        &:not(:empty) {
            @include smooth-edges;
            border: $input-border;
            margin-bottom: 1rem;
            padding: .5rem;
        }

        .file-details {
            /* FIXME:
                temporary to ensure a somewhat reasonable display
                within the form. Once this widget is more responsive
                we may be able to get away with displaying this
            */
            display: none;
        }

        .file-actions .button {
            padding: 0.85em .15em !important;
            margin-bottom: .5rem !important;

            &.delete {
                /* FIXME:
                    the delete button does not work well, since we
                    would need to remove the input after deletion
                    in order to not cause any issues.

                    All the actions assume a tabular layout, so
                    we either need to change the widget to adhere
                    to that layout or make the delete action more
                    flexible, so we can specify which elements
                    should be removed.

                    The rename button also has a small issue, in
                    that the name displayed above the file-preview-wrapper
                    will not be updated currently, so that should
                    be fixed as well, but it's not large enough of
                    an issue to hide that button as well...
                */
                display: none;
            }
        }
    }
}

form .icon-widget li {
    display: block;
}

/*
    the color picker field does not look right with zurb foundation
*/
input[type='color'] {
    background-color: transparent;
    border: 0;
    display: block;
    margin-bottom: 1rem;
    padding: 0;
}

input.has-field-help {
    margin-bottom: 0;
}

/*
    input buttons
*/

@mixin input-button {
    @include prefix-postfix-base;
    border-left: 0;
    box-sizing: border-box;

    // IE 9, 10 and 11 will put the link inside the button element because
    // Internet Explorer. Here we hide the result.
    a,
    .redactor-selection-marker {
        display: none;
    }
}

.input-with-button {

    input[type='text'] {
        border-radius: .7rem 0 0 .7rem !important;
    }

    .button.secondary{
        @include input-button;
        border-radius: 0 10rem 10rem 0 !important;
        height: 2.6rem !important;
        line-height: 1.5rem;
        padding: .5rem !important;

        &:hover {
            padding: .5rem !important;
        }
    }

    #redactor-modal-link-insert {
        > input,
        > label {
            display: none;
        }
    }
}

.many-plus-minus {
    align-items: center;
    display:flex;
}

.many-fields a.button.datetimepicker {
    @include input-button;
    padding: 0 !important;
    margin: 0 .5rem !important;

    &:hover {
        padding: 0 !important;
        margin: 0 .5rem !important;
    }
}

.fieldset-display {
    margin-bottom: 1em;

    .thumbnail {
        @include smooth-edges;
        flex: 2;
        margin-right: 1rem;
        overflow: hidden;
        position: relative;

        & + div {
            flex: 10;
        }

        img {
            @include smooth-edges;
            max-height: 150px;
            object-fit: cover;
            vertical-align: top;
            width: 100%;
        }
    }
}

.directory-fields .field-display p.thumbnail {
    border: 0;
    @include smooth-edges;
    cursor: zoom-in;

    img {
        border: 0;
        @include smooth-edges;
        margin: 0;
        transition: filter .25s ease-in-out;

        &:hover {
            filter: brightness(.9);
            transition: filter .25s ease-in-out;
        }
    }
}

dl.field-display,
dl.field-display > dt {
    margin-bottom: 0;
}

.display-fields {

    p.thumbnail {
        border-radius: 5px;
        padding: 0;

        img {
            border-radius: 5px;
            max-height: 150px;
            object-fit: cover;
            vertical-align: top;
        }
    }

    > dd,
    .field-display-data {
        margin-bottom: 1rem;

        img {
            margin-top: .5rem;
        }

        .marker-map {
            max-height: 300px;
            max-width: 500px;
        }

    }
}

.field-display-label {
    font-weight: bold;
}

.grid-x.fieldset-display-submit form {
    display: inline-block;
    margin-right: .5em;
}

/*
    Reservations Form
*/
.reservation-form {
    h2 {
        font-size: $h3-font-size - $h3-font-reduction;
        font-weight: bold;
    }

    input.highlighted {
        background-color: $yellow-pastel;
    }

    .select-previous-time {
        padding-bottom: 1px;
        padding-top: 5px;

        &:hover {
            font-weight: bold;
            text-decoration: none;
        }

        i {
            display: inline-block;
            padding-right: .75ex;
        }
    }

    .button:hover {
        margin-left: 0;
        margin-right: 0;
        padding: 1rem 1.5rem !important;
    }
}

/*
    Multiple dates in form
*/

.field-button {
    //height: 27px;
    margin-top: 30px !important;
    padding: 5px !important;
    text-align: center;
    //width: 27px;

    + .field-button {
        margin-left: 10px;
    }
}

.many-fields .date-error {
    margin-top: 1rem !important;
}

.many-fields a.button {
    margin: 1rem .2rem !important;
    padding: .5rem !important;

    &:hover {
        margin: 1rem .2rem !important;
        padding: .5rem !important;
    }
}

/*
    Checkout form
*/

// Todo: check if this class is used anywhere
.checkout {
    button + a.button,
    input.button + a.button {
        margin-left: .5rem;
    }
}

.checkout-button {
    margin-right: 1rem;

    &:hover {
        margin-right: .5rem;
    }
}

p.file-title {
    margin-bottom: .5rem;
    margin-top: 1.2rem;
}

.file-edit {
    background: $smoke;
    border-radius: .7rem;
    margin-left: .5rem;
    padding: .5rem;
    transition: all 200ms linear;

    &:hover {
        background: $iron;
        cursor: pointer !important;
    }
}
