/*
    Fullcalendar Integration
*/

@keyframes fadeout-box-shadow {
    to {box-shadow: none;}
}

.occupancy-calendar {
    .fc-view:not(.fc-list), .fc-view:not(.fc-list) + .fc-popover {
        .event-accepted,
        .event-accepted .fc-bg,
        .event-accepted .fc-content {
            border-width: 0;
            background-color: $blue-dark;
        }

        .event-pending,
        .event-pending .fc-bg,
        .event-pending .fc-content {
            border-width: 0;
            background-color: lighten(desaturate($blue-dark, 50%), 10%);
        }
    }

    .fc-event, .fc-event-main {
        padding: 0 !important;
    }

    .fc-event .fc-content {
        position: relative;
        z-index: 2;
        padding: 2px 4px;
        border-top-right-radius: 1.2rem;
        white-space: nowrap;

        &::first-line {
            font-weight: bold;
        }
    }

    .fc-event.fc-timegrid-event-short .fc-title {
        font-weight: bold;
    }

    .fc-list-item-title::first-line {
        font-weight: bold;
    }

    &[data-editable="true"] .fc-list-item {
        cursor: pointer;
    }

    .fc-bg {
        opacity: 1 !important;
        border-top-right-radius: 1.5rem;
    }

    .fc-bg-event {
        background-color: $green;
        opacity: .15;
        cursor: default !important;
    }
}

.calendar, .occupancy-calendar {

    margin-bottom: 1.5rem;

    button:focus {
        // XXX fullcalendar focuses the buttons when they are clicked,
        // resulting in the chrome accessibility outline.. now this is
        // helpful in allmost all the cases (and should not be disabled)
        // however, the calendar is not accessible as it is, so we might
        // as well remove this otherwise very jaring looking outline
        // -> the fullcalendar needs an accessible alternative, it can't
        // really be made accessible because it's a huge blob of html
        // tables designed to show a calendar...
        outline: none;
    }

    .fc-toolbar {
        align-items: end;

        &.fc-header-toolbar {
            margin-bottom: 2rem;
        }

        h2 {
            clear: both;
            display: block;
            float: none;
            margin-bottom: 1rem;
            max-width: 0;
            overflow: visible;
            text-align: left;
            white-space: nowrap;

            &:hover .fa {
                color: $primary-color;
            }
        }

        h2 + button {
            margin-left: 0 !important;
        }

        select {
            margin: 0;
        }
    }

    .partition-occupied {
        background: repeating-linear-gradient(
            45deg,
            $steel,
            $steel 10px,
            $iron 10px,
            $iron 20px
        );
    }

    .partition-free:hover {
        background: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIyNnB4IiBoZWlnaHQ9IjI2cHgiIHZpZXdCb3g9IjAgMCAyNiAyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4NCiAgICAgICAgPHBhdGggZD0iTTE3LjAzNDQ4MjgsOC45NjU1MTcyNCBMMTcuMDM0NDgyOCwwIEw4Ljk2NTUxNzI0LDAgTDguOTY1NTE3MjQsOC45NjU1MTcyNCBMMCw4Ljk2NTUxNzI0IEwwLDE3LjAzNDQ4MjggTDguOTY1NTE3MjQsMTcuMDM0NDgyOCBMOC45NjU1MTcyNCwyNiBMMTcuMDM0NDgyOCwyNiBMMTcuMDM0NDgyOCwxNy4wMzQ0ODI4IEwyNiwxNy4wMzQ0ODI4IEwyNiw4Ljk2NTUxNzI0IEwxNy4wMzQ0ODI4LDguOTY1NTE3MjQgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+DQogICAgPC9nPg0KPC9zdmc+');
        background-position: center;
        background-repeat: no-repeat;
    }

    .changing {
        .calendar-occupied {
            background: none;
        }
    }

    .fc-helper-skeleton *,
    .changing,
    .changing * {
        background-color: $primary-color !important;
    }

    .fc-dayGridMonth-view, .fc-multimonth {
        .fc-daygrid-day-number {
            font-size: .875rem;
            padding: .25rem .5rem;
        }
    }

    .fc-view.fc-multimonth {
        max-height: 850px;

        .fc-event .fc-content {
            max-height: 2.5rem;
            overflow-y: hidden;

            .fc-title {
                font-size: .675rem;
            }
        }
    }

    table {
        background-color: transparent;
        margin-bottom: 0;

        tr {
            background-color: transparent;
        }

        .fc-today {
            background: $yellow-pastel !important;

            &.fc-day {
                background: $yellow-pastel !important;
            }

            &.fc-day-top,
            &.fc-day-header {
                background: $yellow-light !important;
                opacity: 1;
            }
        }

        .event-in-past, .event-outside-booking-window {
            filter: grayscale(1);
        }

        .fc-daygrid-day-header,
        .fc-daygrid-day-number {
            font-size: .9em;
            text-align: center !important;
        }

        .fc-event {
            overflow: hidden;
            border: 0;
            border-radius: 2px;
            margin: 0 0 2px;
            padding: 2px 4px;
        }

        .fc-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            opacity: .25;
        }

        .event-unavailable {
            background-color: $red;
        }

        .event-partly-available {
            background-color: $orange;
        }

        .event-available {
            background-color: $green;
        }

        // fix borders missing with zurb foundation
        tbody div.fc-content-skeleton td {
            border-color: $gainsboro;
        }
    }

    .fc-event {
        div.fc-event-time,
        span.fc-event-time {
            display: none;
        }

        .fc-title {
            font-size: .8rem;
            padding: 0;
            text-overflow: ellipsis;
        }

        &.fc-timegrid-event-short .fc-title {
            display: inline-block;

            br {
                display: none;
            }
        }

        &.highlight {
            @include prefix(animation-delay, 3s);
            @include prefix(animation-duration, 2s);
            @include prefix(animation-fill-mode, forwards);
            @include prefix(animation-iteration-count, 1);
            @include prefix(animation-name, fadeout-box-shadow);
            box-shadow: 0 5px 0 $yellow;
        }
    }

    .fc-more-link {
        font-size: .8rem;
    }

    &.fc button,
    &.fc .fc-button {
        appearance: none;
        border-radius: .7rem;
        background-image: none;
        box-shadow: none !important;
        font-size: .9rem;
        height: 2.25rem;
        text-shadow: none;

        &.fc-button-active,
        &:disabled {
            background: $charcoal !important;
            color: $white !important;
            opacity: 1;
        }

        &:hover,
        &:focus,
        &:active {
          color: #333;
          background-color: #e6e6e6;
        }
    }

    &.fc .fc-button-primary {
        background-color: #f5f5f5;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        border-bottom-color: rgba(0, 0, 0, 0.25) !important;
        color: #333;
    }
}

.calendar .fc-event-main {
    // pass through pointer events to the background, where we have the
    // hover and javascript handling
    pointer-events: none;
}

.calendar-footer {
    background: $white-smoke;
    border: 1px solid $gainsboro;
    color: $steel;
    font-size: .8rem;
    margin-bottom: 1.5rem;
    margin-top: calc(-1.5rem - 1px);
    padding: 2px 5px;
    text-align: center;
    width: 80%;
}

/*
    Fullcalendar responsive design
*/
@include breakpoint(medium only) {
    .calendar .fc-toolbar {
        width: 100%;
    }
}

@include breakpoint(large up) {
    .calendar .fc-toolbar {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .calendar {
        .fc-toolbar {
            flex-direction: column;
            align-items: start;
        }

        .fc-toolbar-chunk {
            margin-bottom: .5rem;
        }
    }
}

@include breakpoint(small only) {
    .calendar .calendar-footer {
        display: none !important;
    }

    .occupancy-calendar {
        .fc-toolbar {
            flex-direction: column;
            align-items: start;
        }

        .fc-toolbar-chunk {
            margin-bottom: .5rem;
        }
    }
}

@include breakpoint(medium only) {
    .calendar .calendar-footer {
        width: 75%;
    }
}

/*
    Calendar day display
*/

// raise the importance a bit by double-selecting
.calendar-day.calendar-day {
    $border-radius: 4px;
    $icon-size: 3rem;

    background-color: $topbar-bg-color;
    border-radius: $border-radius $border-radius 0 0;
    font-size: .875rem;
    width: 85%;

    .calendar-day-thumbnail {
        background-position: center top;
        background-size: cover;
        border-radius: $border-radius $border-radius 0 0;
        display: block;
        padding-top: 75%;
        position: relative;
        width: 100%;

        .far {
            bottom: 0;
            color: $iron;
            font-size: $icon-size;
            height: $icon-size;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: $icon-size;
        }
    }

    .calendar-day-date {
        @include primary-color-background;
        border-radius: 0 0 $border-radius $border-radius;
        line-height: 2.25rem;

        > div {
            display: inline-block;
        }

        .weekday {
            background: $black;
            border-radius: 0 0 0 $border-radius;
            color: $white;
            padding: 0 .5rem;
            text-transform: uppercase;
        }

        .date {
            overflow: hidden;
            padding: 0 0 0 .5rem;
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;

            .long-month {
                display: inline;
            }

            .short-month {
                display: none;
            }
        }
    }
}

@include breakpoint(small only) {
    .occurrece {
        margin-bottom: 1rem !important;
    }

    .calendar-day {
        .calendar-day-date {
            font-size: .875rem;

            .date {
                .long-month {
                    display: none;
                }

                .short-month {
                    display: inline;
                }
            }
        }
    }

    .calendar-text-column {
        padding-left: 0;

        h3 {
            font-size: 1rem !important;
        }

        .occurrence-location,
        .occurrence-time {
            font-size: .875rem !important;
        }

        .occurrence-tags {
            display: none;
        }
    }
}

/*
    Reservation calendar
*/
.reservation-confirmation .reservation-selection .reservation-warning {
    display: none;
}

.reservation-selection {
    float: right;
    padding: 0 0 0 15px;

    p {
        font-size: .875rem;
    }

    ul,
    .prediction {
        font-size: .8rem;
        list-style: none;
        margin: 0;
    }

    li {
        display: block;
        margin: 10px 0;
    }

    .button {
        border-radius: 3px;
        display: block;
        margin-left: 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .failed {
        color: $alert-color;

        .reservation-date::before {
            background-color: transparentize($alert-color, .8);
            color: $alert-color;
        }
    }

    .reservation-warning {
        color: $warning-color;
        cursor: help;
        margin-left: 1ex;
    }

    .reservation-date {
        display: block;
        font-weight: bold;

        a {
            color: $body-font-color;
            display: inline-block;
            margin: 0;

            &:hover {
                color: $anchor-font-color-hover;
            }
        }

        &::before {
            background-color: transparentize($primary-color, .8);
            border-radius: 50px;
            color: $primary-color;
            content: attr(data-quota);
            display: inline-block;
            font-size: 12px;
            height: 15px;
            line-height: 15px;
            margin-right: 1ex;
            position: relative;
            text-align: center;
            width: 15px;
        }
    }

    a,
    .reservation-resource,
    .reservation-time,
    .reservation-price {
        display: block;
        margin-left: 1.4rem;
    }

    &.large {
        float: none;
        padding: 0;
        width: 100%;

        span {
            font-size: 1rem;
        }

        .reservation-date::before {
            font-size: 1rem;
            height: 24px;
            line-height: 24px;
            width: 24px;
        }

        .reservation-resource,
        .reservation-time,
        .reservation-price {
            margin-left: 2.3rem;
        }
    }

    .prediction {
        background-color: $smoke;
        margin-top: 1rem !important;
        padding: .2rem 0 .35rem .3rem;

        a {
            margin-left: .2rem;
            margin-top: .25rem;

            &::before {
                @include icon('\f0d0');
                color: $body-font-color;
                font-weight: bold;
                margin-right: 1ex;
            }
        }
    }

    .reservation-denied {
        border-left: 5px solid $red-pastel;
        color: $alert-color;
        font-size: .8rem;
        margin-bottom: 1rem;
        margin-left: .6rem;
        margin-top: .5rem;
        max-width: 23.25rem;
        padding-left: 1.4rem;

        ol {
            margin: .5rem 0 0;

            li {
                background: $red;
                border-radius: 3px;
                color: $white;
                display: inline-block;
                font-size: .8rem;
                font-weight: bold;
                margin: 0;
                padding: 1px 5px;
            }
        }
    }
}

/*
    Reservation selection responsive
*/

@include breakpoint(medium up) {
    .reservation-selection {
        float: right;
        width: 20%;
    }

    .calendar .fc-view, .reservation-list {
        display: inline-block;
        float: left;
        width: 80%;
    }
}

@include breakpoint(medium only) {
    .reservation-selection {
        width: 25%;

        .button {
            padding: 1rem 1.5rem;
        }
    }

    .calendar .fc-view, .reservation-list {
        width: 75%;
    }
}

@include breakpoint(small only) {
    .reservation-selection {
        float: none;
        padding: 0;
        width: 100%;
    }

    .calendar .fc-view, .reservation-list {
        display: block;
        width: 100%;
    }

    .fc .fc-toolbar {
        button,
        .fc-button-group {
            display: inline-block;
            font-size: .7rem;
        }
    }

    .fc-view {
        margin-bottom: 1rem;
    }

    .fc-scroller {
        overflow-y: auto;
    }
}


/*
    reservation actions popup
*/
.reservation-actions {
    h3 {
        font-size: .875rem;
        font-weight: bold;
        margin-top: 10px;
    }

    form {
        margin-bottom: .5rem;
    }

    input {
        margin-bottom: 0;
    }

    input[type="time"],
    input[type="text"] {
        height: 2rem;
    }

    input[type="radio"] {
        float: none;
        font-size: .875rem;
        position: relative;
        top: -2px;
    }

    .label-text {
        color: $form-label-color;
        display: inline-block;
        font-size: .875rem;
        margin-right: 1rem;
        width: 100%;
    }

    label {
        margin-right: .75rem;
        // fix side-by-side radio labels
        min-width: 0;
    }

    button {
        margin: 10px 0 0;
        width: 100%;
    }

    .field {
        margin-bottom: .25rem;

        label:last-child {
            margin-right: 0;
        }
    }

    .split > div {
        display: inline-block;
        position: relative;
        width: 50%;

        &:first-child {
            padding-right: 10px;

            &::after {
                color: $form-label-color;
                content: '-';
                font-size: .875rem;
                position: absolute;
                right: -4px;
                top: 1.5rem;
            }
        }

        &:last-child {
            padding-left: 10px;
        }
    }
}

/*
    Reservation list
*/
a#results {
    display: block;
    position: relative;
    /* This assumes a scroll initiated from page load */
    top: -150px;
    visibility: hidden;
}

.reservation-list {

    position: relative;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    /* HACK: Overflow clipping is broken in Chromium when scrolling
             for all the not-selected events due to the use of opacity
             and/or filter. So we use a filter on the container element
             to fix this. This is dumb, but this bug has been around for
             almost a decade and still hasn't been fixed... */
    filter: blur(0);
    /* NOTE: Since we allow shift as a modifier key, text-selection would
             become annoying, rather than helpful. */
    user-select: none;

    table {
        margin-bottom: 0;

        tr {
            /* This assumes a scroll iniated from the results */
            scroll-snap-margin-top: 6rem;
            scroll-margin-top: 6rem;
        }

        th:first-child {
            background-color: #fff;
            position: sticky;
            left: 0;
            width: 0;
            white-space: nowrap;
            text-align: center;
            z-index: 1;
        }

        thead th:first-child {
            background-color: #f9f9f9;
        }

        tbody tr:nth-child(even) th:first-child {
            background-color: #f2f2f2;
        }

        .event {
            color: #fff;
            border: 0;
            border-radius: 2px;
            margin-bottom: 2px;
            padding: 2px 4px;
            white-space: nowrap;

            &:last-child {
                margin-bottom: 0;
            }

            &.selected {
                background-image: repeating-linear-gradient(
                    45deg,
                    rgba($steel, .25),
                    rgba($steel, .25) 10px,
                    rgba($iron, .25) 10px,
                    rgba($iron, .25) 20px
                );
                cursor: default;

                &.event-available.event-adjustable {
                    cursor: pointer;
                }
            }

            &.not-selected:not(:hover) {
                opacity: .75;
                filter: grayscale(.75);
            }
        }

        .event-unavailable {
            cursor: not-allowed;
            background-color: $red;
        }

        .event-partly-available {
            cursor: pointer;
            background-color: $orange;
        }

        .event-available {
            cursor: pointer;
            background-color: $green;
        }

        .event-adjustable::before {
            float: right;
            color: white;
            font-size: 1.5rem;
            @include icon($edit-link-icon);
        }
    }
}
