/*
    The global tools header
*/
$globals-margin: .75rem;
$globals-height: 2.5rem;

/*
    edit bar (and popup links)
*/
$accept-link-icon: '\f00c';
$cleanup-link-icon: '\f0d0';
$copy-link-icon: '\f0c5';
$delete-link-icon: '\f2ed';
$disabled-icon: '\f05e';
$edit-link-icon: '\f044';
$save-link-icon: '\f0c7';
$cancel-link-icon: '\f00d';
$export-link-icon: '\f019';
$envelope-icon: '\f0e0';
$file-link-icon: '\f0c6';
$image-link-icon: '\f03e';
$import-link-icon: '\f093';
$filters-link-icon: '\f02c';
$internal-link-icon: '\f0c1';
$manage-recipients: '\f0e0';
$manage-subscribers: '\f0c0';
$mark-as-paid: '\f058';
$mark-as-unpaid: '\f057';
$move-link-icon: '\f0b2';
$new-daypass-icon: '\f3ff';
$new-daily-item-icon: '\f518';
$new-resource-link-icon: '\f0c1';
$new-directory-icon: '\f0e8';
$new-directory-entry-icon: '\f07b';
$new-recipient: '\f0e0';
$new-form-icon: '\f044';
$new-document-form-icon: '\f70e';
$new-link-icon: '\f0c1';
$new-iframe-icon: '\f2d0';
$new-news-icon: '\f1ea';
$new-newsletter-icon: '\f0e0';
$new-note-icon: '\f249';
$new-page-icon: '\f15b';
$new-payment-icon: '\f09d';
$new-person-icon: '\f007';
$new-photo-album: '\f03e';
$new-registration-window: '\f067';
$new-reservation-icon: '\f271';
$new-room-icon: '\f015';
$new-datatrans-icon: '\f09d';
$new-stripe-connect-icon: '\f1f5';
$new-worldline-saferpay-icon: '\f09d';
$new-user-icon: '\f234';
$new-text-module-icon: '\f249';
$paste-link-icon: '\f0ea';
$payment-capture-icon: '\f09d';
$payment-refund-icon: '\f0e2';
$payment-provider-icon: '\f09d';
$payments-icon: $payment-provider-icon;
$invoice-icon: '\f1ea';
$rule-link-icon: '\f085';
$select-icon: '\f14a';
$send-link-icon: '\f1d8';
$sort-link-icon: '\f074';
$sync-icon: '\f2f1';
$subscribe-link-icon: '\f0f3';
$test-link-icon: '\f4da';
$occupancy-link-icon: '\f022';
$upload-icon: '\f382';
$view-link: '\f06e';
$pdf-icon: '\f1c1';
$ticket-files-icon: '\f019';
$qr-code-icon: '\f029';
$results-icon: '\f682';
$trash-restore-icon: '\f829';
$settings-icon: '\f1de';

#header {
    background: $smoke;
}

.globals {
    background: $tuatara;
    padding-top: 1px;
    position: relative;

    .is-dropdown-submenu-parent > a {
        color: $white !important;
    }

    a {
        &::before {
            margin-right: 1ex;
            text-align: center;
        }
    }

    .global-header-flex {

        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: $globals-height;
        padding: .5rem;

        @include breakpoint(small only) {
            &.centered {
                justify-content: center;
            }
        }

        .global-tools-menu {
            flex-grow: 1;
        }

        > ul {
            @include breakpoint(medium up) {
                display: flex;
                flex-direction: row-reverse;
            }

            > li {

                > a {
                    color: $white;
                    height: 100%;
                    line-height: $globals-height;
                    padding: 0 1rem;
                    white-space: nowrap;
                    @include breakpoint(medium up) {
                        align-items: center;
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 0;
                    }

                    &:hover {
                        color: $white-smoke;
                    }

                    &::after {
                        border-color: $white transparent transparent !important;
                    }
                }
            }
        }
    }

    .is-dropdown-submenu,
    .is-accordion-submenu {

        z-index: 1000;

        a {
            color: $body-font-color;

            &:hover,
            &:focus {
                background: $tuatara;
                color: $white;
            }

            @include breakpoint(small only) {
                color: $primary-fg-color;
                margin-left: .5rem;
            }
        }
    }

    .dashboard::before { @include icon-bold('\f3fd'); }
    .login::before { @include icon-bold("\f2f6"); }
    .logout::before { @include icon-bold("\f2f5"); }
    .register::before { @include icon("\f234"); }
    .user::before { @include icon("\f007"); }
    .users::before { @include icon-bold("\f0c0"); }
    .payment::before { @include icon($payments-icon); }
    .payment-provider::before { @include icon-bold($payment-provider-icon); }
    .invoice::before { @include icon($invoice-icon); }
    .profile::before { @include icon("\f2bd"); }
    .management::before { @include icon-bold('\f013'); }
    .chats::before { @include icon-bold('\f086'); }
    .chats-archive::before { @include icon-bold('\f4ad'); }
    .images::before { @include icon('\f03e'); }
    .files::before { @include icon("\f15c"); }
    .settings::before { @include icon-bold('\f1de'); }
    .timeline::before { @include icon('\f017'); }
    .no-tickets::before { @include icon('\f145'); }
    .link-check::before { @include icon-bold('\f0fa'); }
    .ris-settings::before { @include icon-bold('\f66f'); }
    .ticket-archive::before { @include icon-bold('\f1c6'); }
    .text-modules::before { @include icon('\f249'); }
    .forms::before { @include icon-bold('\f570'); }
    .surveys::before { @include icon-bold('\f681'); }
    .citizen-login::before { @include icon-bold("\f2f6"); }
    .citizen-tickets::before { @include icon-bold('\f3ff'); }
    .citizen-reservations::before { @include icon('\f073'); }

    .with-count::before {
        border: 1px solid $primary-fg-color;
        border-radius: 1000px;
        box-shadow: 0 0 2px $primary-fg-color;
        box-sizing: content-box;
        content: attr(data-count);
        display: inline-block;
        font-size: .75rem;
        line-height: 22px;
        margin-right: 1ex;
        min-width: 15px;
        padding: 0 .25rem;
        position: relative;
    }

    .alert.with-count::before {
        background-color: $alert-color;
        color: $white;
    }

    .success.with-count::before {
        background-color: $success-color;
        color: $white;
    }

    .info.with-count::before {
        background-color: get-color(info);
        color: $white;
    }

    .secondary.with-count::before {
        background-color: $secondary-color;
        color: $body-font-color;
    }
}

#header_announcement {
    font-weight: bold;
    padding: .5rem;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

#header_links {
    .fa-external-link-alt {
        display: none;
    }

    .title-bar,
    button {
        color: $white;
    }

    ul.menu {
        display: flex;
    }

    li {
        border-left: 1px solid scale-color($primary-color, $lightness: 30%, $saturation: -40%);

        a {
            border-radius: 1rem;
            padding: .3rem 1rem;
            transition: background-color 200ms linear ;
        }

        &:hover a {
            background: rgba(250, 250, 250, .15);
        }
    }

    li:first-child {
        border-left: 0;
    }

    & * {
        background: transparent;
    }
    @media #{$small-only} {
        ul.menu {
            display: block;
        }

        li {
            border-left: 0;
            border-top: 1px dashed scale-color($primary-color, $lightness: 50%, $saturation: -12.5%);
        }
    }
}

#header_text {
    background-color: $primary-color;
    color: $white;
    padding: .5rem;
}

#header_links + #header_text {
    border-top: 1px solid darken($primary-color, 5%);
    box-shadow: 0 15px 10px -15px rgba(0,0,0,0.15) inset;
}

$navbar-shadow: 0 15px 10px -15px rgba(0,0,0,0.15);
$transition-duration: .1s;

#nav-bar {

    width: 100%;
    z-index: 999;

    .navigation {

        &.shrink .cell {
            padding-bottom: 0;
            padding-top: 0;
        }

        button {
            border-radius: 0;
            cursor: pointer !important;
        }

        .cell {

            @include breakpoint(small only) {
                padding: 0;
            }

            align-self: center;
            padding: 10px 0;

        }

        .grid-x:first-of-type {
            height: 100%;
        }
    }

    .nav-bar-sticky {
        background-color: $white;
        box-shadow: $navbar-shadow;
    }

    .middle {
        display: flex;
        justify-content: center;
    }

    .right-side {
        display: flex;
        justify-content: flex-end;
    }

    img,
    svg {
        height: 6em;
        object-fit: contain;
        transition: all $transition-duration ease;

        @include breakpoint(small only) {
            transform: scale(.8);
        }

        @include breakpoint(medium up) {
            &.scaled {
                transform: scale(.85);
            }
        }
    }

    .search-button i,
    .menu-button i {
        color: $primary-color;
        font-size: 25px;
        margin-right: .5rem;

        @include breakpoint(medium up) {
            font-size: 23px;
            padding-top: 2px;
        }
    }
}

.header-searchbox {
    input#search {
        border-bottom: 1px solid $iron;
        border-left: 0;
        border-radius: 0 !important;
        border-right: 0;
        border-top: 0;
        box-shadow: none;

        &:hover,
        &:focus {
            border: 0;
            border-bottom: 1px solid $primary-color;
            box-shadow: none;
        }
    }

    .search-button {
        background: transparent !important;
        padding: 0 .5rem !important;
    }

    .typeahead {
        position: absolute;
        top: 8rem;
    }

    .input-group-field:not(:focus) + .typeahead:not(:hover) {
        display: none;
    }
}

.search-header-mobile {
    i {
        margin-right: 0 !important;
    }

    .is-active > .accordion-title::before {
        content: "";
    }

    .accordion-title {
        border: 0 !important;
        font-size: inherit;
        padding: 0;

        &::before {
            content: "";
        }

        &:hover,
        &:focus {
            background: transparent;
        }
    }

    .accordion-content {
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
    }
}

body#page-search .search-header-mobile .accordion-title {
    display: none !important;
}


$editbar-bg-color: $tuatara;
$editbar-bg-color-active: lighten($black, 15%);
$editbar-fg-color: $white;
$editbar-fg-color-active: $white;

.edit-bar-container {
    background-color: $editbar-bg-color;
}

.edit-bar {

    background-color: $editbar-bg-color;
    box-shadow: $navbar-shadow;
    margin-bottom: 2px;
    margin-top: -2px;

    li {
        a::before, button::before {
            margin-right: 2 * $default-icon-margin;
        }

        &:hover {
            background: $editbar-bg-color-active;
        }

        button {
            border-radius: 0;
            padding: .7rem;
        }
    }

    ul > li:hover {
        background: #f3f3f3 !important;
    }

    > li > a,
    > li > button {
        border-left: 3px solid $editbar-bg-color;
        border-right: 3px solid $editbar-bg-color;
        color: $editbar-fg-color;

        &::after {
            border-color: $editbar-fg-color transparent transparent !important;
        }
    }

    // Top-level item active state
    > li.is-active > a,
    > li.is-active > button {
        background: $editbar-bg-color-active !important;
        color: $editbar-fg-color-active !important;
    }

    .submenu > li a,
    .submenu > li button {
        color: $editbar-bg-color;

        &:hover {
            color: $editbar-bg-color-active;
        }
    }

    .border {
        border-bottom: 1px dashed $iron;
    }

    .accept-link::before { @include icon-bold($accept-link-icon); }
    .cleanup-link::before { @include icon-bold($cleanup-link-icon); }
    .copy-link::before { @include icon($copy-link-icon); }
    .delete-link::before { @include icon($delete-link-icon); }
    .edit-link::before { @include icon($edit-link-icon); }
    .save-link::before { @include icon($save-link-icon); }
    .cancel-link::before { @include icon-bold($cancel-link-icon); }
    .move-link::before { @include icon-bold($move-link-icon); }
    .export-link::before { @include icon-bold($export-link-icon); }
    .envelope::before { @include icon-bold($envelope-icon); }
    .file-url::before { @include icon($file-link-icon); }
    .image-url::before { @include icon($image-link-icon); }
    .import-link::before { @include icon-bold($import-link-icon); }
    .filters-link::before { @include icon-bold($filters-link-icon); }
    .internal-url::before { @include icon-bold($internal-link-icon); }
    .manage-recipients::before { @include icon($manage-recipients); }
    .manage-subscribers::before { @include icon-bold($manage-subscribers); }
    .new-daypass::before { @include icon-bold($new-daypass-icon); }
    .new-directory::before { @include icon-bold($new-directory-icon); }
    .new-directory-entry::before { @include icon($new-directory-entry-icon); }
    .new-form::before { @include icon($new-form-icon); }
    .new-document-form::before { @include icon-bold($new-document-form-icon); }
    .new-link::before { @include icon-bold($new-link-icon); }
    .new-iframe::before { @include icon-bold($new-iframe-icon); }
    .new-news::before { @include icon($new-news-icon); }
    .new-newsletter::before { @include icon($new-newsletter-icon); }
    .new-note::before { @include icon($new-note-icon); }
    .new-page::before { @include icon($new-page-icon); }
    .new-payment::before { @include icon($new-payment-icon); }
    .new-person::before { @include icon($new-person-icon); }
    .new-photo-album::before { @include icon($new-photo-album); }
    .new-recipient::before { @include icon($new-recipient); }
    .new-registration-window::before { @include icon-bold($new-registration-window); }
    .new-reservation::before { @include icon($new-reservation-icon); }
    .new-room::before { @include icon-bold($new-room-icon); }
    .new-datatrans::before { @include icon($new-datatrans-icon); }
    .new-stripe-connect::before { @include icon($new-stripe-connect-icon); }
    .new-worldline-saferpay::before { @include icon($new-worldline-saferpay-icon); }
    .new-user::before { @include icon-bold($new-user-icon); }
    .new-text-module::before { @include icon($new-text-module-icon); }
    .occupancy-link::before { @include icon($occupancy-link-icon); }
    .paste-link::before { @include icon-bold($paste-link-icon); }
    .payment-provider::before { @include icon-bold($payment-provider-icon); }
    .payments::before { @include icon($payments-icon); }
    .select::before { @include icon($select-icon); }
    .send-link::before { @include icon($send-link-icon); }
    .sort-link::before { @include icon($sort-link-icon); font-weight: bold; }
    .subscribe-link::before { @include icon-bold($subscribe-link-icon); }
    .test-link::before { @include icon($test-link-icon); }
    .rule-link::before { @include icon-bold($rule-link-icon); }
    .sync::before { @include icon-bold($sync-icon); }
    .upload::before { @include icon-bold($upload-icon); }
    .view-link::before { @include icon($view-link); }
    .ticket-files::before { @include icon-bold($ticket-files-icon); }
    .new-daily-item::before { @include icon-bold($new-daily-item-icon); }
    .new-resource-link::before { @include icon-bold($new-resource-link-icon); }
    .cancel::before { @include icon-bold($disabled-icon); }
    .qr-code-link::before { @include icon-bold($qr-code-icon); }
    .results-link::before { @include icon-bold($results-icon); }
    .undo-link::before { @include icon-bold($trash-restore-icon); }
    .settings-link::before { @include icon-bold($settings-icon); }
}


.off-canvas-close-button {
    font-size: 23px;
    padding: 1rem 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

#offCanvasSearch {
    background-color: $white;
    z-index: 1000;

    .off-canvas-close-button {
        color: $primary-color;
    }
}

#offCanvas {
    background: $primary-color;
    z-index: 1000;

    .button-area {
        display: flex;
        justify-content: end;
    }

    .navigation-area {
        display: flex;
        justify-content: center;
        padding: 10vh 0;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: $primary-color;
        border: 2px solid $primary-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: $white;
    }

    .side-navigation {
        padding: 0 2rem;
        width: 30rem;

        @include breakpoint(small only) {
            width: auto;

            .menu {
                background: $primary-color;
            }
        }

        li {
            a {
                padding: 0;

                &::after {
                    padding: 1rem;
                    transition: transform 200ms linear;
                }
            }

            .navlink {
                @include smooth-edges;
                margin-right: 3rem;
                transition: background-color 200ms linear;

                span {
                    display: block;
                    padding: 1rem;
                }

                &:hover,
                &.current {
                    background: rgba(250, 250, 250, .15);
                    color: $white;
                }

                .private-hint,
                .member-hint,
                .mtan-hint,
                .secret-hint,
                .secret-mtan-hint,
                .unpublished-hint {
                    &::before {
                        color: $white;
                        padding-left: .5rem;
                    }
                }
            }
        }


        span[data-click-target] {
            z-index: 100;
        }

        .nested.is-accordion-submenu {
            margin-left: 2.5rem;
        }
    }

    .drilldown a {
        background-color: $primary-color !important;
    }

    // Overwrite foundation arrows
    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after,
    .drilldown .is-drilldown-submenu-parent > a::after,
    .js-drilldown-back::before {
        border: 0;
        font-family: 'Font Awesome 5 Free';
        font-size: 1rem;
        font-style: normal;
        font-variant: normal;
        font-weight: 900;
        height: auto;
        right: 0;
        top: 0;
        width: auto;
    }

    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after{
        content: "\f078";
    }

    .drilldown .is-drilldown-submenu-parent > a::after {
        content: "\f054";
        top: .3rem;
    }

    .js-drilldown-back {
        border-bottom: 2px solid rgba(250, 250, 250, .15);
        margin-bottom: 1rem;
        padding: 1rem;
        padding-bottom: 1.5rem;
        padding-left: 3rem;

        &::before {
            background-color: $primary-color;
            content: "\f053";
            display: block;
            left: 1rem;
            position: absolute;
            right: auto;
            top: .8rem;
        }
    }

    * {
        color: $white;
    }
}

#offCanvasSidebar {
    background: $white;
    padding: 2rem;
    z-index: 1000;
}

$offcanvas-sizes: (
    small: 90vw,
    medium: 60vw,
    large: 30vw,
);
$offcanvas-vertical-sizes: (
    small: 90vw,
    medium: 60vw,
    large: 30vw,
);


#page-root #header .alerts .alert-box {
    z-index: 1;
}


.navigation-button {
    color: $charcoal;
    transition: color 2ms linear;
}

.navigation button:hover .navigation-button {
    color: $primary-color;
    transition: color 2ms linear;
}

$small-header-height: 96px;
