.homepage {
    h5 {
        color: $primary-color;
        padding-bottom: 1rem;
    }

    @media #{$small-only} {
        h5 {
            font-size: 1.2rem;
        }

    }

    .full.primary {
        small a:first-of-type {
            color: $primary-fg-color;
        }
    }

    .homepage-video {
        max-height: 60vh;
        position: relative;

        video {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        .text {
            bottom: 5rem;
            color: $white;
            position: absolute;
            text-shadow: 0 0 2em $black;

            span {
                font-size: 4rem;
            }

            @media #{$small-only} {
                line-height: .5rem;
                bottom: 10rem;
            }

        }

    }

    .homepage-video,
    .homepage-image-slider {

        .searchbox-wrapper {
            bottom: 7rem;
            position: absolute;
            width: 100%;

            @media #{$small-only} {
                bottom: 3rem;
            }

            .searchbox {
                margin-bottom: 0;
            }

            .typeahead ul {
                z-index: 100;
                border-radius: 2rem !important;
                padding: .7rem;
                margin-top: 1.2rem;
                backdrop-filter: blur(11px);
                background-color: rgba(255, 255, 255, 0.8);
                box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.24) !important;
                border: 0;

                li:hover,
                li.active {
                    border-radius: 2rem !important;

                    a {
                        font-weight: normal !important;
                    }
                }
            }

            .input-group {
                align-items: center;
                background: $white;
                border: 5px solid $white;
                border-radius: 2rem !important;
                display: flex;
            }

            input {
                background: $white;
                border: 0;
                border-radius: 2rem 0 0 2rem !important;
                box-shadow: none;
                font-size: 1.5rem;
                padding: 1.5rem;

                &::placeholder {
                    color: $aluminum;
                    font-size: 1.5rem;
                    font-weight: normal;
                    opacity: .5;
                }
            }

            .button {
                background: $primary-color;
                border: 0;
                border-radius: 2rem !important;
                color: $white;
                font-size: 1.5rem;
                margin-left: 0;
                padding: 1rem !important;

                i.fa {
                    margin: 0;
                }

                &:hover {
                    background: darken($primary-color , 10%);
                    margin: 0 !important;
                    padding: 1rem !important;
                }
            }

        }

        .grid-container.text-container {
            display: flex;
            align-items: end;

            .text {
                position: relative;
                color: $white;
                height: fit-content !important;
                margin-bottom: 7rem;
                text-shadow: 0 0 2em $black;

                a {
                    color: $white;
                    font-size: 1.6rem;
                    text-shadow: none;
                    padding: 1.5rem 2.5rem !important;

                    &:hover {
                        padding: 1.5rem 3rem !important;
                    }

                    i.fa-external-link-alt {
                        margin-left: .5rem;
                    }
                }

                span {
                    font-size: 3rem;
                    line-height: 4rem;

                    @media #{$small-only} {
                        font-size: 2rem;
                    }
                }

                @media #{$small-only} {
                    bottom: 10rem;

                    a {
                        font-size: 1.2rem;
                        padding: .7rem 1.5rem !important;

                        &:hover {
                            padding: .7rem 2rem !important;
                        }
                    }
                }

            }
        }

        .orbit-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
        }

        .orbit-container * {
            height: 100%;
            max-height: 100%;
        }

        &.with-searchbox {
            .grid-container.text-container .text {
                margin-bottom: 15rem;
            }

            // @media #{$small-only} {
            //     height: calc(100vh - 5rem);
            // }
        }
    }

    .testimonial {
        padding-bottom: 1rem;

        &:last-of-type {
            padding-bottom: 0;
        }

        >div {
            align-items: center;
            display: flex;
        }

        .description {
            margin-bottom: 0;
            color: inherit !important;
        }

        .quote {
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0;
        }

        .square-container {
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }

        img {
            border-radius: 50%;
            bottom: 0;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .primary .testimonial-slider {

        .description,
        .quote {
            color: $white;
        }

        .orbit-controls button {
            color: $white !important;
        }
    }

    .orbit-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .testimonial-slider {
        padding-bottom: 2rem;
        padding-top: 2rem;

        @media #{$medium-up} {
            padding-bottom: 0;
        }

        .orbit-container {
            align-items: center !important;
            display: flex;
        }

        .orbit-controls {
            display: flex;
            justify-content: center;

            button {
                color: $body-font-color;
                opacity: .4;
                position: inherit;
                transform: none;
            }
        }
    }

    .icon-link {
        background: $white;
        border-radius: 1rem;
        display: flex;
        flex: 0 0 auto;
        height: calc(100% - 2rem);

        &.inverted-true {
            background: $primary-color;

            p,
            span {
                color: $white;
            }

            .icon {
                background: $white;
                color: $primary-color;
            }
        }

        a {
            display: block;
            height: 100%;
        }

        .icon {
            background: $primary-color;
            color: $white;
            height: 3rem;
            margin-right: 1rem;
            padding: .9rem;
            text-align: center;
            width: 3rem;
        }

        i {
            background: $primary-color;
            border-radius: 1rem;
            color: $white;
            height: 3rem;
            margin-right: 1rem;
            padding: .9rem;
            text-align: center;
            width: 3rem;
        }

        h5 {
            align-items: center;
            display: flex;
            font-weight: bold;
            padding: 1.5rem;
            margin-bottom: 0;

            &:has(+ p) {
                margin-bottom: .5rem;
                padding-bottom: 0;
            }
        }

        p {
            hyphens: none;
            margin-bottom: 0;
            padding: 1.5rem;
        }

        .fa-external-link-alt {
            display: none;
        }
    }

    @media #{$small-only} {
        .card.icon-link {
            height: calc(100% - 1rem);
            margin-bottom: 1rem;

            h5 {
                margin-bottom: 0;
                padding: 1rem;
            }

            p {
                display: none;
            }
        }
    }

    a .card p {
        color: $body-font-color;
    }

    .card {
        border: 2px solid rgba(0, 0, 0, .04);
        box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07);
        height: calc(100% - 2rem);
        margin-bottom: 2rem;
        transition: all 200ms linear !important;

        p {
            color: $charcoal;
        }

        &:hover {
            border: 2px solid $primary-color !important;
            transition: all 200ms linear;
        }
    }

    .gray .card {
        border: 2px solid rgba(0, 0, 0, .07);
        box-shadow: 0 0 17px 0 rgba(0, 0, 0, .05);
    }

    .darkgray .card {
        border: 2px solid $light-gray;
        box-shadow: none;
    }


    .primary {
        .card {
            border: 2px solid $primary-color;
            box-shadow: none;
            transition: all 200ms linear !important;

            &:hover {
                border: 2px solid $white !important;
                transition: all 200ms linear;
            }
        }

        .button.hollow {
            background: transparent;
            border: 1px solid $white;
            color: $white;
        }
    }

    .card-section {
        padding: 1.5rem;
    }

    .events {
        h5 {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

}


/* Chat */

.floaty-chat {
    height: 0;

    div {
        display: flex;
        flex-direction: column;
    }
}

.chat-button {
    @include smooth-edges;
    align-self: end;
    background: $primary-color;
    border: 2px solid $white;
    font-size: 1.1rem;
    margin-top: -4rem;
    padding: 1rem;
    transition: all linear 200ms;

    &:hover {
        background: scale-color($primary-color, $lightness: -10%, $saturation: -20%);
    }

    p {
        color: $white;
        margin-bottom: 0;
    }
}