.homepage-tile {
    .card-section {
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    .card-divider a {
        color: $body-font-color;
    }

    .card-divider h5 {
        margin-bottom: 0;
    }
}
