
.full.primary {
    small a:first-of-type {
        color: $primary-fg-color;
    }
}

.homepage-video {
    max-height: 60vh;
    overflow: hidden;

    video {
        width: 100%;
    }
}

.testimonial {
    padding-bottom: 1rem;

    &:last-of-type {
        padding-bottom: 0;
    }

    > div {
        align-items: center;
        display: flex;
    }

    .description {
        color: $primary-color;
        margin-bottom: 0;
    }

    .quote {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .square-container {
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }

    img {
        border-radius: 50%;
        bottom: 0;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.icon-link {

    .fa-external-link-alt {
        display: none;
    }

    a:hover .icon i {
        font-size: 4.6rem;
        padding-top: calc(50% - 2.3rem);
    }

    a:hover h4 {
        filter: brightness(.7);
        transition: all 200ms linear;
    }

    .icon {
        background-color: $primary-color;
        border-radius: 50%;
        color: $white;
        height: 0;
        margin-bottom: 1rem;
        padding-bottom: 90%;
        text-align: center;
        width: 90%;
    }

    i {
        font-size: 4rem;
        padding-top: calc(50% - 2rem);
        transition: all 200ms linear;
    }

    h4 {
        color: $primary-color;
    }
}
