.homepage {
    .full.primary {
        small a:first-of-type {
            color: $primary-fg-color;
        }
    }

    .homepage-video {
        max-height: 60vh;
        overflow: hidden;
        position: relative;

        video {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    .testimonial {
        padding-bottom: 1rem;

        &:last-of-type {
            padding-bottom: 0;
        }

        > div {
            align-items: center;
            display: flex;
        }

        .description {
            color: $primary-color;
            margin-bottom: 0;
        }

        .quote {
            font-size: 1.2rem;
            margin-bottom: 0;
        }

        .square-container {
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }

        img {
            border-radius: 50%;
            bottom: 0;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .icon-link {
        background: $white;
        border: 2px solid transparent !important;
        border-radius: 1rem;
        display: flex;
        flex: 0 0 auto;
        height: calc(100% - 2rem);
        transition: all 200ms linear;

        &:hover {
            border: 2px solid #0068a5 !important;
            transition: all 200ms linear;
        }

        p {
            color: $charcoal;
            hyphens: none;
            margin-bottom: 0;
            padding: 1.5rem;
        }

        .fa-external-link-alt {
            display: none;
        }

        .icon {
            background: $primary-color;
            color: #FFF;
            height: 3rem;
            margin-right: 1rem;
            padding: .9rem;
            text-align: center;
            width: 3rem;
        }

        i {
            background: #0068a5;
            border-radius: 1rem;
            color: #FFF;
            height: 3rem;
            margin-right: 1rem;
            padding: .9rem;
            text-align: center;
            width: 3rem;
        }

        .title {
            color: #363636;
            font-weight: bold;
            padding: 1.5rem;
            padding-bottom: 0;  
        }
    }

    .card {
        border: 1px solid #eee;
        margin-bottom: 2rem;
        box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.08);
    }

    .gray .card {
        border: 1px solid #eee;;
        box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07);
    }

    .primary .card {
        border: none;
        box-shadow: none;
    }

    .card-section {
        padding: 1.5rem;
    }
}