/*
    homepage tiles images
*/

#homepage-tile-1 .tile-image { background-image: url(#{$tile-image-1});}
#homepage-tile-2 .tile-image { background-image: url(#{$tile-image-2});}
#homepage-tile-3 .tile-image { background-image: url(#{$tile-image-3});}
#homepage-tile-4 .tile-image { background-image: url(#{$tile-image-4});}
#homepage-tile-5 .tile-image { background-image: url(#{$tile-image-5});}
#homepage-tile-6 .tile-image { background-image: url(#{$tile-image-6});}

#topics {
    margin: 1rem 0;
}

#topics ul {
    @include clean-ul;
    padding: 0;
}

#topics ul li {
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    padding: 10px 0;
}

#topics ul li:last-of-type {
    border: 0;
}

.homepage-tile {
    .card-section {
        padding-bottom: .5rem;
    }

    .card-divider a {
        color: $body-font-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .card-divider h5 {
        margin-bottom: 0;
    }
}
