.image-grid {

    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @keyframes zoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    .image-container {
        box-sizing: border-box;
        margin-bottom: .5rem;

        img {
            cursor: pointer;
            margin-bottom: .25rem;
            transition: .2s;

        }

        @media #{$small-only} {
            width: 100%;
        }

        @media #{$medium-only} {
            width: 49%;
        }

        @media #{$large-up} {
            width: 24%;

            &:last-of-type {
                // Make the last element behave like justify-self: flex-start to prevent a gap between them
                // see https://www.w3.org/TR/css-flexbox-1/#auto-margins
                margin-left: 2%;
                margin-right: auto;
            }
        }

    }

}

/*
    image control elements
*/
.image-container {

    position: relative;

    .delete {
        background-color: $input-background-disabled;
        border-radius: 15px;
        color: $button-font-color;
        height: 27px;
        left: -4px;
        position: absolute;
        text-align: center;
        top: -13px;
        width: 27px;
    }

    .delete:hover {
        background-color: $alert-color;
    }
}
