.image-grid {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;

    @keyframes zoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    .image-container {
        box-sizing: border-box;
        margin-bottom: 1rem;

        img {
            cursor: pointer;
            transition: .2s;

        }

        @include breakpoint(small only) {
            width: 100%;
        }

        @include breakpoint(medium only) {
            width: 49%;
        }

        @include breakpoint(large up) {
            width: 24%;
        }
    }
}

/*
    image control elements
*/

// old .image-box in org
.image-container {
    position: relative;

    .delete {
        background-color: $input-background-disabled;
        border-radius: 15px;
        color: $button-font-color;
        height: 27px;
        left: -4px;
        position: absolute;
        text-align: center;
        top: -13px;
        width: 27px;
    }

    .delete:hover {
        background-color: $alert-color;
    }
}

/*
    Image select
*/

.image-select {
    .image-container {
        @include grayscale;
        display: flex;
        flex-direction: column;

        img {
            margin-bottom: .25rem;
        }

        &:hover {
            img {
                border-radius: 1px;
                box-shadow: 0 0 0 3px $gainsboro;
            }
        }

        &.selected {
            @include reset-filter;

            img {
                border-radius: 1px;
                box-shadow: 0 0 0 3px $primary-color;
            }
        }

        input[type="checkbox"] {
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

$image-padding: 1px;

.image-card-grid {
    .cell:nth-child(1) {
        padding-bottom: $image-padding;
        padding-right: $image-padding;
    }

    .cell:nth-child(2) {
        padding-bottom: $image-padding;
        padding-left: $image-padding;
    }

    .cell:nth-child(3) {
        padding-right: $image-padding;
        padding-top: $image-padding;
    }

    .cell:nth-child(4) {
        padding-left: $image-padding;
        padding-top: $image-padding;
    }

}
