/*
    news list
*/

.newslist,
.directories-list {

    i {
        margin-right: $icon-margin-right;
    }

    h3 {
        display: inline-block;

        small {
            font-size: 70%;
            margin-left: .5rem;
        }
    }

    .news-lead {
        color: $body-font-color;
        display: block;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .news-text {
        color: $body-font-color;
    }

    hr {
        border: solid $primary-color 1px;
        margin: 1rem 0;
    }

}

.news-list-item {

    div.card-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .subheader {
        margin-top: 0;
    }

    .heading {
        color: $body-font-color;

        h3,
        h4,
        h3 {
            color: $primary-color;
            font-weight: bold;
            line-height: 1.3;
            margin: .5rem 0;
        }
    }

    p.news-lead {
        color: $body-font-color;
        line-height: 1.5;
    }
}

.card.news-card {
    height: calc(100% - 2rem);
    margin-bottom: 2rem;
}

.news-card .card-section a:first-child {
    display: block;
    height: 100%;
}

.news-years {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        display: inline;

        + li::before {
            content: '/';
        }
    }
}

body:not(.homepage-layout) {
    .newslist {
        justify-content: left;
    }

    .news-all-entries {
        display: none;
    }
}

.more-news .card {
    @include more-link-after;
    border: 0;
    position: relative;
    margin-bottom: .5rem;

    a {
        border-top: 1px solid #f5f5f5;
        font-size: 1.1875rem;
        font-weight: bold;
        padding-bottom: .5rem;
        padding-right: 2rem;
        padding-top: .5rem;
        transition: border 200ms linear;

        &:hover {
            border-top: 1px solid $primary-color;
        }

        &:not(.edit-link)::after {
            position: absolute;
            right: 0;
            top: .5rem;
            transition: all 200ms linear;
        }

        &:hover:not(.edit-link)::after {
            padding-right: 0;
        }
    }
}
