/*
    news list
*/


.newslist {
    i {
        margin-right: $icon-margin-right;
    }

    h3 {
        display: inline-block;

        small {
            font-size: 70%;
            margin-left: .5rem;
        }
    }
}

.news-list-item {
    // Select the title which is the first child
    div.card-section > div > *:first-child {
        font-size: $h4-font-size;
        font-weight: bold;
    }

    div.card-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.news-years {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        display: inline;

        + li::before {
            content: '/';
        }
    }
}
