/*
    news list
*/


.newslist,
.directories-list {
    i {
        margin-right: $icon-margin-right;
    }

    h3 {
        display: inline-block;

        small {
            font-size: 70%;
            margin-left: .5rem;
        }
    }
}

.news-list-item {

    div.card-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .subheader small {
        color: $dark-gray;
    }

    .heading {
        color: $body-font-color;

        h3,
        h4,
        h3 {
            font-weight: bold;
            line-height: 1.3;
            margin: .5rem 0;
        }
    }

    p.news-lead {
        line-height: 1.5;
    }
}

.news-years {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        display: inline;

        + li::before {
            content: '/';
        }
    }
}
