/*
    settings
*/

.org-settings {
    font-size: 1rem;
    list-style: none;
    margin: 0;

    i.fas {
        border-radius: 50px;
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 1rem;
        text-align: center;
    }

    .card:hover {
        background: $primary-color;
        transition: all 200ms linear;

        .card-section > * {
            color: $white;
        }
    }
}

.danger-zone {
    margin-left: -1em;
}

.form-preview-widget .holidays {
    display: block;
    font-size: .875rem;
    list-style: none;
    margin: 0 0 1rem;
}

#header_links {
    background: $primary-color;

    a {
        color: $white;
    }

}

#fieldset-header_links {
    .field-button {
        margin-top: 0 !important;
    }

    small.error {
        display: block !important;
        margin-top: .5rem;
    }
}
