/*
    The maximum width of a line relative to the main font size. This limits textblocks
    to a readable length.
*/
$max-line-width: 40rem;

.limit-line-width {
    max-width: $max-line-width;
}

/*
    Links without href and no role should not show the cursor
*/
a:not([href]):not([role]) {
    cursor: default;
}

.button,
.confirm,
.fc-event,
a[ic-verb],
a[onclick],
.partition-occupied {
    cursor: pointer !important;
}

/*
    Hyphenation for browsers which support it.
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
.page-text,
.page-lead,
.news-lead,
.newsletter-lead {
    @include prefix(hyphens, auto);
}

/*
    Disable hyphenation in e-mail links and make them breakable
*/
a[href^="mailto:"] {
    @include prefix(hyphens, none);
    @include prefix(word-break, break-all);

    // Non standard for WebKit
    word-break: break-word;
}

/*
    Our footer is kept at the bottom without being "sticky", thanks to this
    approach: https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f
*/

html,
body {
    color: $oil !important;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    padding-bottom: 3rem;
}

article {
    background: $white;
    flex-grow: 1;
}

header,
article,
footer {
    flex-shrink: 0;
}

/*
    Chrome shows a little up/down arrow on date fields which takes quite
    a bit of space, without being useful
*/
//input[type="date"]::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    display: none;
//}

/*
    main title
*/

.main-title {
    line-height: 1.2;
    margin-bottom: 2rem;
    max-width: 30ex;
}

/*
    page lead
*/
.page-lead {
    display: block;
    font-weight: 400;
    margin-bottom: 1rem;

    &.h5 {
        font-weight: normal;
    }
}

/*
    image subtitles
*/
.alt-text {
    background-color: $vapor;
    color: $monsoon;
    display: block;
    font-size: .875rem;
    padding: .25em .75em;
    transition: background .5s ease-in-out;
}

.alt-text-missing {
    background-color: $yellow-pastel;
    font-style: italic;
}

.alt-text-changed-success {
    background-color: $green-light;
}

.alt-text-changed-error {
    background-color: $red-light;
}

/*
    simple listed content
*/
.with-lead {
    li + li {
        margin-top: .5rem;
    }

    .list-link {
        font-weight: bold;
    }

    .list-lead {
        margin-bottom: .2em;
        max-width: $max-line-width;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }
}

/*
    page text
*/

.page-text {
    margin-bottom: 2rem;

    blockquote {
        background-color: $topbar-bg-color;
        padding: .5rem 1rem;
    }

    hr {
        @include hairline;
        margin: 1.25rem 0 !important;
    }

    img {
        border-radius: 2px;
        display: block;
    }

    > * {
        max-width: $max-line-width;
    }

    pre {
        @include smooth-edges;

        background: $white-smoke;
        display: inline-block;
        font-size: .9rem;
        margin-bottom: 1rem;
        padding: .75rem 1rem;
    }

    .has-video {
        background-color: $gray-pastel;
        cursor: pointer;
        display: block;
        min-height: 360px;
        position: relative;
        text-align: center;
        width: 100%;

        @include breakpoint(medium only) {
            min-height: 300px;
        }

        @include breakpoint(small only) {
            min-height: 200px;
        }
    }

    .video-wrapper {
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        position: relative;

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

/*
    blank (uncolored) labels
*/
.blank-label {
    @include label;
    background: none;
    border: 1px solid $gray;
    color: $body-font-color;
    font-size: .8rem;
    margin: 0 4px 7px 0;
    padding: .7rem;

    &.active {
        @include primary-color-background;
        border: 1px solid $primary-color;
    }

    a {
        color: inherit;
    }
}

/*
    Click through
*/
.click-through {
    cursor: pointer;
}

/*
    Links in simple text style (side by side)
*/
.text-links a:first-child::before {
    display: none;
}

.text-links a::before {
    color: $body-font-color;
    content: ' | ';
}

/*
    Dense lists
*/
.dense {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    No margin bottom
*/
.no-margin-bottom {
    margin-bottom: 0;
}

/*
    Default Coat of Arms
*/
#coat-of-arms-left {
    fill: lighten($primary-color, 20%);
}

#coat-of-arms-right {
    fill: $primary-color;
}

/* Page Links */

.max-line-width {
    max-width: $max-line-width;
}

.breadcrumbs {
    font-style: italic;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1rem 0 .7rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
        line-height: 1rem;

        // color last element
        &:last-child a {
            color: $body-font-color;
       }
    }

}


/* Card component tuning */
.card {
    @include smooth-edges;
}

.card-section {
    @include clean-ul;
    padding: 1.5rem !important;

    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}

.subpage-cards .card {
    border: 2px solid rgba(0, 0, 0, .04);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07);
    height: calc(100% - 2rem);
    margin-bottom: 2rem;
    transition: all 200ms linear;

    &:hover {
        border: 2px solid $primary-color !important;
        transition: all 200ms linear;
    }

    .card-section:first-child {
        flex-grow: 4;
    }

    h5 {
        color: $primary-color;
        padding-bottom: 1rem;
    }
}


/* Input */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    height: auto;
}

/* Button */
.button {
    border-radius: 10rem !important;
    padding: 1rem 1.5rem !important;
    transition: all 200ms linear !important;

    &:hover {
        margin-left: -.5rem;
        margin-right: -.5rem;
        padding: 1rem 2rem !important;
        transition: all 200ms linear;
    }
}

form .button {
    margin-top: 1rem;

    &.secondary {
        margin: 0;
        padding: 0 !important;

        &:hover {
            padding: 0 !important;
        }
    }
}

/*
Tables
*/
// Todo: not used anymore in foundation6
$table-border-color: smart-scale($table-background, $table-color-scale);

table {
    font-family: $header-font-family;
}

table tr th,
table tr td {
    font-size: .875rem;
}


/*
    Pagination customisations
*/

ul.pagination li {

    &.current > a {
        color: $primary-fg-color;
        font-weight: bold;
        pointer-events: none;
    }

}


/*
    monthly view calendar
*/

.monthly-view-wrapper {
    position: relative;
}

/*
    what-input close-button outline fix
*/
.close-button {
    @include clear-focus-outline;
}

.redactor-toolbar.redactor-toolbar {
    @include editor-toolbar;
}

/*
    Forms page
*/
$formlist-padding: .75rem 0;

.forms-list {
    margin-top: 0 !important;

    li:last-of-type {
        border: 0;
        padding-bottom: 1.5rem;
    }

    .list-hint {
        border-bottom: 0 !important;
        border-top: 1px solid $gray;
        color: #707070;
        margin-bottom: .2em;
        max-width: 90%;

        & > div {
            &.hint-stop::before {
                color: #b2232f;
            }

            &::before {
                font-weight: bold;
                margin-right: .5rem;
            }
        }
    }
}


$pageref-icon: '\f292';
$pageref-color: $topbar-link-bg-hover;
$pageref-color-hover: $iron;

.pageref {
    color: $pageref-color;
    cursor: pointer;
    display: inline-block;
    font-size: 70%;
    transition: color 250ms;
    z-index: 1;

    &:hover,
    &:focus {
        color: $pageref-color-hover;
    }

    &::after {
        @include icon-bold($pageref-icon);
    };
}

/*
 Status field fixed to show temporary message
*/

.hidden {
    display: none;
}

.flash-message {
    background-color: $black-light;
    bottom: 0;
    color: $white;
    font-size: 80%;
    max-width: 200px;
    padding: .5rem 1rem;
    position: fixed;
    right: 0;
    text-align: center;
    white-space: nowrap;
}

.page-lead.h5,
.news-lead.h5,
.newsletter-lead.h5 {
    display: block;
    font-weight: bold !important;
    margin-bottom: 30px;
}

.subheader {
    margin-bottom: 1rem !important;
}

.more-list {
    list-style: none;
    margin: 0 -.5rem;
    padding: 0;

    li {
        padding: 0 .5rem .5rem;
        transition: all 200ms linear;

        &:hover {
            transition: all 200ms linear;

            .list-title::after {
                padding-right: 0;
            }
        }

        .list-lead {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            overflow: hidden;

            &.preview {
                color: $monsoon;
            }
        }

        &:not(.medium-6) {
            @include more-link-after;
            font-family: $header-font-family;
            padding-bottom: .5rem;

            i.fa,
            i.fas,
            i.far {
                margin-right: .5rem;
            }

            a.no-chevron .list-title::after {
                opacity: 0;
                transition: all 200ms linear;
            }

            .list-lead {
                color: $jet;
                font-weight: normal;
                line-height: 1.3;
                margin-bottom: 0;
                padding-right: 10%;

                &.preview {
                    color: $monsoon;
                }
            }

            .list-link {
                border-top: 1px solid #f5f5f5;
                display: inline-block;
                font-weight: bold;
                padding-top: .5rem;
                transition: border-top 200ms linear;
                width: 100%;
            }

            &:hover {
                background: $ghost;

                .list-title::after {
                    opacity: 1 !important;
                    padding-right: 0;
                }
            }
        }
    }
}

.read-more-link {
    display: block;
    width: 100%;
}

.read-more-link::after {
    @include icon-bold($more-link-icon);
    float: right;
    padding-right: .5rem;
    transition: all 200ms linear;
}

.card:hover .read-more-link::after {
    padding-right: 0;
}

.side-panel .more-list {
    li {
        .list-link::after,
        .list-title::after {
            opacity: 0;
            transition: all 200ms linear;
        }

        &:hover .list-link::after,
        &:hover .list-title::after {
            opacity: 1 !important;
            padding-right: 0;
        }
    }
}

.page-links .list-lead {
    color: $monsoon;
    margin-bottom: 0;
}

.page-links > li.medium-6 {
    padding-bottom: 2rem;

    .list-link {
        display: block;
        position: relative;
        transition: all 200ms linear;

        &:hover {
            .page-image {
                filter: brightness(.7);
                transition: all 200ms linear;
            }

            .list-title {
                span::after {
                    padding-right: 0;
                }

                &::after {
                    padding-right: 0;
                }
            }
        }

        .page-image {
            background-color: #000 ;
            border-radius: .7rem;
            padding-bottom: 60%;
            transition: all 200ms linear;
            width: 100%;
        }

        .fa-external-link-alt {
            display: none;
        }

        .list-title {
            bottom: 0;
            color: #fff;
            display: block;
            left: 0;
            margin-bottom: 0;
            position: absolute;
            right: 0;

            .gradient {
                background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
                padding-bottom: 2rem;
            }

            span {
                background: rgba(0, 0, 0, .6);
                border-radius: 0 0 .7rem .7rem;
                display: block;
                margin-bottom: 0;
                padding: 1.5rem;
                padding-top: 1rem;
                text-shadow: #000 0 0 10px;

                &::after {
                    @include icon-bold($more-link-icon);
                    float: right;
                    padding-right: .5rem;
                    transition: all 200ms linear;
                }
            }
        }
    }

}


.occurrence-dates {
    h3 {
        hyphens: none;
    }

    .monthly-view {
        border-top: 1px solid #e1e4e6;
        padding-top: 1rem;
    }
}

/*
    Sort topics
*/
.sort-items {
    list-style: none;
    margin-left: 0;

    li {
        background: #f5f5f5;
        border: 1px dashed #ddd;
        cursor: grab;
        margin-bottom: 1em;
        padding: .25rem .5rem;

        &::before {
            color: #999;
            content: '\f0dc';
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            width: 1.5ex;
        }
    }
}

/* Improves accessability and avoids zoom in input form fields
   for iOS devices.
*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    font-size: 16px !important;
}


/*
    Accessibility
*/
.visually-hidden {
    @include element-invisible;
}

/*
    External links
*/
a > i.fa-external-link-alt {
    margin-left: .3rem;
}

.page-links,
.forms-list,
.more-list {
    .edit-link .fa-edit {
        color: #cacaca;
        display: block;
    }
}

.partners i.fa-external-link-alt::before {
    position: absolute;
}

/*
    Edit-bar
*/
.is-dropdown-submenu {
    max-height: 60vh;
    overflow: auto;/* to get scroll */
}

section#content h2 {
    margin-top: 2rem;
}

section#content h2:first-of-type {
    margin-top: 0 !important;
}

section#content th {
    text-align: left;
}

.find-your-spot-link {
    border-bottom: 0 !important;
    margin-left: 1rem;

    i {
        margin-bottom: 2px;
    }
}

/*
    Resource recipients
*/

ul.recipients {
    h2 {
        color: #000;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    div {
        font-size: .875rem;

        &:nth-child(2) {
            font-size: 1rem;
            font-weight: bold;
        }

        &:last-child {
            margin-top: .25rem;
        }
    }

    &> li {
        color: #707070;
        padding-bottom: 1rem;
    }

    .fa-ul {
        margin-bottom: .5rem;
        margin-left: 1.5rem;
    }
}

.page-image {
    padding-bottom: 2rem;
    background-position: center;
}

.cancel-link {
    display: block;
    margin-bottom: 1rem;
}

#page-auth-login {
    p {
        margin-top: 2rem;
    }

    #text {
        color: $black-light;
    }

    .cancel-link {
        display: none;
    }
}

.sidebar {
    box-shadow: inset 10px 0 8px -10px rgba(0, 0, 0, .07);

    .sidebar-wrapper {
        will-change: min-height;
        margin-bottom: 4rem;
    }

    .sidebar-content-wrapper {
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
}

@media #{$small-only} {
    .sidebar .sidebar-wrapper {
        display: none;
    }
}

.sidebar-toggler {
    background: $black;
    border-radius: 200px 0 0 200px;
    display: block;
    opacity: .5;
    padding: .9rem .4rem .7rem 1rem;
    position: fixed;
    right: 0;
    top: calc(50vh - 23px);
    z-index: 1001;

    i {
        color: $white;
    }
}

.rotate {
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-image {
    margin-bottom: .5rem;
    position: relative;

    .text {
        bottom: .5rem;
        color: $white;
        height: fit-content !important;
        position: absolute;
        text-shadow: 0 0 2em $black;
    }
}

.dark-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 26%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 100%);
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
