/*
    Filter panels
*/
.filter-panel {
    margin-bottom: 1rem;

    ul.tags {
        list-style: none;
        margin: 0 0 .75rem;
        padding: 0;

        .blank-label > a:hover {
            color: $primary-fg-color;
        }

        li {
            display: inline-block;
            font-size: .875rem;
            margin-bottom: 8px;

            &:hover .blank-label {
                @include primary-color-background;
                border: 1px solid $primary-color;

            }
        }

        a {
            font-size: .8rem;
            line-height: .8rem;
            white-space: normal;
        }

        span {
            margin-bottom: 0;
            text-align: left;

            &.rounded {
                @include rounded-corners;
            }
        }
    }

    .filters ul + ul {
        margin-top: .5rem;
    }
}

/*
    panels
*/


ul.panel-links {

    list-style: none;
    margin: 0;
    padding: 0 1rem;

    a {
        display: block;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    small {
        display: block;
        font-size: .875rem;
    }

}

$right-side-panel-margin: 0 0 2rem 1rem;
$panel-icon-margin-right: 1ex;
$panel-icon-padding-right: .8ex;

$tasks-icon: "\f0ae";
$calendar-icon: "\f133";
$emove-icon: "\f472";
$train-icon: "\f238";
$link-icon: "\f35d";
$publications-icon: '\f1ea';


.side-panel {
    @include clean-ul;
    @include breakpoint(medium up) {
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 1rem;
        }
    }
    padding-left: 1.5rem;

    @media #{$small-only} {
        margin-bottom: 2rem;
        padding-left: 0;

        &:last-child {
            margin-bottom: 1rem;
        }
    }

    ul.more-list {
        margin: 0 -.5rem;
    }

    #search {
        @include smooth-edges;

        + .input-group-button .button {
            margin-left: 1.5rem;
            padding: .2rem .7rem !important;

            &:hover {
                margin-left: 1rem;
                padding: .2rem 1.2rem !important;
            }
        }
    }

    .services-panel {
        a.online-counter::before { @include icon-bold($tasks-icon); }
        a.publications::before { @include icon-bold($publications-icon); }
        a.reservations::before { @include icon-bold($calendar-icon); }
        a.e-move::before { @include icon-bold($emove-icon); }
        a.sbb-daypass::before { @include icon-bold($train-icon); }
        a.generic::before { @include icon-bold($link-icon); }

        a.fa {
            font-family: inherit;

            &::before {
                font-family: 'Font Awesome 5 Free';
            }
        }

        a::before {
            margin-right: $panel-icon-margin-right;
            padding-right: $panel-icon-padding-right;
        }

        a {
            @include more-link-after;
            color: $primary-fg-color !important;
        }

        .panel-links {
            background-color: $primary-color;
            color: $primary-fg-color;

            .h5 {
                margin-bottom: 0;
            }

            a {
                line-height: 1.2;
                padding: 1rem 0;
            }
        }

        li {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }

        li:last-of-type {
            border: 0;
        }
    }
}

.primary .card {
    border: none
}

.borderless-side-panel {
    margin-bottom: 1.5rem;

    h2 {
        border-bottom: 2px solid $primary-color;
        font-size: 1rem;
        margin-bottom: .6rem;
        padding-bottom: .5rem;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            font-size: .875rem;
            margin-bottom: .4rem;
        }
    }
}

$checklist-icon: "\f0ae";

@mixin contact-content-base {
    min-height: 1rem;

    + li {
        margin-top: .25rem;
    }
}

.contact-panel {
    ul.bulleted {
        list-style-type: disc;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    ul li {
        min-height: 1rem;
    }

    >ul li+li {
        margin-top: 0 !important;
    }

    p:nth-child(2),
    p:last-child {
        margin-bottom: 0;
    }
}

.side-panel-with-bg {

    .calendar-export-list {
        list-style: none;
        margin: 0;
    }

    &> *:last-child {
        margin-bottom: 0 !important;
    }
}

.marker-map {
    @include smooth-edges;
}

.homepage .side-panel:first-child,
.side-panel {

    &.without-title {
        > ul {

            li:first-child {
                @include breakpoint(small only) {
                    font-size: $h3-font-size - $h3-font-reduction;
                }
                font-family: $header-font-family;
                font-size: $h3-font-size;
                margin-bottom: .5rem;
            }

            li {
                @include contact-content-base;
                font-family: $header-font-family;
            }
        }
    }
}


.panel {
    @include smooth-edges;
    @include callout;

    background: $panel-bg;
    border-color: $panel-border-color;
    color: $oil;

    // Zurb lacks a separate color for callout panels.
    &.callout {
        background: $callout-panel-bg;
        border-color: $callout-panel-border-color;
    }
}

.people-panel {
    margin-top: 2rem;
}

.page-content-sidebar {
    .newsletter-sidepanel {
        margin-top: 2rem;
    }
}

.date-filters input {
    margin-bottom: 0;
}

.occurrence-dates {
    h3 {
        hyphens: none;
    }

    .monthly-view {
        border-top: 1px solid #e1e4e6;
        padding-top: 1rem;
    }
}