/*
    Filter panels
*/
.filter-panel {
    margin-bottom: 1rem;

    ul.tags {
        list-style: none;
        margin: 0 0 .75rem;
        padding: 0;

        .blank-label > a:hover {
            color: $primary-fg-color;
        }

        li {
            display: inline-block;
            font-size: .875rem;
            margin-bottom: 8px;

            &:hover .blank-label {
                @include primary-color-background;
                border: 1px solid $primary-color;

            }
        }

        a {
            font-size: .8rem;
            line-height: .8rem;
            white-space: normal;
        }

        span {
            margin-bottom: 0;
            text-align: left;

            &.rounded {
                @include rounded-corners;
            }
        }
    }

    .filters ul + ul {
        margin-top: .5rem;
    }
}

/*
    panels
*/


ul.panel-links {

    list-style: none;
    margin: 0;
    padding: 0 1rem;

    a {
        display: block;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    small {
        display: block;
        font-size: .875rem;
    }

}

//ul.panel-links {
//    list-style: none;
//    margin: 0;
//
//    a {
//        display: block;
//        font-weight: bold;
//        overflow: hidden;
//        text-overflow: ellipsis;
//
//        &.more-link {
//            font-size: .875rem;
//            font-weight: 500;
//
//            &::before {
//                @include icon($more-link-icon);
//                font-size: .875rem;
//            }
//        }
//    }
//
//    small {
//        display: block;
//        font-size: .875rem;
//    }
//
//    li {
//        margin-bottom: .5em;
//    }
//
//    li:last-child {
//        margin-bottom: 0;
//    }
//}

$right-side-panel-margin: 0 0 2rem 1rem;
$panel-icon-margin-right: 1ex;
$panel-icon-padding-right: .8ex;

$tasks-icon: "\f0ae";
$calendar-icon: "\f133";
$emove-icon: "\f472";
$train-icon: "\f238";
$publications-icon: '\f1ea';


.side-panel {

    @include clean-ul;
    margin-bottom: 1rem;

    .services-panel {
        a.online-counter::before { @include icon-bold($tasks-icon); }
        a.publications::before { @include icon-bold($publications-icon); }
        a.reservations::before { @include icon-bold($calendar-icon); }
        a.e-move::before { @include icon-bold($emove-icon); }
        a.sbb-daypass::before { @include icon-bold($train-icon); }

        a::before {
            margin-right: $panel-icon-margin-right;
            padding-right: $panel-icon-padding-right;
        }

        @include more-link-after;

        a {
            color: $primary-fg-color !important;
        }

        .panel-links {
            background-color: $primary-color;
            color: $primary-fg-color;
        }

        li {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            padding: 1rem 0;
        }

        li:last-of-type {
            border: 0;
        }
    }


    //h2 {
    //    border-bottom: 2px solid $primary-color;
    //    font-size: .875rem;
    //    margin-bottom: .25rem;
    //    margin-top: 0;
    //    padding: .75rem 1rem;
    //    text-transform: uppercase;
    //
    //    + .marker-map {
    //        margin: 1rem 1rem 0;
    //    }
    //
    //    + .location {
    //        margin-top: 1rem;
    //    }
    //}
    //
    //> ul {
    //    list-style-type: none;
    //    margin: 0;
    //    padding: .5rem 1rem .75rem;
    //
    //    li {
    //        font-size: .875rem;
    //
    //        + li {
    //            margin-top: .25rem;
    //        }
    //    }
    //
    //    &.fa-ul {
    //        margin-left: 1.25rem;
    //
    //        .fa-li {
    //            margin-top: 1px;
    //        }
    //    }
    //}
    //
    //.panel-links li + li {
    //    margin-top: .75rem;
    //}
    //
    //a {
    //    display: block;
    //    font-size: .875rem;
    //    font-weight: bold;
    //    overflow: hidden;
    //    text-overflow: ellipsis;
    //    white-space: nowrap;
    //}
    //
    //small {
    //    font-size: .875rem;
    //}
    //
    //> .field-display {
    //    font-size: .875rem;
    //    margin-bottom: .5em;
    //    padding: 1rem 1.25rem 0;
    //}
    //
    //.field-display-data,
    //.field-display-data * {
    //    font-size: .875rem !important;
    //}
    //
    //.marker-map {
    //    border-bottom: 1rem solid $white;
    //    box-sizing: content-box;
    //    margin: -1rem 1rem 1rem;
    //
    //    a {
    //        font-size: 10px;
    //    }
    //}
    //
    //.location {
    //    font-size: .875rem;
    //    margin-bottom: 1rem;
    //    margin-left: 1rem;
    //    padding-right: 1rem;
    //    white-space: pre-line;
    //    word-break: break-all;
    //}
}

.borderless-side-panel {
    margin-bottom: 1.5rem;

    h2 {
        border-bottom: 2px solid $primary-color;
        font-size: 1rem;
        margin-bottom: .6rem;
        padding-bottom: .5rem;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            font-size: .875rem;
            margin-bottom: .4rem;
        }
    }
}

$checklist-icon: "\f0ae";

@mixin contact-content-base {
    min-height: .5rem;

    + li {
        margin-top: .25rem;
    }
}

.homepage .side-panel:first-child,
.side-panel {

    &.without-title {
        > ul {

            li:first-child {
                @include breakpoint(small only) {
                    font-size: $h3-font-size - $h3-font-reduction;
                }
                font-family: $header-font-family;
                font-size: $h3-font-size;
                margin-bottom: .5rem;
            }

            li {
                @include contact-content-base;
                font-family: $header-font-family;
            }
        }
    }
}

.contact-panel-content > ul li {
    @include contact-content-base;
}

.side-panel.highlighted,
.contact-panel-content {
    @include callout-style($gray-dark-medium);
    padding: 1rem;
}


.panel {
    @include smooth-edges;

    // Zurb lacks a separate color for callout panels.
    &.callout {
        background: $callout-panel-bg;
        border-color: $callout-panel-border-color;
    }
}

/*
    Custom record submission
*/
.submit-yours {
    @include callout($gray-dark-medium);
    @include smooth-edges;

    padding: 1rem 1rem .5rem;

    h2 {
        color: $primary-color;
        display: inline;
        font-size: 1rem;
        font-weight: bold;
    }
}

.people-panel {
    li div:first-of-type {
        margin-top: .3rem;
    }

    ul {
        border-top: $morelist-border;
        padding-top: .5rem;
    }
}

.page-content-sidebar {
    .newsletter-sidepanel {
        margin-top: 2rem;
    }
}
