/*
    Payments
*/
.payment-providers {
    list-style: none;
    margin: 0;

    li + li {
        margin-top: 1rem;
    }

    h2,
    span {
        color: $steel;
    }

    .payment-provider-default {
        h2,
        span {
            color: $body-font-color;
        }
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 0 .5rem;
    }

    .payment-provider-stripe-connect h2::before {
        @include icon('\f1f5');
        margin-right: 1.5ex;
    }

    .payment-provider-datatrans h2::before {
        @include icon('\f09d');
        margin-right: 1.5ex;
    }

    .payment-provider-worldline-saferpay h2::before {
        @include icon('\f09d');
        margin-right: 1.5ex;
    }
}

/*
    Payment states
*/
.payment-state {
    background-color: $white;
    display: inline-block;
    padding: 2px 8px;
    white-space:nowrap;

    &.payment-state-open {
        border: 1px solid get-color(info);

        &::before {
            @include icon('\f059');
            color: get-color(info);
            margin-right: .75ex;
        }
    }

    &.payment-state-paid {
        border: 1px solid get-color(success);

        &::before {
            @include icon-bold('\f058');
            color: get-color(success);
            margin-right: .75ex;
        }
    }

    &.payment-state-failed {
        border: 1px solid $alert-color;

        &::before {
            @include icon('\f057');
            color: get-color(alert);
            margin-right: .75ex;
        }
    }

    &.payment-state-cancelled {
        border: 1px solid get-color(warning);

        &::before {
            @include icon-bold('\f06a');
            color: get-color(warning);
            margin-right: .75ex;
        }
    }

    &.payment-state-invoiced {
        border: 1px solid get-color(info);

        &::before {
            @include icon('\f1ea');
            color: get-color(info);
            margin-right: .75ex;
        }
    }
}

.tickets-table .payment-state {
    background: transparent;
    border: 0;
    font-size: .8rem;
    margin-top: .3ex;
    padding: 0;

    &::before {
        margin-right: .25ex;
    }

    &.payment-state-paid::before {
        color: $iron;
    }
}

/*
    Payments table
*/
.payments-table {
    width: 100%;

    td {
        padding-right: 5px;
        vertical-align: top;
    }
}

/*
    Invoices table
*/
.invoices-table {
    width: 100%;

    tr.paid {
        &.uninvoiced .invoiced-state {
            color: get-color(warning);
            filter: grayscale(1);
        }
        &.invoiced .invoiced-state, .paid-state {
            color: get-color(success);
        }
    }

    tr.unpaid.invoiced {
        .invoiced-state {
            color: get-color(success);
        }
        .paid-state {
            color: get-color(warning);
        }
    }

    tr.unpaid.uninvoiced {
        .invoiced-state {
            color: get-color(alert);
        }
        .paid-state {
            color: get-color(warning);
            filter: grayscale(1);
        }
    }

    .invoiced-state, .paid-state {
        font-size: 1.25rem;
        text-align: center;
        white-space: nowrap;
        width: 1%;
    }

    td {
        padding-right: 5px;
        vertical-align: top;
    }
}

/*
    Invoice
*/
.invoice-items {
    position: relative;
    width: 100%;

    thead th:not(:first-child) {
        text-align: center !important;
    }

    tbody tr {
        background-color: transparent;

        &.paid:hover {
            background-color: $green-pastel !important;
        }

        &.unpaid:hover {
            background-color: $red-pastel !important;
        }
    }

    td {
        border: 0;
        padding-bottom: .35rem;
        padding-top: .35rem;

        &:not(:first-child) {
            white-space: nowrap;
        }
    }

    .group th {
        padding-bottom: .75rem;
        padding-top: .75rem;
    }

    .amount, .unit, .quantity, .vat, .vat-rate {
        font-family: $font-family-monospace;
        text-align: right;
        width: 1%;
    }

    .actions {
        width: 1%;
    }

    .total .amount,
    .total .vat {
        padding-top: .75rem;
    }

    .total td {
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    .total td:last-child {
        padding-right: .75rem;
    }

    .total td:first-child,
    .group th:first-child {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $body-font-color;
    }

    tbody tr:last-child td {
        // make sure the backgrounds of all item lines cover the same
        // height, here we mask the extended height of the row with
        // a white box-shadow
        box-shadow: 0 -.75rem $white inset;
        padding-bottom: 1rem;
    }

    .unpaid .amount {
        color: $red-dark;
    }

    .paid .amount {
        color: $green-dark;
    }

    a.remove-invoice-item {
        color: $red-dark;

        &:link,
        &:visited {
            color: $red-dark;
        }

        &:hover,
        &:active,
        &:focus {
            color: rgba($red-dark, .9);
        }
    }
}
