#people-filters {
    margin-bottom: 2rem;
}


/*
    Person card
*/
$person-website-icon: '\f0c1';
$person-phone-icon: '\f095';
$person-email-icon: '\f0e0';


.people-panel ul {
    margin-left: 0;

    .person-card-portrait {
        margin-left: 0;
    }
}

.person-card {

    padding: .5rem 0;

    .person-card-portrait {
        @include circle;

        background: $gainsboro;
        height: 12rem;
        overflow: hidden;
        position: relative;
        width: 12rem;

        // this would be nicer with object-position and object-fit, but IE
        // doesn't support it at all and Safari only somewhat.
        .cover-image {
            background-position: center top;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .fa-user {
            color: $white;
            font-size: 8rem;
            left: 50%;
            position: absolute;
            top: 1rem;
            transform: translate(-50%);
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;

        li::before {
            margin-right: .5ex;
        }
    }

    .person-card-details {
        flex-grow: 2;
    }

    .person-card-function {
        margin-bottom: 1em;
    }

    :nth-last-child(1 of .person-card-organisation) {
        margin-bottom: 1em;
    }

    .person-card-personal {
        margin-bottom: 1em;

        span:not(:last-child)::after {
            content: ',';
        }
    }

    .person-card-address {
        margin-bottom: 1em;

        span {
            white-space: pre-line;
        }
        span:not(:last-child)::after {
            content: ',';
        }
    }

    .person-card-notes {
        padding-top: 1em;

        span {
            white-space: pre-line;
        }
    }

    .person-card-context-specific-functions {

        padding-top: 1em;

        ul {
            list-style: outside;
            margin-bottom: 0;
            margin-left: 0;

            li {
                margin-left: 1em;
            }
        }
    }

    &.person-single-item {
        .person-card-website::before {
            @include icon-bold($person-website-icon);
            color: $primary-color;
        }

        .person-card-phone::before,
        .person-card-phone-direct::before {
            @include icon-bold($person-phone-icon);
            color: $primary-color;
        }

        .person-card-email::before {
            @include icon($person-email-icon);
            color: $primary-color;
        }
    }
}

@include breakpoint(small only) {
    .person-card {
        .person-card-portrait {
            height: 12rem;
            margin-bottom: 1rem;
            width: 12rem;

            .fa-user {
                font-size: calc(100vw - 6rem);
            }
        }
    }
}

/*
    People list
*/
.people-list .card-section {
    align-items: center;
    display: flex;
    padding: 1rem !important;
}


/*
Person card in lists
*/

.person-list-card {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid #f5f5f5;


    .person-card-portrait {
        height: 8rem;
        margin-right: 1rem;
        position: relative;
        text-align: center;
        width: 8rem;

        @include breakpoint(small only) {
                height: 6rem;
                width: 6rem;
        }

        .fa-user {
            font-size: 4rem;
            left: 50%;
            position: absolute;
            transform: translate(-50%);
        }
    }

    > a:last-child {
        color: $gainsboro;
        padding: 2rem 1rem;
        transition: all 200ms linear;

        &:hover {
            color: $primary-color;
            padding-left: 2rem;
            padding-right: 0rem;
        }
    }

    .person-card-title {
        font-size: 1rem;
        font-weight: bold;
    }

    .person-card-function {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
        margin-bottom: 0;

        span {
            cursor: help;
        }
    }
}


/*
    A-Z Blocks
*/

.atoz-block {
    h2 {
        padding-top: 1rem;
    }

    ul {
        list-style: none;
        margin-left: 0;
    }
}

@media #{$large-only} {
    .atoz-block {
        h2 {
            max-width: 50%;
        }
    }
}
