/*
    The list of people on the form view can swell to a large number. For now
    we limit the size of this list. In the future we might replace it with
    a better way of doing this.
*/
#fieldset-people > div {
    border: 1px solid $iron;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em;
}

