/*
    Signature
*/
.signature {
    margin-bottom: 1rem;
    padding-top: .01rem;
}

.signature-status {
    display: inline-flex;
    padding: 3px 5px 3px 3px;

    span {
        line-height: 1.4;
    }

    &.is-not-signed span {
        padding-left: 2px;
    }

    i {
        padding: 2px 8px 3px 3px;
    }
}

/*
    Publication
*/
.publication {
    display: flex;
    margin-bottom: .5rem;

    .publication-settings {
        display: flex;
        flex-wrap: wrap;
        margin-top: .3rem;
        width: 77.5%;

        legend {
            font-size: .8rem;
            font-weight: normal;
            margin-bottom: .5rem;
            margin-left: .25rem;
            text-align: left;
        }

        form {
            width: 100%;
        }

        fieldset {
            border: 1px solid $silver;
            border-radius: 3px;
            margin-bottom: .3rem;

            &::focus-within {
                border-color: $silver;
            }
        }

        .publication-settings-input {
            display: flex;
            padding: 0 .5rem 0 .5rem;
            margin: 0 .5rem 0 .5rem;

            > div {
                flex: 2 0 40%;
            }

            > select {
                flex: 0 0 25%;
                height: auto; /* keeps select height the same as input */

                margin-left: .5rem;
                margin-right: .5rem;
            }

            > a {
                display: block;
                font-size: 1rem !important;
                margin-right: 1rem;
                margin-top: .5rem;
            }
        }
    }
}

.publication-date-not-set .publication-settings-input > a {
    visibility: hidden;
}

/*
    Signature / Publication Animations
*/
.ic-transitioning .file-status-tag .fa {
    @include prefix(transform, scale(1.25));
    @include prefix(transition, transform .5s ease-in);

    color: $white;
}

@keyframes oscillate-color {
    0% { opacity: .25; }
    50% { opacity: 1; }
    100% { opacity: .25; }
}

.signing .fa {
    animation: oscillate-color 1.5s infinite linear;
}

/*
    Publications
*/
.publication-group {
    margin-bottom: 2rem;

    &:first-child {
        margin-top: 1.5rem;
    }
}

.publication-item {
    display: flex;
    margin-bottom: 1rem;

    .pdf-preview {
        max-height: 96px;
        width: 64px;
    }

    > a {
        flex: 1;

        img {
            margin-right: 1rem;
            margin-top: .4rem;
        }
    }

    > ul {
        flex: 8;

        span {
            font-size: .875rem;
        }
    }

    .publication-title {
        font-weight: bold;
    }

    .publication-stats span {
        color: $steel;
        font-size: .8rem;
    }
}

.is-logged-out {
    .publication-info {
        display: none;
    }
}

.publication-info * {
    font-size: .875rem;
}
