/* Modal QR */

.qr-image {
    align-items: center;
    display: flex;
    flex-direction: column;

    img.qr {
        border: 5px solid $black;
        box-sizing: border-box;
        margin-top: 2em;
    }

    a.button.qr {
        margin-top: 1.5em;
    }
}
