/*
    Resource recipients
*/

ul.recipients {
    h2 {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    div {
        font-size: .875rem;

        &:nth-child(2) {
            font-size: 1rem;
            font-weight: bold;
        }

        &:last-child {
            margin-top: .25rem;
        }
    }

    li + li {
        margin-top: 1rem;
    }
}
