/*
    sidebar navigation left & search page
*/

.off-canvas .searchbox {
    margin-top: 2rem;
    padding: 1rem;
}

#header .searchbox {
    margin-bottom: 0;
}

.searchbox {
    margin-bottom: 2rem;

    .input-group {
        margin-bottom: 0;

        input {
            @include smooth-edges;
        }

        .button {
            margin-left: 1.5rem;
            padding: .2rem .7rem !important;

            &:hover {
                margin-left: 1rem;
                padding: .2rem 1.2rem !important;
            }
        }
    }

    .typeahead ul {
        border: 1px solid $primary-color;
        @include smooth-edges;
        box-shadow: none;
        left: 0;
        padding: .7rem 0;
        margin-top: 1rem;

        li {
            margin: 0;
            padding: 0;

            a,
            button {
                padding: .2rem .7rem;
                text-align: left;
                width: 100%;

                &:hover,
                &:focus {
                    color: $oil !important;
                    font-weight: normal !important;
                }
            }
        }
    }

    input[type="text"]:not(:valid) ~ .reset-button {
        display: none;
    }

    input::-ms-clear {
        display: none;
    }

    [data-typeahead-container] a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.typeahead {
    position: relative;

    ul {
        background-color: $white;
        border-width: 0 1px 1px;
        box-shadow: 0 0 5px $jumbo;
        left: 1em;
        list-style-type: none;
        margin: 0;
        min-width: 100%;
        overflow: visible;
        padding: 0;
        position: absolute;
        z-index: 1;
    }

    a {
        color: $input-color;
        display: block;
        font-size: $input-font-size;
    }

    li {
        padding: 0 5px;

        // highlight links with the active class
        &.active {
            background-color: $topbar-bg-color;

            a {
                font-weight: bold;
            }
        }

        // highlight links when hovering
        &:not(:last-child):hover {
            background-color: $topbar-bg-color !important;

            a {
                color: $primary-color !important;
                font-weight: bold !important;
            }
        }
    }

    // do not highlight links with the active class when hovering (so we
    // get a different highlight when hovering)
    &:hover li.active {
        background-color: $white;

        a {
            color: $body-font-color;
            font-weight: normal;
        }
    }
}


.result-explanation li {
    background-color: $white-smoke;
    border-radius: 5px;
    color: $steel;
    display: inline-block;
    font-size: .8rem;
    padding: 0 3px;
}

.search-preview {
    color: $jumbo;
}

.list-title em,
.search-preview em {
    background-color: rgba($primary-color, .1);
    color: $primary-color !important;
    font-weight: bold;
    border-radius: .4rem;
    padding: 3px;
    font-style: normal;  // undo italics
}

.breadcrumbs {
    background-color: rgba(128, 128, 128, .1);
    border-radius: .4rem;
    padding: .1rem .5rem;
    white-space: normal;
    width: fit-content;
    margin: .4rem .4rem !important;

    .breadcrumb-item {
        a {
            color: $jumbo !important;
        }

        padding: .2rem 0 !important;
    }
}