// The height of this slider is adjusted in homepage_video_or_slider.js.

.slider {
    &.no-images {
        background-color: $charcoal;
        color: $white;
        padding: 8rem;
    }
}

.orbit-controls button {
    font-size: 1.5rem;
}

.orbit-bullet-wrapper {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;

    .orbit-bullets {
        padding: .5rem;
        padding-top: .3rem;

        button {
            background-color: $white;
            height: 1rem;
            opacity: .3;
            width: 1rem;

            &.is-active,
            &:hover {
                background-color: $white;
                opacity: .7;
            }
        }
    }
}
