/*
    Homepage slider
*/

.slider {

    .orbit-figure {
        max-height: $full-width-banner-height;

        img {
            object-fit: cover;
        }
    }

    &.no-images {
        background-color: $tuatara;
        color: $white;
        margin-bottom: 1rem;
        padding: 1rem;
    }

}

// hack to make sure the active button isn't jumping in Chrome
.orbit-bullets button.is-active span {
    display: none;
}
