/*
    Ticket
*/
$open-ticket-bg: $primary-color;
$pending-ticket-bg: $blue-light;
$closed-ticket-bg: $green-light;
$archived-ticket-bg: $brown-light;
$ticket-number-bg: $yellow-light;
$ticket-notification-enabled-icon: '\f0f3';
$ticket-notification-disabled-icon: '\f1f6';

@mixin status-batch($bg) {
    background: $bg;
    display: inline-block;
    font-weight: normal;
    padding: .25rem .5rem;
    text-align: center;
    white-space: nowrap;
}


.ticket-number-plain {
    color: $monsoon;
    font-weight: bold;

    a {
        font-family: $font-family-monospace;
        margin-left: .25rem;
    }
}


.ticket-number {
    @include label(
        $padding: .25rem .5rem,
        $text-size: 1rem,
        $bg: $ticket-number-bg
    );

    font-family: $font-family-monospace;

    a {
        font-family: $font-family-monospace;
    }
}


.ticket-date {
    color: $monsoon;
}

.ticket-state-open {
    @include label(
        $padding: .25rem .5rem,
        $text-size: 1rem,
        $bg: $open-ticket-bg
    );
}

.ticket-state-pending {
    @include label(
        $padding: .25rem .5rem,
        $text-size: 1rem,
        $bg: $pending-ticket-bg
    );
}

.ticket-state-closed {
    @include label(
        $padding: .25rem .5rem,
        $text-size: 1rem,
        $bg: $closed-ticket-bg
    );
}

.ticket-state-archived {
    @include label(
        $padding: .25rem .5rem,
        $text-size: 1rem,
        $bg: $archived-ticket-bg
    );
}

.ticket-timeline .message .title {
    border: 0;
    height: 0;
    padding: 0;
}

.ticket-timeline .timeline-no-messages {
    margin-top: 1.25rem;
}

.ticket-pdf::before { @include icon($pdf-icon); }

/*
    Tickets list
*/
$accept-ticket-icon-hover: '\f192';
$assign-ticket-icon: '\f007';
$assign-ticket-icon-hover: $assign-ticket-icon;
$close-ticket-icon: '\f111';
$open-ticket-icon: $close-ticket-icon;
$accept-ticket-icon: $open-ticket-icon;
$close-ticket-icon-hover: '\f058';
$reopen-ticket-icon: $accept-ticket-icon;
$reopen-ticket-icon-hover: $accept-ticket-icon-hover;
$delete-ticket-icon: '\f1f8';
$delete-ticket-icon-active: '\f00c';
$all-handler-icon: '\f069';
$frm-handler-icon: '\f044';
$rsv-handler-icon: '\f073';
$evn-handler-icon: '\f133';
$dir-handler-icon: '\f07b';
$pending-ticket-icon: $accept-ticket-icon-hover;
$my-ticket-icon: '\f2bd';
$ticket-archive-icon: '\f1c6';

$closed-ticket-icon: $close-ticket-icon-hover;
$all-ticket-icon: '\f055';

.my-tickets::before {
    @include icon($my-ticket-icon);
    font-size: 1.25rem;
    height: 22px;
    line-height: 22px;
    margin-right: 6px !important;
    width: 25px;
}

.ticket-filter-my::before {
    @include icon($my-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-open::before {
    @include icon($open-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-pending::before {
    @include icon($pending-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-closed::before {
    @include icon($closed-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-all::before {
    @include icon-bold($all-ticket-icon);
    width: 2 * $default-icon-width;
}

.no-tickets {
    border: 0;
    height: 400px;
    padding-top: 150px;
}


.tickets-table {
    width: 100%;

    td {
        vertical-align: top;

        .button { margin-bottom: 0; }

        &.ticket-date,
        &.ticket-state,
        &.ticket-user {
            color: $monsoon;
            @include breakpoint(medium up) {
                text-align: right;
            }
        }

        &.ticket-user > div {
            display: inline-block;
        }

        // forces the ticket-title and group to break on newlines
        &.ticket-number-plain,
        &.ticket-date,
        &.ticket-action {
            white-space: nowrap;
        }

        &.ticket-group div:first-child {
            font-weight: bold;
        }
    }

}

.ALL-link::before { @include icon-bold($all-handler-icon); }
.FRM-link::before { @include icon-bold($frm-handler-icon); }
.RSV-link::before { @include icon-bold($rsv-handler-icon); }
.EVN-link::before { @include icon-bold($evn-handler-icon); }
.DIR-link::before { @include icon-bold($dir-handler-icon); }

.ALL-link::before,
.FRM-link::before,
.RSV-link::before,
.EVN-link::before,
.DIR-link::before {
    display: inline-block;
    margin-right: 1ex;
}

.ticket-handler-FRM td:first-child::before {
    @include icon($frm-handler-icon);
}

.ticket-handler-RSV td:first-child::before {
    @include icon($rsv-handler-icon);
}

.ticket-handler-EVN td:first-child::before {
    @include icon($evn-handler-icon);
    color: $monsoon;
}

.ticket-handler-DIR td:first-child::before {
    @include icon($dir-handler-icon);
}

tr.ticket:hover {
    background-color: $yellow-pastel;
}

.button.ticket-button {
    font-size: 1em;
    margin: 0;

    :hover {
        margin: 0;
    }
}

.new-note {
    float: right;
}

.ticket-accept {
    float: right;

    &::before {
        @include icon($accept-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $accept-ticket-icon-hover;
    }
}

@keyframes wobble-horizontal {
    0%, 100% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-2px) rotate(-3deg);
    }
    30% {
        transform: translateX(2px) rotate(3deg);
    }
    45% {
        transform: translateX(-2px) rotate(-3deg);
    }
    60% {
        transform: translateX(2px) rotate(3deg);
    }
    75% {
        transform: translateX(-2px) rotate(-3deg);
    }
    90% {
        transform: translateX(2px) rotate(3deg);
    }
}

.ticket-delete {

    float: right;
    transition: transform 0.3s ease-in-out;

    &::before {
        @include icon-bold($delete-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        animation: wobble-horizontal 1s ease-in-out;
    }

}

.ticket-close {
    float: right;

    &::before {
        @include icon($close-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $close-ticket-icon-hover;
    }
}

.ticket-reopen {
    float: right;

    &::before {
        @include icon($reopen-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $reopen-ticket-icon-hover;
    }
}

.ticket-assign {
    float: right;

    &::before {
        @include icon($assign-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $assign-ticket-icon-hover;
    }
}

.ticket-change-tag {
    &::before {
        @include icon($edit-link-icon);
        margin-right: 1ex;
    }
}

.ticket-archive {
    &::before {
        @include icon($ticket-archive-icon);
        margin-right: 1ex;
    }
}

/*
    Tickets filter dropdown
*/


/* ticket filter fake table header */

$ticket-filters-padding: .5rem;

.ticket-filters {
    @include smooth-edges;
    align-items: center;
    background-color: $table-striped-background;
    display: flex;
    justify-content: space-between;
    padding: rem-calc(12);

    li a {
        @include smooth-edges;
        white-space: nowrap;
    }

    .menu {
        flex-wrap: nowrap;

        @include breakpoint(medium down) {
            flex-wrap: wrap;
        }

        @include breakpoint(small only) {
            flex-direction: column;
        }
    }

    .dropdown-pane {
        max-width: 275px;
        padding: 0;
    }

    .f-dropdown {
        margin: 0;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;

        li {

            &:hover {
                @include primary-color-background;
                a { color: $white; }
            }
        }


        li:first-of-type {
            padding-bottom: .25rem;
        }

        a {
            font-size: .875rem;
            overflow: hidden;
            padding: .5rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            ::before {
                font-weight: normal;
            }

            &.is-parent {
                margin-bottom: -.2rem;
            }

            .user-initials-small {
                margin-right: .5rem;
            }

            &.ticket-group-filter {
                font-weight: normal;
                margin-left: 1.4rem;
            }
        }
    }

    button.small {
        font-size: .875rem;
        margin-bottom: 0;
        margin-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include breakpoint(small only) {
            margin-bottom: 1rem;
            margin-right: 0;
            max-width: 160px;
            overflow-x: hidden;

            &:first-of-type {
                margin-bottom: .5rem;
            }

        }

        &::after {
            right: .9rem;
        }
    }

    .right-side {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        input[type="checkbox"] {
            margin: 0;
        }

        @include breakpoint(small only) {
            align-items: flex-end;
            flex-direction: column;
        }

        .ticket-filter-search {
            margin-bottom: 0;

            &.small {
                margin-top: 0.5rem;
            }

            .input-group {
                margin-bottom: 0;

                input {
                    &.small {
                        font-size: .875rem;

                        @include breakpoint(medium up) {
                            @include smooth-edges;
                        }

                        @include breakpoint(small only) {
                            width: 8rem;
                        }
                    }

                    &:not(.small) {
                        margin: 0 1rem;
                        height: 3.05rem;
                        @include smooth-edges;
                    }
                }

                .button.small {
                    @include breakpoint(small only) {
                        margin-left: 0;
                        padding: .5rem 0 !important;
                        border-radius: 0 .7rem .7rem 0 !important;
                    }
                }
            }
        }
    }

    #action-box {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }

    #do-action {
        &.ready {
            color: $alert-color;
            cursor: pointer;
            &::before { @include icon-bold($delete-ticket-icon); }
        }

        &.delete {
            &::before {
                @include icon-bold($delete-ticket-icon);
            }
        }

        &.archive {
            &::before {
                @include icon($ticket-archive-icon);
            }
        }

    }
}


button {
    .ALL-sub-link::before { @include icon-bold($all-handler-icon); }
    .FRM-sub-link::before { @include icon-bold($frm-handler-icon); }
    .RSV-sub-link::before { @include icon-bold($rsv-handler-icon); }
    .EVN-sub-link::before { @include icon-bold($evn-handler-icon); }

    .ALL-sub-link::before,
    .FRM-sub-link::before,
    .RSV-sub-link::before,
    .EVN-sub-link::before {
        display: inline-block;
        margin-right: 1ex;
    }
}

.selected-owner, .selected-submitter {

    &.secondary {
        ::before {
            @include icon-bold($all-handler-icon);
            display: inline-block;
            margin-right: 1ex;
        }
    }
}

/*
    Ticket summary customisations
*/
.ticket-summary {
    margin-bottom: 1.5rem;

    > div {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: $h3-font-size;
        @include breakpoint(small only) {
            font-size: $h3-font-size - $h3-font-reduction;
        }
    }

    h3 {
        font-size: $h4-font-size;
        @include breakpoint(small only) {
            font-size: $h4-font-size - $h4-font-reduction;
        }
    }

    h4 {
        font-size: $h5-font-size;
        @include breakpoint(small only) {
            font-size: $h5-font-size - $h5-font-reduction;
        }
    }

    h6 {
        font-size: $h6-font-size;
        @include breakpoint(small only) {
            font-size: $h6-font-size - $h6-font-reduction;
        }
    }

    dd {
        margin-bottom: .5rem;
    }

    .reservations {
        list-style: none;
        margin: 0;

        li {
            margin-bottom: .5rem;
        }

        .reservation {
            background: $white-smoke;
            border-radius: 2px;
            margin-bottom: 1rem;
            margin-left: -0.5rem;
            position: relative;
        }

        .reservation-details {
            font-size: .8rem;
            padding: .5rem 8rem .5rem .5rem;
        }

        .reservation-actions {
            font-size: .8rem;
            position: absolute;
            right: .5rem;
            top: .275rem;
        }
    }

    .occurrence.occurrence {
        margin-bottom: 0;
    }
}

/*
    Ticket panels
*/
.ticket-panel {
    background: $white-smoke;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 1rem;

    * {
        font-size: .875rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: -1px;
    }

    a.mute {
        color: #333;
        display: inline-block;
        text-align: center;
        width: 1.2rem;

        .fa-microphone-slash {
            display: none;
        }
        .fa-microphone {
            display: inline;
        }

        &:hover {
            color: $red;

            .fa-microphone-slash {
                display: inline;
            }
            .fa-microphone {
                display: none;
            }
        }
    }

    a.unmute {
        color: $red;
        display: inline-block;
        text-align: center;
        width: 1.2rem;

        .fa-microphone-slash {
            display: inline;
        }
        .fa-microphone {
            display: none;
        }

        &:hover {
            color: #333;

            .fa-microphone-slash {
                display: none;
            }
            .fa-microphone {
                display: inline;
            }

            &.disabled {
                color: $red;
                cursor: disabled;

                .fa-microphone-slash {
                    display: inline;
                }
                .fa-microphone {
                    display: none;
                }
            }
        }
    }

    .button {
        display: block;
        font-size: .875rem;
        margin: .5rem 0 0;

        &::before {
            width: 1.28571429em;
        }
    }

    .field-display-block + .field-display-block {
        margin-top: .5rem;
    }

    .field-display-block + .button {
        margin-top: 1rem;
    }
}

.ticket-submitter {
    .ticket-submitter-address {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.ticket-submitter-muted .ticket-submitter-notification-status > i::before {
        color: $red;
    }

    .ticket-submitter-notification-status > span {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .ticket-submitter-notification-status .prevent-text-overflow {
        white-space: normal;
        display: inline;
    }
}

/*
    Ticket status page message adjustments
*/
.status-chat {
    .message .title {
        // use this instead of visibility:hidden or display:none - we do not
        // want this to bread by screen-readers, but we also want the element
        // to stick around so the line defined by ::before stays
        border: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
}

/*
    Ticket counts
*/
.counts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: .5rem 0 -.75rem -.25rem;
    text-align: center;
    width: calc(100% + .5rem);

    > li {
        border: .25rem solid #f5f5f5;
        display: inline-block;
        flex-basis: 0;
        flex-grow: 1;
        line-height: 1.3;
        margin: auto;
        padding: 1ex;
        text-align: center;
        white-space: nowrap;

        * {
            font-size: .8rem !important;
        }
    }

    .counts-value {
        border-radius: 50px;
        display: inline-block;
        font-weight: bold;
        margin-right: .5ex;
        min-height: 2.6ex;
        min-width: 2.6ex;
        padding: 0 2px;
        text-align: center;
    }

    > .counts-note .counts-value {
        background: $yellow-light;
        color: #333;
    }

    > .counts-external .counts-value {
        background: $blue-dark;
        color: $white;
    }

    > .counts-internal .counts-value {
        background: $blue-light;
        color: #333;
    }
}

.field-display {

    p.thumbnail {
        border-radius: 5px;
        padding: 0;

        img {
            border-radius: 5px;
            max-height: 150px;
            object-fit: cover;
            vertical-align: top;
        }
    }

    > dd,
    .field-display-data {
        margin-bottom: 1rem;

        img {
            margin-top: .5rem;
        }

        .marker-map {
            max-height: 300px;
            max-width: 500px;
        }

    }
}

.field-display-label {
    font-weight: bold;
}

/*
    Styles for inline js form on tickets page
 */
#edit-ticket-amount {
    cursor: pointer;
    margin-left: .25em;
}

#confirm-ticket-amount {
    cursor: pointer;
    font-size: 120%;
    margin-left: .25em;
}

.ticket-payment-amount {
    input {
        display: inline-block;
        width: 50%;
    }
}

.tickets-layout {
    .button,
    .button:hover {
        margin-right: 0;
        padding: .5rem !important;
    }

    .main-title {
        max-width: none;
    }

}

.ticket-notifications {
    float: right;

    &::before { @include icon-bold($ticket-notification-disabled-icon); }

    &.granted {
        &::before { @include icon-bold($ticket-notification-enabled-icon); }
    }
}
