/*
    Ticket
*/
$open-ticket-bg: $primary-color;
$pending-ticket-bg: $blue-light;
$closed-ticket-bg: $green-light;
$ticket-number-bg: $yellow-light;

.ticket-number-plain {
    color: $monsoon;
    font-family: $font-family-monospace;
    font-weight: bold;
}



.ticket-number {
    //@include label(
    //    $padding: .25rem .5rem,
    //    $text-size: 1rem,
    //    $bg: $ticket-number-bg
    //);
    @include label;
    font-family: $font-family-monospace;
}

.ticket-date {
    color: $monsoon;
}

.ticket-state-open {
    //@include label(
    //    $padding: .25rem .5rem,
    //    $text-size: 1rem,
    //    $bg: $open-ticket-bg
    //);
    @include label;
}

.ticket-state-pending {
    //@include label(
    //    $padding: .25rem .5rem,
    //    $text-size: 1rem,
    //    $bg: $pending-ticket-bg
    //);
    @include label;
}

.ticket-state-closed {
    //@include label(
    //    $padding: .25rem .5rem,
    //    $text-size: 1rem,
    //    $bg: $closed-ticket-bg
    //);
    @include label;
}

.ticket-timeline .message .title {
    border: 0;
    height: 0;
    padding: 0;
}

.ticket-timeline .timeline-no-messages {
    margin-top: 1.25rem;
}

/*
    Tickets list
*/
$accept-ticket-icon-hover: '\f192';
$close-ticket-icon: '\f111';
$close-ticket-icon-hover: '\f058';
$reopen-ticket-icon: '\f1db';
$reopen-ticket-icon-hover: '\f192';
$all-handler-icon: '\f069';
$frm-handler-icon: '\f044';
$rsv-handler-icon: '\f073';
$evn-handler-icon: '\f133';
$dir-handler-icon: '\f114';
$open-ticket-icon: '\f111';
$pending-ticket-icon: '\f192';
$accept-ticket-icon: $open-ticket-icon;
$closed-ticket-icon: '\f058';
$all-ticket-icon: '\f055';

.ticket-filter-open::before {
    @include icon($open-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-pending::before {
    @include icon($pending-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-closed::before {
    @include icon($closed-ticket-icon);
    width: 2 * $default-icon-width;
}

.ticket-filter-all::before {
    @include icon-bold($all-ticket-icon);
    width: 2 * $default-icon-width;
}

.no-tickets {
    border: 0;
    height: 400px;
    padding-top: 150px;
    text-align: center;
}


.tickets-table {
    width: 100%;

    td {
        vertical-align: top;

        .button { margin-bottom: 0; }

        &.ticket-date,
        &.ticket-state,
        &.ticket-user {
            color: $monsoon;
            text-align: right;
        }

        &.ticket-user > div {
            display: inline-block;
        }

        // forces the ticket-title and group to break on newlines
        &.ticket-number-plain,
        &.ticket-date,
        &.ticket-action {
            white-space: nowrap;
        }

        &.ticket-group div:first-child {
            font-weight: bold;
        }
    }

}

.ALL-link::before { @include icon-bold($all-handler-icon); }
.FRM-link::before { @include icon-bold($frm-handler-icon); }
.RSV-link::before { @include icon-bold($rsv-handler-icon); }
.EVN-link::before { @include icon-bold($evn-handler-icon); }
.DIR-link::before { @include icon-bold($dir-handler-icon); }

.ALL-link::before,
.FRM-link::before,
.RSV-link::before,
.EVN-link::before,
.DIR-link::before {
    display: inline-block;
    margin-right: 1ex;
}

.ticket-handler-FRM td:first-child::before {
    @include icon($frm-handler-icon);
}

.ticket-handler-RSV td:first-child::before {
    @include icon($rsv-handler-icon);
}

.ticket-handler-EVN td:first-child::before {
    @include icon($evn-handler-icon);
    color: $monsoon;
}

.ticket-handler-DIR td:first-child::before {
    @include icon($dir-handler-icon);
}

tr.ticket:hover {
    background-color: $yellow-pastel;
}

.ticket-button {
    font-size: 1em;
    margin: 0;
}

.new-note {
    float: right;
}

.ticket-accept {
    float: right;

    &::before {
        @include icon($accept-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $accept-ticket-icon-hover;
    }
}

.ticket-close {
    float: right;

    &::before {
        @include icon($close-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $close-ticket-icon-hover;
    }
}

.ticket-reopen {
    float: right;

    &::before {
        @include icon($reopen-ticket-icon);
        margin-right: 1ex;
    }

    &:hover::before {
        content: $reopen-ticket-icon-hover;
    }
}


/*
    Tickets filter dropdown
*/


/* ticket filter fake table header */
.ticket-filters {

    background-color: $table-striped-background;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    .dropdown-pane {
        max-width: 275px;
        padding: 0;
    }

    .f-dropdown {
        margin: 0;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;

        li:hover {
            @include primary-color-background;
            a { color: $white; }
        }

        li:first-of-type {
            padding-bottom: .25rem;
        }

        a {
            font-size: .875rem;
            overflow: hidden;
            padding: .5rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            ::before {
                font-weight: normal;
            }

            &.is-parent {
                margin-bottom: -.2rem;
            }

            .user-initials-small {
                margin-right: .5rem;
            }

            &.ticket-group-filter {
                font-weight: normal;
                margin-left: 1.4rem;
            }
        }
    }

    button.small {
        font-size: .9rem;
        margin-bottom: 0;
        margin-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include breakpoint(small only) {
            margin-bottom: 1rem;
            margin-right: 0;
            max-width: 160px;
            overflow-x: hidden;

            &:first-of-type {
                margin-bottom: .5rem;
            }

        }

        &::after {
            right: .9rem;
        }
    }
}


button {
    .ALL-sub-link::before { @include icon-bold($all-handler-icon); }
    .FRM-sub-link::before { @include icon-bold($frm-handler-icon); }
    .RSV-sub-link::before { @include icon-bold($rsv-handler-icon); }
    .EVN-sub-link::before { @include icon-bold($evn-handler-icon); }

    .ALL-sub-link::before,
    .FRM-sub-link::before,
    .RSV-sub-link::before,
    .EVN-sub-link::before {
        display: inline-block;
        margin-right: 1ex;
    }
}

.selected-owner {
    //margin-left: 1rem !important;

    &.secondary {
        ::before {
            @include icon-bold($all-handler-icon);
            display: inline-block;
            margin-right: 1ex;
        }
    }
}

/*
    Ticket summary customisations
*/
.ticket-summary {
    margin-bottom: 1.5rem;

    > div {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: $h3-font-size;
    }

    h3 {
        font-size: $h4-font-size;
    }

    h4 {
        font-size: $h5-font-size;
    }

    h6 {
        font-size: $h6-font-size;
    }

    dd {
        margin-bottom: .5rem;
    }

    .reservations {
        list-style: none;
        margin: 0;

        li {
            margin-bottom: .5rem;
        }
    }

    .occurrence.occurrence {
        margin-bottom: 0;
    }
}

/*
    Ticket panels
*/
.ticket-panel {
    background: $white-smoke;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 1rem;

    * {
        font-size: .875rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: -1px;
    }

    .button {
        display: block;
        font-size: .875rem;
        margin: .5rem 0 0;

        &::before {
            width: 1.28571429em;
        }
    }

    .field-display-block + .field-display-block {
        margin-top: .5rem;
    }

    .field-display-block + .button {
        margin-top: 1rem;
    }
}

.ticket-submitter {
    .ticket-submitter-address {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.ticket-submitter-muted .ticket-submitter-notification-status > i::before {
        color: $red;
    }

    .ticket-submitter-notification-status > span {
        display: inline-block;
        margin-bottom: .5rem;
    }
}

/*
    Ticket status page message adjustments
*/
.status-chat {
    .title {
        // use this instead of visibility:hidden or display:none - we do not
        // want this to bread by screen-readers, but we also want the element
        // to stick around so the line defined by ::before stays
        border: 0;
        height: 0;
        padding: 0;
        width: 0;
    }
}

/*
    Ticket counts
*/
.counts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: .5rem 0 -.75rem -.25rem;
    text-align: center;
    width: calc(100% + .5rem);

    > li {
        border: .25rem solid #f5f5f5;
        display: inline-block;
        flex-basis: 0;
        flex-grow: 1;
        line-height: 1.3;
        margin: auto;
        padding: 1ex;
        text-align: center;
        white-space: nowrap;

        * {
            font-size: .8rem !important;
        }
    }

    .counts-value {
        border-radius: 50px;
        display: inline-block;
        font-weight: bold;
        margin-right: .5ex;
        min-height: 2.6ex;
        min-width: 2.6ex;
        padding: 0 2px;
        text-align: center;
    }

    > .counts-note .counts-value {
        background: $yellow-light;
        color: #333;
    }

    > .counts-external .counts-value {
        background: $blue-dark;
        color: $white;
    }

    > .counts-internal .counts-value {
        background: $blue-light;
        color: #333;
    }
}
