/*
    Timeline Messages
*/
#page-timeline div.timeline,
h2 + div.timeline {
    margin-top: -.75rem;
}

#page-timeline .actions {
    display: none;
}

.messages {
    border-radius: 2px;
    list-style: none;
    margin: 0;

    li {
        position: relative;

        + li .title::before {
            border-right: 1px solid $gainsboro;
            content: '';
            display: block;
            height: 25px;
            left: 50%;
            position: absolute;
            top: -24px;
        }
    }

    .first-of-day .title::before {
        display: none !important;
    }

    .date {
        font-size: .875rem;
        margin-bottom: 1.25rem;
        text-align: center;

        &::after {
            border-right: 1px solid $gainsboro;
            content: '';
            display: block;
            height: 20px;
            left: 50%;
            position: absolute;
        }

        span {
            background-color: $silver;
            border-radius: 25px;
            display: inline-block;
            padding: 0 10px;
        }
    }
}

.message {
    background-color: $gray-pastel;
    border: 1px solid rgba(175, 150, 150, .25);
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(220, 220, 220, .2);
    display: inline-block;
    font-size: .875rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;

    .hashtag {
        background: $white;
    }

    .identicon {
        left: .75rem;
        position: absolute;
    }

    .title {
        background-color: rgba(175, 150, 150, .1);
        border-bottom: 1px solid rgba(175, 150, 150, .15);
        margin-bottom: .5rem;
        padding: .25rem .5rem;
    }

    .text p {
        font-size: .875rem;
        margin-bottom: 0;

        + p {
            margin-top: .5rem;
        }
    }

    .title,
    .timestamp,
    .file {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .actions,
    .text,
    .file {
        margin-bottom: .5rem;
    }

    .file {
        background: rgba(255, 255, 255, .7);
        border-radius: 2px;
        box-shadow: 1px 1px 2px rgba(150, 150, 150, .3);
        display: inline-block;
        padding: 1px 6px;

        ::before {
            @include icon('\f0c6');
            margin-right: .5ex;
        }
    }

    .actions,
    .text,
    .timestamp,
    .file {
        margin-left: 4rem;
    }

    .reservation-adjustment {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;

        .fa {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, .5);
        }

        .reservation-details {
            font-size: .8rem;
            padding: .5rem;
            background: rgba(255, 255, 255, .7);
            border-radius: 2px;
            box-shadow: 3px 3px 3px rgba(220, 220, 220, .2);
            flex: 0 0 32.66%;
            margin: .5rem 0;
        }

    }
}

/*
    Ticket types
*/
.message-reservation,
.message-payment,
.message-event,
.message-directory,
.message-submission {
    background: lighten($green-pastel, 2.5%);
}

.message-reservation_adjusted {
    background: lighten($yellow-pastel, 2.5%);
}

.message-ticket_note {
    background: lighten($yellow-pastel, 2.5%);

    .text {
        max-width: $max-line-width;
        overflow: auto;
        text-overflow: clip;
        white-space: normal;
    }
}

.message-ticket_chat-internal {
    background: lighten($blue-pastel, 3%);
}

.message-ticket_chat-external {
    background: darken($blue-pastel, 3%);
}

.message-file {
    background: lighten($red-pastel, 2.5%);
}

/*
    Timeline Messages Fly-In
*/
.messages-enter .message {
    opacity: 0;
    transform: translate3d(0, -250px, 0);
}

.messages-enter.messages-enter-active .message {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 1s ease;
    transition-duration: 300ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(.175, .665, .320, 1), linear;
}
