/* Mixins */

@mixin rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
    The maximum width of a line relative to the main font size. This limits textblocks
    to a readable length.
*/
$max-line-width: 40rem;

.limit-line-width {
    max-width: $max-line-width;
}

/*
    Links without href and no role should not show the cursor
*/
a:not([href]):not([role]) {
    cursor: default;
}

.button,
.confirm,
.fc-event,
a[ic-verb],
a[onclick],
.partition-occupied {
    cursor: pointer !important;
}

/*
    Hyphenation for browsers which support it.
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
.page-text,
.page-lead,
.news-lead,
.newsletter-lead {
    @include prefix(hyphens, auto);
}

h6 {
  margin-top: .5rem;
}

/*
    Disable hyphenation in e-mail links and make them breakable
*/
a[href^="mailto:"] {
    @include prefix(hyphens, none);
    @include prefix(word-break, break-all);

    // Non standard for WebKit
    word-break: break-word; /* stylelint-disable-line declaration-property-value-keyword-no-deprecated */
}

/*
    Our footer is kept at the bottom without being "sticky", thanks to this
    approach: https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f
*/

html,
body {
    color: $oil !important;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-content,
.page-content-main {
    padding-right: 2rem !important;
}

.content {
    padding-bottom: 3rem;
}

article {
    background: $white;
    flex-grow: 1;
}

header,
article,
footer {
    flex-shrink: 0;
}

/*
    Chrome shows a little up/down arrow on date fields which takes quite
    a bit of space, without being useful
*/
//input[type="date"]::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    display: none;
//}

/*
    main title
*/

.main-title {
    line-height: 1.2;
    margin-bottom: 2rem;

    .small {
        display: block;
        font-size: 1.5rem;
        font-weight: normal;
    }

    small {
        font-weight: normal;
    }

}

/*
    page lead
*/
.page-lead {
    display: block;
    font-weight: 400;
    margin-bottom: 1rem;

    &.h5 {
        font-weight: normal;
    }
}

/*
    image subtitles
*/
.alt-text {
    background-color: $vapor;
    color: $monsoon;
    display: block;
    font-size: .875rem;
    padding: .25em .75em;
    transition: background .5s ease-in-out;
}

.alt-text-missing {
    background-color: $yellow-pastel;
    font-style: italic;
}

.alt-text-changed-success {
    background-color: $green-light;
}

.alt-text-changed-error {
    background-color: $red-light;
}

/*
    simple listed content
*/
.with-lead {
    li + li {
        margin-top: .5rem;
    }

    .list-link {
        font-weight: bold;
    }

    .list-lead {
        margin-bottom: .2em;
        max-width: $max-line-width;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }
}

/*
    links
*/

.page-text,
.breadcrumbs,
.contact-panel,
.organiser-panel,
.occasions,
.agency-card,
.membership-card,
.person-single-item,
.person-list-card *:not(.person-card-details) {
    a:not(.button) {
        position: relative;
        transition: all 250ms;
        z-index: 2;

        &::before {
            background: rgba(lighten($primary-color, 20%), .16);
            bottom: .1em;
            content: "";
            height: 0%;
            left: 0;
            position: absolute;
            transition: height 250ms;
            width: 100%;
            z-index: -1;
        }

        &:hover {
            border-color: transparent;

            &::before {
                height: 1em;
            }
        }
    }

    .video-link a::before {
        display: none;
    }
}

/*
    page text
*/

.page-text {
    margin-bottom: 2rem;

    a {
        display: inline-block;
        text-decoration: underline !important;
        text-underline-offset: .15em;

        &::before {
            bottom: .3em;
        }
    }

    blockquote {
        background-color: $topbar-bg-color;
        padding: .5rem 1rem;
    }

    hr {
        @include hairline;
        margin: 1.25rem 0 !important;
    }

    img {
        border-radius: 2px;
        display: block;
    }

    > * {
        max-width: $max-line-width;
    }

    pre {
        @include smooth-edges;

        background: $white-smoke;
        display: inline-block;
        font-size: .9rem;
        margin-bottom: 1rem;
        padding: .75rem 1rem;
    }

    .has-video {
        background-color: $gray-pastel;
        cursor: pointer;
        display: block;
        min-height: 360px;
        position: relative;
        text-align: center;
        width: 100%;

        @include breakpoint(medium only) {
            min-height: 18.75rem
        }

        @include breakpoint(small only) {
            min-height: 200px;
        }
    }

    .video-wrapper {
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        position: relative;

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

.iframe-panel {
    border: 2px solid rgba(0, 0, 0, .04);
    border-radius: .7rem;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07);
    padding: 1rem;
}

/*
    blank (uncolored) labels
*/
.blank-label {
    @include label;
    background: none;
    border: 1px solid $gray;
    color: $body-font-color;
    font-size: .8rem;
    margin: 0 4px 7px 0;
    padding: .7rem;

    &.active {
        @include primary-color-background;
        border: 1px solid $primary-color;
    }

    a {
        color: inherit;
    }
}

/*
    Click through
*/
.click-through {
    cursor: pointer;
}

/*
    Links in simple text style (side by side)
*/
.text-links a:first-child::before {
    display: none;
}

.text-links a::before {
    color: $body-font-color;
    content: ' | ';
}

/*
    Dense lists
*/
.dense {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    No margin bottom
*/
.no-margin-bottom {
    margin-bottom: 0;
}

/*
    Default Coat of Arms
*/
#coat-of-arms-left {
    fill: lighten($primary-color, 20%);
}

#coat-of-arms-right {
    fill: $primary-color;
}

/* Page Links */

.max-line-width {
    max-width: $max-line-width;
}

.breadcrumbs {
    font-style: italic;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1rem 0 .7rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
        line-height: 1rem;

        // color last element
        &:last-child a {
            color: $body-font-color;
       }
    }

}

.callout {
    border: 0;
    margin: 1rem 0 !important;
}


/* Card component tuning */
.card {
    @include smooth-edges;
}

.card-section {
    @include clean-ul;
    padding: 1.5rem !important;

    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}

.subpage-cards .card {
    border: 2px solid rgba(0, 0, 0, .04);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07);
    height: calc(100% - 2rem);
    margin-bottom: 2rem;
    transition: all 200ms linear;

    @media #{$small-only} {
        height: calc(100% - 1rem);
        margin-bottom: 1rem;
    }

    &:hover {
        border: 2px solid $primary-color !important;
        transition: all 200ms linear;
    }

    .card-section:first-child {
        flex-grow: 4;
    }

    h5 {
        color: $primary-color;
        padding-bottom: 1rem;
    }
}


/* Input */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    font-size: 16px !important;
    height: auto;
    box-shadow: none !important;
}

/* Button */
.button {
    border-radius: 10rem !important;
    padding: 1rem 1.5rem !important;
    transition: all 200ms linear !important;

    i.fa:first-child,
    i.fas:first-child  {
        margin-right: .5rem;
    }

    &.hollow.find-your-spot-link {
        height: fit-content;
        margin-bottom: .5rem;
        margin-top: .5rem;
        white-space: nowrap;

        i {
            margin-right: .5rem;
        }
    }


    &:hover {
        margin-left: -.5rem;
        margin-right: -.5rem;
        padding: 1rem 2rem !important;
        transition: all 200ms linear;
    }

    &.narrow {
        padding: .7rem 1rem !important;

        &:hover {
            padding: .7rem 1.5rem !important;
        }
    }

    *:first-child.fa {
        margin: 0 .5rem;
    }

    *:first-child.fa:has(+ span:not(.show-for-sr)) {
        margin-left: 0;
    }

}

.download-button {
    border: 1px solid  $primary-color;
    border-radius: .7rem;
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    transition: background 200ms linear;
    width: fit-content;

    &:hover {
        background: $white-smoke;
    }

    .fa {
        margin-right: .5rem;
    }
}

// like above, but no border, no hover effect
.button-clear {
    padding: 1rem 1.5rem !important;
}

.save-link {
    cursor: pointer;
}

form .button {
    margin-top: 1rem;

    &.secondary {
        margin: 0;
        padding: 0 !important;

        &:hover {
            padding: 0 !important;
        }
    }
}

/*
Tables
*/
// Todo: not used anymore in foundation6
$table-border-color: smart-scale($table-background, $table-color-scale);

table {
    font-family: $header-font-family;

    td p {
        hyphens: none;
        margin-bottom: 0;
    }
}

/* Gradient overlay for scrollable tables */
.table-container {
    position: relative;
    width: 100%;
}

.scroll-gradient {
    background: linear-gradient(to right, transparent, #e0e0e0);
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
    width: 30px;

    &.show {
        opacity: 1;
    }
}

table tr th,
table tr td {
    font-size: .875rem;
}

/*
    Pagination customisations
*/

ul.pagination li {

    &.current > a {
        color: $primary-fg-color;
        font-weight: bold;
        pointer-events: none;
    }

}


/*
    monthly view calendar
*/

.monthly-view-wrapper {
    position: relative;
}

/*
    what-input close-button outline fix
*/
.close-button {
    @include clear-focus-outline;
}

.redactor-toolbar.redactor-toolbar {
    @include editor-toolbar;
}

/*
    Forms page
*/
$formlist-padding: .75rem 0;

.forms-list {
    margin-top: 0 !important;

    li:last-of-type {
        border: 0;
        padding-bottom: 1.5rem;
    }

    .list-hint {
        border-bottom: 0 !important;
        border-top: 1px solid $gray;
        color: #707070;
        margin-bottom: .2em;
        max-width: 90%;

        > div {
            &.hint-stop::before {
                color: #b2232f;
            }

            &::before {
                font-weight: bold;
                margin-right: .5rem;
            }
        }
    }
}


$pageref-icon: '\f292';
$pageref-color: $topbar-link-bg-hover;
$pageref-color-hover: $iron;

.pageref {
    color: $pageref-color;
    cursor: pointer;
    display: inline-block;
    font-size: 70%;
    transition: color 250ms;
    z-index: 1;

    &:hover,
    &:focus {
        color: $pageref-color-hover;
    }

    &::after {
        @include icon-bold($pageref-icon);
    };
}

/*
 Status field fixed to show temporary message
*/

.hidden {
    display: none !important;
}

.flash-message {
    background-color: $black-light;
    bottom: 0;
    color: $white;
    font-size: 80%;
    max-width: 200px;
    padding: .5rem 1rem;
    position: fixed;
    right: 0;
    text-align: center;
    white-space: nowrap;
}

.page-lead.h5,
.news-lead.h5,
.newsletter-lead.h5 {
    display: block;
    font-weight: bold !important;
    margin-bottom: 30px;
}

.subheader {
    margin-bottom: 1rem !important;
}

.more-list {
    list-style: none;
    margin: 0 -.5rem;
    padding: 0;

    li {
        @include smooth-edges;
        padding: 0 .5rem .5rem;
        transition: all 200ms linear;

        &:hover {
            transition: all 200ms linear;
        }

        a::before {
            display: none;
        }

        .list-lead {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            overflow: hidden;

            &.preview {
                color: $monsoon;
            }
        }

        &:not(.medium-6) {
            font-family: $header-font-family;
            padding-bottom: .5rem;

            i.fa,
            i.fas,
            i.far {
                margin-top: .15rem;
                margin-right: .3rem;
            }

            a.no-chevron .list-title::after {
                opacity: 0;
                transition: all 200ms linear;
            }

            .list-lead {
                color: $jet;
                font-weight: normal;
                line-height: 1.3;
                margin-bottom: 0;
                padding-right: 10%;

                &.preview {
                    color: $monsoon;
                    padding-right: 0;
                }
            }

            .list-link {
                @include more-link-after;
                align-items: start;
                border-top: 1px solid $smoke;
                display: flex;
                font-weight: bold;
                justify-content: space-between;
                padding-top: .5rem;
                transition: border-top 200ms linear;
                width: 100%;

                &.no-link {
                    color: $oil;
                    cursor: default;

                    &::after {
                        opacity: 0;
                    }
                }

                span {
                    &.h5 {
                        margin-bottom: 0;
                    }

                    + i {
                        margin-left: .5rem;
                    }
                }

                &.multi-line {
                    display: flex;

                    i {
                        margin-right: .5rem;
                        margin-top: .3rem;
                    }
                }
            }

            &:hover {
                background: $ghost;

                .list-link::after {
                    padding-left: 1.5rem;
                    padding-right: 0;
                }
            }
        }

        &.more-list-level-2 {
            padding-bottom: 0;

            ul {
                box-shadow: -10px 0 8px -10px rgba(0, 0, 0, .07);
                margin-left: .25rem;

                .list-link,
                .list-lead,
                .list-hint {
                    padding-left: 1rem;
                }
            }
        }
    }

    > li:last-child {
        margin-bottom: 1rem;
    }
}

.list-lines li {
    border-top: 1px solid $smoke;
    padding: .5rem 0;
}

.side-panel {
    // reduce margin-bottom
    margin-bottom: 2rem !important;

    .location {
        white-space: pre-line;
    }
}

.side-panel .more-list {

    li {
        .list-title {
            display: inline;
            position: inherit;
        }

        .list-link::after,
        .list-title::after {
            opacity: 0;
            transition: all 200ms linear;
        }

        &:hover .list-link::after,
        &:hover .list-title::after {
            opacity: 1 !important;
            padding-right: 0;
        }
    }
}

.read-more-link {
    display: block;
    width: 100%;
}

.read-more-link::after {
    @include icon-bold($more-link-icon);
    float: right;
    padding-right: .5rem;
    transition: all 200ms linear;
}

.card:hover .read-more-link::after {
    padding-right: 0;
}


.page-links .list-lead {
    color: $monsoon;
    margin-bottom: 0;
}

.page-links > li.medium-6 {
    padding-bottom: 2rem;

    .list-link {
        display: block;
        position: relative;
        transition: all 200ms linear;

        &:hover {
            .page-image {
                filter: brightness(.7);
                transition: all 200ms linear;
            }

            .list-title {
                span::after {
                    padding-right: 0;
                }

                &::after {
                    padding-right: 0;
                }
            }
        }

        .page-image {
            @include smooth-edges;
            background-color: #000;
            padding-bottom: 60%;
            transition: all 200ms linear;
            width: 100%;
        }

        .fa-external-link-alt {
            display: none;
        }

        .list-title {
            bottom: 0;
            color: #fff;
            display: block;
            left: 0;
            margin-bottom: 0;
            position: absolute;
            right: 0;

            .gradient {
                background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
                padding-bottom: 2rem;
            }

            span {
                background: rgba(0, 0, 0, .6);
                border-radius: 0 0 .7rem .7rem;
                display: block;
                margin-bottom: 0;
                padding: 1.5rem;
                padding-top: 1rem;
                text-shadow: #000 0 0 10px;

                &::after {
                    @include icon-bold($more-link-icon);
                    float: right;
                    padding-right: .5rem;
                    transition: all 200ms linear;
                }
            }
        }
    }

}

/*
    Sort topics
*/
.sort-items {
    list-style: none;
    margin-left: 0;

    li {
        background: #f5f5f5;
        border: 1px dashed #ddd;
        cursor: grab;
        margin-bottom: 1em;
        padding: .25rem .5rem;

        &::before {
            color: #999;
            content: '\f0dc';
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            width: 1.5ex;
        }
    }
}

/*
    Accessibility
*/
.visually-hidden {
    @include element-invisible;
}

/*
    External links
*/
a > i.fa-external-link-alt {
    margin-left: .3rem;
}

.page-links,
.forms-list,
.more-list {
    .edit-link .fa-edit {
        color: $medium-gray;
        display: block;
    }
}

.partners i.fa-external-link-alt::before {
    position: absolute;
}

/*
    Edit-bar
*/
.is-dropdown-submenu {
    max-height: 60vh;
    overflow: auto;/* to get scroll */
}

section#content h2 {
    margin-top: 2rem;
}

section#content h2:first-of-type {
    margin-top: 0 !important;
}

section#content th {
    text-align: left;
}

.group-title {
    align-items: center;
    display: flex;
    margin-top: 2rem;

    h2 {
        margin-right: 1.5rem;
    }
}

.subgroup-title {
    align-items: center;
    border-top: 1px solid #f5f5f5;
    display: flex;

    h5 {
        margin-bottom: .75rem;
        margin-right: 1.5rem;
        margin-top: .75rem;
    }

    .button.hollow.find-your-spot-link {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/*
    Resource recipients
*/

ul.recipients {
    h2 {
        color: #000;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    div {
        font-size: .875rem;

        &:nth-child(2) {
            font-size: 1rem;
            font-weight: bold;
        }

        &:last-child {
            margin-top: .25rem;
        }
    }

    > li {
        color: #707070;
        padding-bottom: 1rem;
    }

    .fa-ul {
        margin-bottom: .5rem;
        margin-left: 1.5rem;
    }
}

.page-image {
    background-position: center;
    padding-bottom: 2rem;
}

.cancel-link {
    display: block;
    margin-bottom: 1rem;
}

#page-auth-login {
    .provider-login p {
        margin: 0 !important;
    }

    p {
        margin-top: 2rem;
    }

    #text {
        color: $black-light;
    }

    .cancel-link {
        display: none;
    }
}

.sidebar {
    box-shadow: inset 10px 0 8px -10px rgba(0, 0, 0, .07);
}

@media #{$small-only} {
    .sidebar .sidebar-wrapper {
        display: none;
    }
}

.sidebar-toggler {
    align-items: center;
    background: $primary-color;
    border-top: 1px solid rgba(255, 255, 255, .3);
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    padding-bottom: .3rem;
    padding-top: .3rem;
    position: fixed;
    width: 100%;
    z-index: 1001;

    .text {
        font-weight: bold;
    }


    /* Animated Hamburger */

    $bar-height: 3px;

    .animated-hamburger {
        cursor: pointer;
        height: 5 * $bar-height;
        margin-right: .5rem;
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        width: 5 * $bar-height + .5 * $bar-height;


        span:nth-child(1) {
            top: 0;
        }

        span:nth-child(2),
        span:nth-child(3) {
            top: 2 * $bar-height;
        }

        span:nth-child(4) {
            top: 4 * $bar-height;
        }

        span {
            background: $white;
            border-radius: 9px;
            display: block;
            height: $bar-height;
            left: 0;
            opacity: 1;
            position: absolute;
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            width: 100%;
        }
    }


    &[aria-expanded="true"] {
        .animated-hamburger span:nth-child(1) {
            left: 50%;
            top: 2 * $bar-height;
            width: 0%;
        }

        .animated-hamburger span:nth-child(2) {
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .animated-hamburger span:nth-child(3) {
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .animated-hamburger span:nth-child(4) {
            left: 50%;
            top: 2 * $bar-height;
            width: 0%;
        }
    }
}

.rotate {
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;

    &.down {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.icon-left-of-text {
    width: 1.5rem;
}

.header-image {
    margin-bottom: .5rem;
    position: relative;

    .text {
        bottom: .5rem;
        color: $white;
        height: fit-content !important;
        position: absolute;
        text-shadow: 0 0 2em $black;
    }
}

.dark-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .4) 26%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.videowrapper {
    height: 0;
    padding-bottom: 45%;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/*
    Views inside iFrames
*/

.framed {
    padding: 1rem 0;

    #inner-body {
        height: auto;
        min-height: 1px;
    }

    #header,
    .main-title,
    .breadcrumbs,
    footer {
        display: none;
    }

    .show-in-iframe .breadcrumbs {
        display: block;
    }

    #back-button {
        display: block;
    }
}

/*
    Foundation Accordion Extension
*/

.accordion-item {

    .accordion-title {
        border-bottom: 1px solid $gray;
    }

    .accordion-content {
        border-bottom: 1px solid $gray;
    }
}

.courses {
    .page-text table {
        max-width: 100%;
    }

    .accordion-title {
        border-radius: .7rem !important;
        font-size: 1rem;
        transition: border-radius 200ms linear;

        &[aria-expanded="true"] {
            border-radius: .7rem .7rem 0 0  !important;
        }
    }

    .accordion-content {
        border-radius: 0 0 .7rem .7rem;
    }

    .course-list {
        max-width: 100%;
    }
}

.event-header,
.event-footer,
.resource-header,
.resource-footer {
    .accordion {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;

        .accordion-item {
            margin: 1rem;

            .accordion-content {
                border: none;
                border-radius: 0;
                padding-bottom: 0rem;
            }
        }
    }
}


.result-field {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.survey-definition {
    #formcode-snippet-date-and-time,
    #formcode-snippet-date,
    #formcode-snippet-time,
    #formcode-snippet-files,
    #formcode-snippet-image,
    #formcode-snippet-document,
    #formcode-snippet-extended,
    #formcode-snippet-iban,
    #formcode-snippet-swiss-social-security-number,
    #formcode-snippet-swiss-business-identifier,
    #formcode-snippet-swiss-vat-number,
    #formcode-snippet-markdown {
        display: none;
    }
}


.chosen-container-multi {
    .chosen-choices {
        background: $white !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: ($form-spacing / 3) ($form-spacing / 2) !important;

        li.search-choice {
            background: none !important;
            border: 0 !important;
            box-shadow: none !important;
            float: none;
        }
    }
}

/* Filters */
#filters-top {
    display:flex;
    align-items: start;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap: 1rem;

    .button.dropdown-button {
        padding: .7rem 1rem !important;
        margin-bottom: 0;
        border-radius: .7rem !important;

        &.active {
            background: $primary-color !important;
            color: $white !important;
        }

        &.hover {
            border: 1px solid darken($primary-color, 10%) !important;
            .fa-chevron-down {
                @include rotate;
            }
        }

        &:hover {
            padding: .7rem 1rem !important;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .dropdown-pane {
        background: transparent;
        padding: .5rem 0 0;
        border: none;

        &.ic-transitioning .filter-panel * {
            opacity: .7;
        }

    }
    .filter-panel {
        background: $white;
        border: 1px solid $primary-color;
        padding: 1rem;
        border-radius: .7rem;
        width: clamp(300px, calc(100% - 2rem), 450px);

        .apply-filters{
            margin-bottom: 0;
        }

        li span:focus,
        li span:focus-visible,
        li span:focus-within {
            background: $primary-color !important;
            a {
                color: $white !important;
            }
        }
    }
}

.filter-panel .blank-label {
    border-radius: .7rem;
    background: $smoke;
    transition: all linear 200ms;
    border: 1px solid $smoke;

    &.active {
        background: $primary-color;
    }
}

#mobile-filters-button {
    margin-left: auto;
    display: flex;
}


/* Dropdown Menu */
.dropdown-pane.dropdown-options {
    list-style: none;
    padding: 0;
    width: auto;

    li a {
        display: block;
        padding:.5rem .7rem;
        cursor: pointer;
        border-radius: .7rem;
        white-space: nowrap;
        color: $body-font-color;
        font-weight: normal;

        &:hover {
            background: $smoke;
        }
    }
}

.imageset-date {
    color: $dark-gray;
    font-size: .875rem;
}

.disabled-link {
    color: grey;
    cursor: not-allowed;
    opacity: .5;
}


/*
    Code Block, Code Inline, Code

    <pre><code>...</code></pre>
*/

$code-background: #f5f5f5;
$code-border-radius: 4px;
$code-padding-block: .5rem;
$code-padding-inline: .125rem;
$code-block-margin-bottom: .8rem;

pre code,
.code-block,
.code-inline,
code {
    background: $code-background;
    border-radius: $code-border-radius;
}

pre code,
.code-block {
    display: block;
    margin-bottom: $code-block-margin-bottom;
    padding: $code-padding-block;
}

.code-inline,
code {
    display: inline;
    padding: $code-padding-inline;
}

.reveal.wide {
    max-width: 700px;
}

/* Payment Filters */
.filter-form {
    margin-bottom: 2rem;

    .filter-form-legend {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .filter-grid {
        display: grid;
        gap: 1rem;

        @include breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(large) {
            grid-template-columns: repeat(4, 1fr);
        }

        .form-group {
            input[type="date"],
            select {
                width: 100%;
            }
        }
    }

    .form-buttons {
        margin-top: 1.5rem;
        display: flex;
        gap: 0.5rem; /* Spacing between buttons as needed */
        align-items: center; /* Align items vertically if they have different heights */

        .button {
            margin-top: 0;
        }
    }
}


.payments-table {
    th.select-all-checkbox-cell,
    td.payment-checkbox-cell {
        width: 1%; /* Make checkbox column as narrow as possible */
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.batch-updated-highlight {
  background-color: #e6ffed !important; /* A light green color */
  transition: background-color 0.5s ease;
}

// confirm scrollable list
.confirm-list {
    margin-bottom: 1rem;
    max-height: 40vh;
    overflow: auto;
    padding: 10px;

    ul {
        margin-bottom: 0;
    }
}

.button.alert.yes.disabled {
    cursor: not-allowed !important;
    opacity: .6;
}

.scroll-hint {
    color: #8e1c26;
    font-style: italic;
    margin-bottom: 1rem;
}

p.full-text-width {
    max-width: 100% !important;
}

/* RIS */

.business-participants {
    margin-bottom: 0;
}

.anchor-link {
    display: none !important;
}

.main-content {
    .anchor-link {
        color: $aluminum;
        display: inline !important;
        font-size: 80%;
        opacity: 0;
        margin-left: .5rem;
        position: absolute !important;
        transition: opacity 200ms linear;
    }

    .anchor-link-heading {
        position: relative;

        &:hover .anchor-link {
            opacity: 1;
        }
    }
}

.absolute {
    position: absolute;
}

a.category-anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

.content-panel {
    .level-3,
    .level-4,
    .level-5 {
        font-weight: normal !important;
    }

    .level-4 {
        padding-left: .75rem;
    }

    .level-5 {
        padding-left: 1.5rem;
    }

}

.political-businesses .card {
    height: auto;
    margin-bottom: 1.5rem;

    .card-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        padding-bottom: 0;

        .info {
            padding-top: .5rem;
        }

        .tags {
            text-align: right;
        }
    }

    .card-section {
        padding: 1rem !important;
        padding-top: .7rem !important;
    }

    .blank-label {
        border-radius: .7rem;
        padding-bottom: .5rem;
    }

    .title {
        color: $primary-color;
        font-weight: bold !important;
    }
}

// D3 Org Chart customisations
.chart-container {
    border: 1px solid $smoke;
    border-radius: .7rem;

    .loading-info {
        padding: 1rem;

        .fa-spinner {
            margin-right: 1rem;
        }
    }

    &:has(svg) .loading-info {
        display: none;
    }

    .d3-orgchart-node {
        padding: .7rem 1rem;
        font-weight: bold;
        font-size: 1rem;
        border: 2px solid rgba(0,0,0,0.04) !important;
        border-radius: .7rem !important;
        box-shadow: 0 0 17px 0 rgba(0,0,0,0.07);
        color: #444;
        transition: all 200ms linear;
        background: white;

        span {
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }

        &.hyphens {
            hyphens: auto;
        }

        &:hover {
            border: 2px solid $primary-color !important;
        }
    }

    .node-button-div {
        span {
            font-size: .8rem !important;
        }

        > div {
            padding: .5rem !important;
            transition: all 200ms linear;
        }
    }

    .node-button-g:hover .node-button-div {
        span {
            color: $primary-color !important;

            path {
                stroke: $primary-color !important;
            }
        }

        > div {
            border: 2px solid $primary-color !important;
        }
    }
}
