
/*
    Small text
*/
.small-text {
    font-size: .875rem;
}

.tiny-text {
    font-size: .8rem;
}

/*
    Small atomic text particles whose white-space should not be wrapped
*/
.nowrap {
    white-space: nowrap;
}

$default-icon-width: 1.5ex;
$default-icon-margin: .25rem;

.more-link {
    &::before {
        @include icon-bold($more-link-icon);
        width: $default-icon-width;
    }

}

.more-link-after {
    &::after {
        @include icon-bold($more-link-icon);
        width: $default-icon-width;
    }

}

p,
p > * {
    font-family: $body-font-family;
}

.page-text ul li a {
    font-family: $body-font-family !important;
}


/*

All places where we change to the sans serif font

*/

a,
button,
button *,
span,
span *,
thead,
dd,
dt,
small.error,
span.error,
form label,
form fieldset,
.ticket-panel,
.dialog p,
.message,
.field-display-label,
.field-display-data,
.side-panel.highlighted,
.list-lead,
.monthly-view-wrapper,
.contact-panel-content > *,
li strong,
.footer-content p {
    font-family: $header-font-family;
}

/*
    Alert boxes
*/

#alert-boxes {
    font-family: $header-font-family;
    font-style: italic;
}
