/*

Global font adjustments for small screens. Whereas all titles get scaled,
the actual paragraphs are not.

*/

p,
a {
    font-size: 100%;
}

@include breakpoint(small only) {
    p,
    a {
        font-size: 90%;
    }
}

/*
    Small text
*/
.small-text {
    font-size: .875rem;
}

.tiny-text {
    font-size: .8rem;
}

/*
    Small atomic text particles whose white-space should not be wrapped
*/
.nowrap {
    white-space: nowrap;
}

$default-icon-width: 1.5ex;
$default-icon-margin: .25rem;

.more-link {
    &::before {
        @include icon-bold($more-link-icon);
        width: $default-icon-width;
    }

}

.more-link-after {
    &::after {
        @include icon-bold($more-link-icon);
        width: $default-icon-width;
    }

}

p,
p > * {
    font-family: $body-font-family;
}

.page-text ul li a,
p a {
    font-family: $body-font-family;
}


/*
All places where we change to the sans serif font
*/

a,
button,
button *,
span,
span *,
thead,
dd,
dt,
small.error,
span.error,
form label,
form fieldset,
.ticket-panel,
.dialog p,
.message,
.field-display-label,
.field-display-data,
.side-panel.highlighted,
.list-lead,
.monthly-view-wrapper,
.contact-panel-content > *,
li strong,
.footer-content p,
.orbit-caption,
em,
.occurrence-date,
.occurrence-location,
.footer-content.footer-content p a,
.calendar button,
footer a,
footer div,
.page-lead,
.panel p,
.panel {
    font-family: $header-font-family;
}

/*
    Alert boxes
*/

#alert-boxes {
    font-family: $header-font-family;
    font-style: italic;
}

/*
Reset link color on a with heading attribute
*/

a {
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
        color: $anchor-color;
    }
}

p.edit-note,
.redactor-dropdown .redactor-formatting-p-edit-note {
    color: $aluminum;
    font-size: .875rem;
    font-style: italic;

    &::before {
        @include icon('\f249');
        margin-right: .25rem;
    }
}
