/*
    Icon widget customisation
*/
.icon-widget {
    li:hover,
    li.active {
        background: $primary-color !important;
        border-color: $primary-fg-color !important;
        color: $primary-fg-color !important;
    }
}

/*
    Homepage widgets
*/

.homepage {

    .full.gray {
        background: $white-smoke;
    }

    .full.primary {
        @include primary-color-background;
    }

    &> div.grid-container {

        padding-bottom: 1.4rem;
        padding-top: 1.4rem;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }
}
