/*
    Icon widget customisation
*/
.icon-widget {
    li:hover,
    li.active {
        background: $primary-color !important;
        border-color: $primary-fg-color !important;
        color: $primary-fg-color !important;
    }
}

/*
    (Homepage) widgets
*/

.grid-container.full.gray {
    background: $white-smoke;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07) inset;
}

.grid-container.full.darkgray {
    background: $light-gray;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .07) inset;
}

article.content .side-panel {
    @include breakpoint(small only) {
        padding-top: 4rem;
    }
}

#after-panels {
    @include breakpoint(small only) {
        padding-bottom: .625rem;
    }
}

.homepage {

    .focus-widget {
        color: $oil;
        height: calc(100% - 2rem);
        margin-bottom: 2rem;
        transition: all 200ms linear;

        &> * {
            padding: 0 1rem;
        }

        .focus-image {
            padding: 0;
            position: relative;

            img {
                border-radius: .5rem .5rem 0 0;
            }
        }

        p {
            margin: 0;
            padding-bottom: 1rem;
        }

        .focus-title {
            bottom: 0;
            display: block;
            left: 0;
            margin-bottom: 0;
            padding: 0;
            position: absolute;
            right: 0;

            .text-on-image {
                background: rgba(0, 0, 0, .6);
                border-radius: 0 0 .7rem .7rem;
                color: $white;
                padding: 1.5rem;
                padding-top: 1rem;
                text-shadow: #000 0 0 10px;

                h5,
                p {
                    color: $white;
                    display: block;
                    margin-bottom: 0;
                }

                h5 {
                    padding-bottom: 0;
                }

                p {
                    font-size: 1rem;
                    padding-bottom: 0;
                    padding-top: 1rem;
                }
            }


            .gradient {
                background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
                padding-bottom: 2rem;
            }
        }
    }

    .full.primary {
        @include primary-color-background;
    }

    &> .grid-container {
        padding: 5rem 0 3rem;
    }

    @media #{$small-only} {
        &> .grid-container {
            padding: 3rem 0 2rem;
        }
    }

    .grid-container.full {
        &:first-of-type {
            padding-top: 0;
        }
    }

    .focus-link {
        .only-title.card {
            height: auto !important;

            .text-on-image {
                border-radius: 0;
            }
        }

        &> i.fa-external-link-alt {
            display: none;
        }
    }
}

.partners .fas.fa-external-link-alt.fa-xs {
    display: none;
}
