/*
    Icon widget customisation
*/
.icon-widget {
    li:hover,
    li.active {
        background: $primary-color !important;
        border-color: $primary-fg-color !important;
        color: $primary-fg-color !important;
    }
}

/*
    (Homepage) widgets
*/

.grid-container.full.gray {
    background: $white-smoke;
}

.grid-container.full.darkgray {
    background: $light-gray;
}

article.content .side-panel {
    @include breakpoint(small only) {
        padding-top: 4rem;
    }
}

#after-panels {
    @include breakpoint(small only) {
        padding-bottom: .625rem;
    }
}

.homepage {

    .focus-widget {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .15);
        color: $black;
        height: calc(100% - 2rem);
        margin-bottom: 2rem;
        transition: all 200ms linear;

        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .3);
        }

        &> * {
            padding: 0 1rem;
        }

        .focus-image {
            padding: 0;
            padding-bottom: 1rem;
        }

        p {
            margin: 0;
            padding-bottom: 1rem;
        }
    }

    .full.primary {
        @include primary-color-background;
    }

    &> .grid-container {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .grid-container.full {
        &:first-of-type {
            padding-top: 0;
        }
    }
}
