$sort-icon: '\f0dc';
$chevron-up: '\f077';
$chevron-down: '\f078';
$building-icon: '\f0f7';
$person-icon: '\f2bd';
$arrow-right: '\f061';

/*
    hide certain settings
*/
.vat-settings {
    display: none;
}

.agencies {
    list-style: none;
    margin-left: 0;
}

.agency-list-card {
    margin-bottom: 1rem;
}

.agency-card {
    h3:not(:first-child) {
        margin-top: 1em;
    }

    dt {
        margin-bottom: 0;
    }

    .children,
    .memberships {
        &,
        li {
            list-style: none;
            margin-left: 0;
        }
    }
}

.agency-map {
    border: 0;
    height: 400px !important;
    width: 100%;
}

.agency-export-list {
    li.agency-export-pdf a::before {
        @include icon('\f1c1');
        color: $body-font-color;
        margin-right: 1ex;
    }
}

.edit-bar {
    .create-pdf::before { @include icon('\f1c1'); }
    .create-excel::before { @include icon('\f1c3'); }
    .move::before { @include icon-bold('\f0b2'); }
    .new-agency::before { @include icon-bold('\f0e8'); }
    .sort-alphabetically::before { @include icon-bold('\f15d'); }
    .view-hidden::before { @include icon('\f070'); }
    .sort::before { @include icon-bold($sort-icon); }
    .change-url::before { @include icon-bold('\f0c1'); }
}


ul.hidden-agencies span,
ul.hidden-memberships span,
ul.hidden-people span {
    font-size: .6875rem;
    line-height: .6875rem;
    margin: 0;
    text-transform: uppercase;

    &:not(.last)::after {
        content: '/';
        margin-left: .5em;
    }
}

ul.sortable-multi-checkbox li label {
    cursor: grab;
}

body.is-logged-out li[data-sortable-id] a {
    cursor: pointer;
}

.globals .hidden-contents::before {
    @include icon('\f070');
}

h1 small::after {
    content: '\A';
    white-space: pre;
}

/*
    Navigation Tree
*/

ul.agency-nav {

    margin-left: 0;

    > li {
        > .collapsible > a.title:first-of-type {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    ul {
        margin-left: 1rem;
    }

    .memberships:has(li) {
        margin-bottom: 1rem;
        margin-left: 2.4rem;
    }

    .person {

        padding: .25rem;

        a:hover {
            color: $anchor-font-color-hover;
        }
    }

    .no-children {
        &::before { @include icon($building-icon); }
    }

    .details {
        display: flex;
        justify-content: flex-end;

        .button {
            margin-bottom: 0;
            position: absolute;
            margin-top: -2.15rem;
            padding-top: 0.4rem !important;
            padding-bottom: 0.4rem !important;
        }
    }

    .collapsible {

        @include hairline;
        cursor: pointer;
        padding: .5rem;
        height: 2.5rem;
        transition: background .3s;

        &::before {
            @include icon-bold($chevron-down);
            color: $anchor-font-color;
        }

        &.active::before {
            @include icon-bold($chevron-up);
            color: $anchor-font-color-hover;
        }

        &:hover {
            background: $vapor;
        }
    }

    li {
        font-size: .875rem;
        list-style: none;
        margin-left: 0;
    }

    li:last-of-type {
        border-bottom: 0;
    }
}


/*
    Agency Form
*/

// hide the organisation field
.row.field-organisation {
    display: none;
}

// hide the sub organisation field
.row.field-sub_organisation {
    display: none;
}

/*
    People view
*/
.people-list {
    margin-bottom: 2rem;

    @media #{$medium-up} {
        .subpage-cards {
            column-count: 2;
            column-gap: 1.5rem;
        }
    }

    .card {
        height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
    }
}
