$sort-icon: '\f074';
$caret-right: '\f0da';
$caret-down: '\f0d7';
$building-icon: '\f0f7';
$person-icon: '\f2bd';
$arrow-right: '\f061';

/*
    hide certain settings
*/
.vat-settings {
    display: none;
}

.agencies {
    list-style: none;
    margin-left: 0;
}

.agency-list-card {
    margin-bottom: 1rem;
}

.agency-card {
    h3:not(:first-child) {
        margin-top: 1em;
    }

    dt {
        margin-bottom: 0;
    }

    .children,
    .memberships {
        &,
        li {
            list-style: none;
            margin-left: 0;
        }
    }
}

.agency-map {
    border: 0;
    height: 400px !important;
    width: 100%;
}

.agency-export-list {
    li.agency-export-pdf a::before {
        @include icon('\f1c1');
        color: $body-font-color;
        margin-right: 1ex;
    }
}

.edit-bar {
    .create-pdf::before { @include icon('\f1c1'); }
    .create-excel::before { @include icon('\f1c3'); }
    .move::before { @include icon('\f047'); }
    .new-agency::before { @include icon('\f0e8'); }
    .sort-alphabetically::before { @include icon('\f15d'); }
    .view-hidden::before { @include icon('\f070'); }
    .sort::before { @include icon($sort-icon); }
    .change-url::before { @include icon('\f0c1'); }
}


ul.hidden-agencies span,
ul.hidden-memberships span,
ul.hidden-people span {
    font-size: .6875rem;
    line-height: .6875rem;
    margin: 0;
    text-transform: uppercase;

    &:not(.last)::after {
        content: '/';
        margin-left: .5em;
    }
}

ul[data-sortable] {
    list-style: none;
    margin-left: 0;
}

li[data-sortable-id] {
    background: $white-smoke;
    border: 1px dashed $gainsboro;
    cursor: grab;
    margin-bottom: 1em;
    padding: .25rem;

    &::before {
        @include icon('\f0dc');
        color: $aluminum;
    }
}

ul.sortable-multi-checkbox li label {
    cursor: grab;
}

body.is-logged-out li[data-sortable-id] a {
    cursor: pointer;
}

.globals .hidden-contents::before {
    @include icon('\f070');
}

h1 small::after {
    content: '\A';
    white-space: pre;
}

/*
    Navigation Tree
*/

ul.agency-nav {

    margin-left: 0;

    > li {
        > .collapsible > a.title:first-of-type {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    ul {
        margin-left: 1rem;
    }

    .memberships {
        margin-bottom: 1rem;
        margin-left: 2.4rem;
    }

    .person {

        padding: .25rem;

        a:hover {
            color: $anchor-font-color-hover;
        }
    }

    .no-children {
        &::before { @include icon($building-icon); }
    }

    .details {
        display: flex;
        justify-content: flex-end;
        margin-top: .5rem;
    }

    .collapsible {

        @include hairline;
        cursor: pointer;
        padding-bottom: .25rem;
        padding-top: .25rem;

        &::before {
            @include icon($caret-right);
            color: $anchor-font-color;
        }

        &:hover::before,
        &.active::before {
            @include icon($caret-down);
            color: $anchor-font-color-hover;
        }
    }

    li {
        font-size: .875rem;
        list-style: none;
        margin-left: 0;
    }

    li:last-of-type {
        border-bottom: 0;
    }
}

/*
    Breadcrumbs
*/

.breadcrumbs {
    text-overflow: clip;
    white-space: normal;
}


/*
    Agency Form
*/

// hide the organisation field
.row.field-organisation {
    display: none;
}

// hide the sub organisation field
.row.field-sub_organisation {
    display: none;
}

/*
    People view
*/
.people-list {
    margin-bottom: 2rem;

    .subpage-cards {
        column-count: 2;
    }

    .card {
        height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
    }
}
