.people-list {
    ul {
        margin-left: 0;
    }
}

.person-card {
    dt {
        margin-bottom: 0;
    }

    a:not(:last-child):not(:nth-last-child(-n+2))::after {
        @include icon-bold('\f054');
        margin-left: .5rem;
        margin-right: .2rem;
    }
}
