.search-results .memberships li {
    border-bottom: 1px dashed rgba(28, 57, 71, .53);
    margin-bottom: .5rem;
    padding-bottom: .4rem;
}

.search-results .memberships li:last-child {
    border-bottom: 0;
}

.search-results > li {
    padding-top: .5rem;
}
