.accordion-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: -$s-md;

    .accordion-list-item {
        border-bottom: 2px solid $tertiary-subtle;
        transition: border $standard-transition;

        // TODO: Add arrow as soon as we know the icon library

        * {
            transition: all $standard-transition;
        }

        &:first-child {
            margin-top: 0;
        }

        .accordion-list-link {
            display: block;
            padding: $s-md 0;
            text-decoration: none;
            color: $body-color;
        }

        &:hover {
            border-bottom-color: $primary;

            .accordion-list-link {
                color: $primary;
            }
        }
    }
}

.styled-dl {
        .styled-dl-entry {
                border-left: 2px solid $primary;
                padding: 0 $s-lg;
                height: calc(5 * $s-lg);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                dt {
                    font-size: $fs-xs;
                    font-weight: normal;
                }

                dd {
                        font-size: $fs-lg;
                        font-weight: bold;
                }
        }
}
