// Tertiary color utilities
.text-tertiary {
  color: $tertiary !important;
}
.text-tertiary-subtle {
  color: $tertiary-subtle !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}
.bg-tertiary-subtle {
  background-color: $tertiary-subtle !important;
}

.border-tertiary {
  border-color: $tertiary !important;
}
.border-tertiary-subtle {
  border-color: $tertiary-subtle !important;
}

.btn-tertiary {
  color: color-contrast($tertiary);
  background-color: $tertiary;
  border-color: $tertiary;

  &:hover {
    color: color-contrast(shade-color($tertiary, 10%));
    background-color: shade-color($tertiary, 10%);
    border-color: shade-color($tertiary, 10%);
  }
}

.text-bg-tertiary {
  color: color-contrast($tertiary) !important;
  background-color: $tertiary !important;
}

.btn-outline-tertiary {
  color: $tertiary;
  border-color: $tertiary;

  &:hover {
    color: color-contrast($tertiary);
    background-color: $tertiary;
    border-color: $tertiary;
  }
}

.link-tertiary {
  color: $tertiary;
  text-decoration-color: rgba($tertiary, .5);

  &:hover,
  &:focus {
    color: shade-color($tertiary, 20%);
    text-decoration-color: rgba(shade-color($tertiary, 20%), .75);
  }
}

.alert-tertiary {
  --bs-alert-bg: #{$tertiary-subtle};
  --bs-alert-color: #{$tertiary};
  --bs-alert-border-color: #{$tertiary-subtle};
}

// Other utilities
@each $key, $value in $spacers {
  .square-#{$key} {
    width: $value !important;
    height: $value !important;
  }
}

.black-gradient{
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
}

.black-transparent-bg {
  background: rgba(0,0,0,.5);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.border-hover {
    transition: all $standard-transition;
    &:hover {
        border-color: $primary;
    }
}
