.homepage-image-slider {
    position: relative;

    .carousel-item,
    .carousel-image {
        height: 100%;
    }

    .carousel-image {
        background-position: center;
        background-size: cover;
    }

    .carousel-caption-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .spacer {
            height: 40%;
        }

        .black-gradient {
            height: 30%;
        }

        .black-transparent-bg {
            height: 30%;
        }
    }

    .carousel-caption {
        text-shadow: rgba(1, 1, 1, .4) 1px 0 10px;
        bottom: $s-4xl * 3;
        left: 0;
        padding: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

    .homepage-searchbox-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: $s-4xl;
        z-index: 2;
    }
}