header {
    margin-bottom: .75rem;

    a {
        text-decoration: none;
    }

    .top-header,
    .main-header {
        li {
            border-bottom: 3px solid transparent;
            transition: all linear .2s;

            &:hover {
                border-bottom: 3px solid $primary-color;
                transition: all linear .2s;

                a {
                    color: $primary-color !important;
                }
            }

            a {
                color: $primary-color;
                font-weight: normal;
                text-decoration: none;

                :hover {
                    color: $primary-color !important;
                }
            }
        }
    }

    .top-header {
        border-bottom: 1px solid $primary-color;

        ul {
            margin: 0 .9375rem;
        }

        li {
            border-bottom: 3px solid transparent;
            border-top: 1px solid transparent;
            font-size: .875rem;
            padding: .5rem 0;
            padding-bottom: calc(.5rem - 3px);


            &:not(.has-form) a:not(.button) {
                line-height: inherit;
            }

            a {
                font-size: .88rem !important;
            }
        }

        .has-dropdown {
            border: 1px solid $primary-color;
            border-bottom: 0;
            border-right: 0;
            padding-bottom: .5rem;

            &:hover {
                border-bottom: 0 !important;
            }

            li {
                padding: 0;

                &:hover {
                    border-bottom: 0;
                }
            }

            .dropdown {
                margin-top: .5rem;
                margin-left: -.5px;

                li {
                    padding: .5rem 0 !important;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        border-bottom: 3px solid $primary-color;
                    }
                }
            }
        }

        .top-bar-section {

            .right,
            .right .dropdown {
                border-top: 0 !important;
                margin-right: 0;

                a {
                    padding-right: 1rem !important;
                }
            }
        }
    }

    .main-header {
        border-bottom: 1px solid $primary-color;

        .logo {
            max-width: 150px;
        }

        .project-by {
            margin-top: .5rem;

            span {
                color: $primary-color;
                margin-left: 11px;
                font-size: .8rem;
            }

            .logo-small {
                max-width: 80px;
                margin-left: 6px;
                margin-bottom: 1rem;
                margin-top: -0.3rem;
            }
        }


        .row.show-for-medium-up {
            @media #{$medium-up} {
                align-items: end;
                display: flex !important;
            }
        }

        .main-navigation {
            background-color: transparent;
            min-height: 3rem;

            .top-bar-section {
                display: flex;
                justify-content: center;
            }

            &.expanded {
                box-shadow: none;
            }

            ul li {
                background-color: transparent;

                a {
                    background-color: transparent !important;
                    color: $primary-color;
                    font-size: 1rem;
                    font-weight: bold;

                    @media #{$medium-up} {
                        padding: .1rem 1.2rem !important;

                    }
                }
            }
        }

        .title-header {
            border-top: 1px solid $primary-color;
            padding-top: 2rem;
            padding-bottom: 1.5rem;

            h1 {
                color: $primary-color;
                margin: 0;
                font-weight: bold;
                text-align: center;
            }
        }

        .show-for-small-only {
            background: $primary-color;

            .mobile-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo img {
                    height: 5rem;
                }

                .button {
                    background-color: $white;
                    margin-bottom: 0;
                    padding: .8rem 1rem;
                    border-radius: .2rem;

                    i {
                        color: $primary-color;
                    }
                }

                * {
                    color: $white;
                }
            }
        }
    }


    .top-bar {
        background-color: transparent;
        height: auto;

        .top-bar-section {
            li {
                background-color: transparent !important;
            }

            a {
                background-color: transparent !important;
                color: $primary-color;
                font-weight: normal;
            }

            .dropdown {
                background-color: $white;
                border: 1px solid $primary-color;

                a {
                    color: $primary-color !important;
                    font-weight: normal;
                }
            }
        }
    }

    .edit-bar {
        background-color: $editbar-bg-color;
        margin-bottom: 2px;
        margin-top: -2px;

        .border {
            border-bottom: 1px dashed $iron;
        }

        .button,
        button {
            background-color: $editbar-bg-color;
            color: $body-font-color;
            padding-left: 1rem;
            padding-right: 1rem;

            &.dropdown {
                padding-right: 1.25rem;

                &::after {
                    display: none;
                }

                &::before {
                    @include icon('\f078');
                    content: '\f078';
                    margin-right: .75rem;
                }
            }

            &:hover {
                @include primary-color-background;
            }
        }

        button.tiny {
            font-size: .8rem;
            margin-bottom: 0;

            &.right-side {
                float: right;
            }
        }

        >a {
            margin-bottom: 0;
        }

        a.tiny {
            font-size: .8rem;
        }

        a::before {
            display: inline-block;
            margin-right: 1.5ex;
            text-align: center;
            width: 15px;
        }

        .delete-icon::before {
            @include icon('\f014');
        }

        .edit-icon::before {
            @include icon('\f040');
        }

        .export-icon::before {
            @include icon('\f019');
        }

        .page-icon::before {
            @include icon('\f0f6');
        }

        .upload-icon::before {
            @include icon('\f0ee');
        }

        .update-icon::before {
            @include icon('\f021');
        }
    }

    .breadcrumbs {
        @include hairline;
        font-style: italic;
        margin-bottom: 1rem;
        padding-bottom: .7rem;
        padding-left: 1rem;

        li {
            line-height: 1rem;

            // highlight the parent
            &:nth-last-child(2) {
                font-weight: bold;
            }
        }

        .current a {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        @media #{$small-only} {
            padding-left: 1rem;

            li {
                float: none;
                padding-left: 0;

                +li {
                    margin-top: .5rem;
                }

                &:first-child {
                    list-style: none;
                    margin-left: -1rem;
                }

                &::before {
                    margin-left: 0;
                }
            }
        }
    }
}

#mobileMenu {
    background: $primary-color;

    .menu {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 3.75rem);

        ul {
            list-style: none;

            li {
                color: $white;
            }
        }

        * {
            color: $white;
            text-decoration: none;
        }

        .button {
            background-color: $white;
            margin-bottom: 0;
            position: relative;
            padding: .8rem 1rem;
            height: fit-content;
            width: fit-content;
            align-self: flex-end;
            top: auto;
            font-size: 1rem;
            right: auto;
            border-radius: .2rem;

            i {
                color: $primary-color;
            }
        }

        .main-navigation {

            .project-by span {
                color: $white;
            }

            ul {
                margin-left: -1.875rem;
                margin-right: -1.875rem;
                margin-top: 3rem;

                li {
                    border-bottom: 1px solid $white;
                    padding: 1.875rem;
                    padding-bottom: 1rem;
                    padding-top: 1.5rem;
                    font-size: 2rem;
                    font-weight: bold;

                    &:first-child {
                        border-top: 1px solid $white;
                    }
                }
            }
        }

        .top-header-menu {
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-grow: 2;

            ul {
                margin-left: 0;
                margin-bottom: 0;
            }

            .top-bar {
                height: fit-content;
                background-color: transparent;

                * {
                    background-color: transparent !important;
                }

                li a {
                    padding-left: 0;
                }
            }
        }
    }
}


.top-bar-section .has-dropdown > a::after {
    border: 0;
}

@media print {
    .languages,
    .main-header .columns:not(:first-child),
    .main-navigation,
    .top-bar,
    .breadcrumbs {
        display: none;
    }
}

#white_logo {
    display: none;
}

#red_logo {
    display: block;
}

#page-page-home {

    .project-by span {
        color: $white;
    }

    #white_logo {
        display: block;
    }

    #red_logo {
        display: none;
    }

    .has-dropdown,
    .dropdown {
        border-left: 1px solid $white;
    }

    .top-header,
    .main-header,
    .dropdown {
        background: $primary-color;
        border-bottom: 1px solid $white;

        a {
            color: $white !important;
        }

        li,
        .has-dropdown {
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom: 3px solid $white !important;

                a {
                    color: $white !important;
                }
            }

            a {
                color: $white;

                &:hover {
                    color: $white !important;
                }
            }
        }
    }

    .title-header {
        border-top: 1px solid $white;

        h1 {
            color: $white;
        }
    }
}
