/*
    the default layout's header
*/
.header {
    // background-color: $white-smoke;
    // border-bottom: 1px solid $gainsboro;

    padding: 1em 0 0;

    img {
        margin-bottom: 1em;
        max-height: 2.5em;
    }

    .progress {
        height: 10px;
        margin-bottom: 1em;
        padding: 0;
    }
}

.message {
    font-size: 1.3em;
    font-weight: bold;
    padding: .5em 0 1em;
}
