/*
    the default layout's header
*/
.header {
    border-top: 2.5rem solid $primary-color;
    padding: 1em 0 0;

    img {
        margin-bottom: 1em;
        max-height: 2.5em;
    }

    .progress {
        height: 10px;
        margin-bottom: 1em;
        padding: 0;
    }
}

/*
    Get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    As a side-effect, this disables horizontal scrolling, but we don't have
    that anyway because of our mobile-first design.
*/
html {
    @media #{$medium-up} {
        overflow-x: hidden;
        width: 100vw;
    }
}

/*
    footer pinned to the bottom
*/
$footer-height: 210px;

html,
body {
    height: 100%;
}

#inner-body {
    margin: 0 auto -$footer-height;

    @media not print {
      min-height: 100%;
    }
}

footer,
.push {
    height: $footer-height;
}

/*
    footer content
*/
footer {
    background-color: $gray-light;

    // accomplish the border with a box-shadow, as the border messes with
    // our fixed footer script height calculation
    box-shadow: 0 -2px 0 $primary-color;
    max-width: 100% !important;

    // please do not add a margin here, it will mess up the sticky footer!
    // instead add a margin-bottom to whatever is rendered before the footer.
    padding: 0;

    > .columns > .row {
        margin: 0 auto;
        max-width: $row-width;
    }

    * {
        background-color: $gray-light;
        color: $steel;
        font-size: 13px;
        line-height: 25px;
    }

    h2 {
        color: $charcoal;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 13px;
        text-transform: uppercase;
    }

    .footer-columns {
        padding-bottom: .5rem;
        padding-top: 1.25rem;
    }

    .footer-links {
        padding: .5rem 0;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }
}

@media #{$small-only} {
    footer .columns > div {
        margin-bottom: 1rem;
    }
}

/*
    top assistant messages
*/
.message {
    font-size: 1.3em;
    font-weight: bold;
    padding: .5em 0 1em;
}

.panel.warning {
    background-color: $yellow-light;
    border-color: $yellow;
}

/*
    color picker
*/
.colorPicker-picker {
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    margin-bottom: 2em;
    width: 48px;
}

.colorPicker-palette {
    background-color: $white;
    border: 1px solid $gainsboro;
    padding: 10px 10px 0;
    position: absolute;
    width: 182px;
    z-index: 9999;
}

.colorPicker_hexWrap {
    float: left;
    width: 100%;

    label {
        display: none;
    }

    input {
        border: 1px solid $input-border-color;
        box-shadow: $input-box-shadow;
        margin-top: 1em;
    }
}

.colorPicker-swatch {
    cursor: pointer;
    float: left;
    height: 32px;
    width: 32px;
}

/*
    color preview
*/
.color-preview {
    height: 48px;
    width: 48px;
}

/*
    awesomeplete
*/
[hidden] { display: none; }

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.awesomplete {
    position: relative;

    > input {
        display: block;
    }

    > ul {
        background: $white;
        border: 1px solid rgba(0, 0, 0, .3);
        box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
        box-sizing: border-box;
        left: 0;
        list-style: none;
        margin: -8px 0 0;
        min-width: 100%;
        padding: 0;
        position: absolute;
        text-shadow: none;
        z-index: 1;

        > li {
            color: $body-font-color;
            cursor: pointer;
            padding: .2em .5em;
            position: relative;
        }

        > li:hover,
        > li[aria-selected="true"] {
            background-color: $primary-color;
            color: $white;

            * {
                color: $white;
            }
        }
    }

    > ul[hidden],
    > ul:empty {
        display: none;
    }

    > ul:before {
        background: $white;
        border: inherit;
        border-bottom: 0;
        border-right: 0;
        content: '';
        height: 0;
        left: 1em;
        padding: .4em;
        position: absolute;
        top: -.43em;
        transform: rotate(45deg);
        width: 0;
    }

    mark {
        background: none;
        font-weight: bold;
    }
}
