/*
    top navigation
*/
.top-bar,
.top-bar-section ul li {
    box-shadow: 0 $top-bar-border-size 0 $primary-color;
}

.top-bar ul {
    margin-bottom: $top-bar-border-size;
}

/*

    links at the absoulte bottom

*/
.bottom-links {
    color: $bottom-links-color;
    margin-left: 1rem;
    
    a {
        color: $bottom-links-color;
        font-size: $bottom-links-size;

        &:hover {
            text-decoration: underline;
        }
    }
}
