/*
    useful mixins
*/

// scss-lint:disable all
// the scss linter completely looses it with this one
@mixin grayscale() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: gray;
    -webkit-filter: grayscale(100%);
}
// scss-lint:enable all

@mixin hairline() {
    border: 0;
    border-bottom: 1px solid transparentize($primary-color, .8);
}

@mixin smooth-edges() {
    border-radius: 2px;
}

/*
    get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    (100vw includes the scrollbar, 100% does not)
*/
html {
    margin-left: calc(100vw - 100%);
}

/*
    our footer is sticky, which is no easy feat, since variable length
    sticky footers don't work with anything but the latest browsers (flex)

    however, sticky footers work just fine if you know the height of the footer

    since we have semi-variable content in the footer (it can change, but not
    often), we read the height of the footer if the settings page is open
    and write the footer height into the custom theme variables

    see common.js for the oneliner that does that (look for footer_height)
*/

html,
body {
    height: 100%;
}

#inner-body {
    margin: 0 auto -$footer-height;
    min-height: 100%;
}

footer,
.push {
    animation-duration: 3s;
    height: $footer-height; /* .push must be the same height as .footer */
}

/*
    Zurb lacks a separate color for callout panels.
*/
.panel.callout {
    border-color: $callout-panel-border-color;
}


/*
    top navigation
*/

.main-navigation {
    background-color: $topbar-bg-color;
    border-bottom: $top-bar-border-size solid $primary-color;
    margin-bottom: 1rem;
}

.top-bar {

    &.expanded {
        box-shadow: none;
    }
}

/*
    alert boxes
*/
.alert-box {
    margin-bottom: 1rem;
}

/*
    form style customizations
*/
form {
    label > ul {
        list-style: none;

        margin: 0;
        margin-bottom: 1rem;

        li input[type="checkbox"],
        li input[type="radio"] {
            margin: 0;
        }
    }

    .redactor-editor {
        @include form-element;
        cursor: text;
        height: 100%;
        min-height: 250px;
    }

    small.error {
        padding: .5rem;
        padding-left: .5rem;
    }

    .label-required {
        color: $primary-color;
        font-weight: bold;
    }

    fieldset {
        border: 0;
        border-top: 1px solid $topbar-bg-color;
        margin-bottom: 1rem;
        padding: 0;

        legend {
            color: $input-font-color;
            font-size: $input-font-size;
            margin-bottom: 1rem;
            padding: 0 .75rem;
            text-align: center;
        }
    }

    .upload-widget p {
        color: $success-color;
        font-size: $form-label-font-size;
        margin-bottom: 0;
    }

    .upload-widget.with-data input[type=file] {
        margin-left: 2em;
    }

    /*
        Ace code editor, which you don't want to touch. Huge pita to get to
        work right with custom styling (it'll look like it's working, but
        all the cursor measurements are off and the editing is werid).
    */
    $code-editor-height: 600px;

    .code-editor-wrapper {
        @include form-element;
        height: $code-editor-height;
        margin-bottom: 1em;
    }

    .read-only {
        background-color: $input-disabled-bg;
        color: $steel;
        cursor: $input-disabled-cursor;
    }

    .code-editor,
    .ace_scroller,
    .ace_content {
        height: $code-editor-height - 15px;
    }

    .ace_content {
        color: inherit;
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        font-size: 12px;
        line-height: 12px;
    }
    /*
    <--
    */
}

/*
    form display rendering
*/
.fieldset-display {
    margin-bottom: 1em;

    .field-display {
        margin-bottom: .5em;
    }

    .field-display-label {
        font-weight: bold;
    }
}

.row.fieldset-display-submit form {
    display: inline-block;
    margin-right: .5em;
}

/*
    form collection rendering
*/
.form-definitions {
    margin-left: 0;

    li {
        clear: both;
        list-style-type: none;
        padding: .5rem 0;
    }

    .form-definition-title {
        font-weight: bold;
    }

    .form-definition-lead {
        margin-bottom: .2em;
        max-width: 500px;
    }
}

.form-definition-counter {
    background-color: $topbar-bg-color;
    float: left;
    margin-right: 1rem;
    min-width: 90px;
    padding: .5rem;

    .count {
        font-size: 2em;
        text-align: center;
    }

    .count-label {
        color: $bottom-links-color;
        font-size: .8rem;
        text-align: center;
    }

    &.has-submissions:hover {
        background-color: transparentize($primary-color, .8);
    }
}

.form-definition-info {
    color: $bottom-links-color;
    font-size: .8rem;
}

/*
    form submissions rendering
*/

.submissions {
    list-style: none;
    margin-left: 0;

    li + li {
        margin-top: 1em;
    }

    .submission-date:before {
        content: '\f133';
        font-family: 'FontAwesome';
    }

    .submission-title:before {
        content: '\f093';
        font-family: 'FontAwesome';
    }

    .submission-email:before {
        content: '\f003\00a0';
        font-family: 'FontAwesome';
    }

    .submission-action-show {
        color: $success-color;
    }

    .submission-action-edit {
        color: $warning-color;
    }

    .submission-action-delete {
        color: $alert-color;
    }

    .submission-action-show:before {
        content: '\f06e\00a0';
        font-family: 'FontAwesome';
    }

    .submission-action-edit:before {
        content: '\f040\00a0';
        font-family: 'FontAwesome';
    }

    .submission-action-delete:before {
        content: '\f014 \00a0';
        font-family: 'FontAwesome';
    }
}

/*
    the color picker field does not look right with zurb foundation
*/
input[type=color] {
    background-color: transparent;
    border: 0;
    display: block;
    margin-bottom: 1rem;
    padding: 0;
}

/*
    links at the absoulte bottom
*/
.bottom-links {
    color: $bottom-links-color;
    list-style: none;
    margin-left: 0;

    a {
        color: $bottom-links-color;
        font-size: $bottom-links-size;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        color: $bottom-links-color;
        display: inline;
        font-size: $bottom-links-size;
    }

    li:after {
        content: '|';
    }

    li:last-child:after {
        content: '';
    }
}

/*
    homepage tiles
*/

.homepage-tile {
    line-height: 1rem;
    margin-bottom: 1.375em;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .tile-sub-link {
        font-size: $bottom-links-size;
    }

    .tile-sub-link:hover {
        text-decoration: underline;
    }

    .tile-sub-link:after {
        color: transparentize($primary-color, .8);
        content: ' | ';
        display: inline-block;
        margin-left: .6ex;
        margin-right: .6ex;
    }

    .tile-sub-link:last-child:after {
        content: '';
    }

    .tile-image {
        @include smooth-edges;

        background-size: cover;
        display: block;
        height: 5rem;
        width: 100%;
    }

    .tile-link:hover h2 {
        color: $primary-color;
    }

    .tile-link:hover .tile-image {
        @include grayscale;
    }
}

/*
    homepage tiles images
*/

#homepage-tile-1 .tile-image { background-image: url(#{$tile-image-1});}
#homepage-tile-2 .tile-image { background-image: url(#{$tile-image-2});}
#homepage-tile-3 .tile-image { background-image: url(#{$tile-image-3});}
#homepage-tile-4 .tile-image { background-image: url(#{$tile-image-4});}
#homepage-tile-5 .tile-image { background-image: url(#{$tile-image-5});}
#homepage-tile-6 .tile-image { background-image: url(#{$tile-image-6});}

/*
    homepage panels
*/

.homepage-links-panel {
    background-color: $topbar-bg-color;
    margin-bottom: 1.5em;
    padding: 1em;

    h2 {
        font-size: 1em;
        font-weight: normal;
        margin-top: 0;
    }

    ul {
        list-style: none;
        margin: 0;

        a {
            display: block;
            font-weight: bold;
            margin-bottom: -.375rem;
            margin-top: .375rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        small {
            font-size: .8em;
        }
    }
}

/*
    edit bar
*/
.edit-bar {
    background-color: $primary-color;
    margin-bottom: .8rem;
    margin-top: -1.2rem;

    button.tiny {
        margin-bottom: 0;
        padding-left: 1rem;
    }

    a:before {
        font-family: 'FontAwesome';
        margin-right: .4em;
    }

    .new-page:before {
        content: '\f0f6';
    }

    .new-link:before {
        content: '\f0c1';
    }

    .new-news:before {
        content: '\f1ea';
    }

    .new-form:before {
        content: '\f044';
    }

    .new-person:before {
        content: '\f007';
    }

    .edit-link:before {
        content: '\f040';
    }

    .delete-link:before {
        content: '\f014';
    }
}

/*
    images
*/
.thumbnail {
  padding: .5em;
}

/*
    image control elements
*/
.image-box {
    position: relative;

    .delete {
        background-color: $input-disabled-bg;
        border-radius: 15px;
        color: $button-font-color;
        height: 27px;
        left: -4px;
        position: absolute;
        text-align: center;
        top: -13px;
        width: 27px;
    }

    .delete:hover {
        background-color: $alert-color;
    }
}

/*
    dropzone styling
*/
.dropzone {
    background-color: $topbar-bg-color;
    border: 1px dashed $primary-color;
    margin-bottom: 1rem;
    padding: 1rem;

    .dz-preview {
        float: left;
        margin-right: 1rem;
    }

    .dz-details,
    .dz-error-mark,
    .dz-image,
    .dz-success-mark {
        margin-top: 1rem;
    }

    .dz-filename {
        display: none;
    }

    .dz-success .dz-error-mark {
        display: none;
    }

    .dz-error .dz-success-mark {
        display: none;
    }

    .dz-success-mark * {
        fill: $success-color;
    }

    .dz-error-mark * {
        fill: $alert-color;
    }

    > div:last-child {
        margin-bottom: 0;
    }
}

/*
    richtext editor dropzone
*/
div#redactor-droparea {
    background-color: $topbar-bg-color;
    border: 1px dashed $primary-color;
    font-size: 1rem;

    input {
        display: inline;
        text-align: center;
    }
}

/*
    confirm dialog styling
*/
.confirm-modal .button {
    margin-right: 1rem;
    margin-top: 1rem;
}

/*
    main title
*/

.main-title {
    margin-top: -.5rem;
}

/*
    page lead
*/
$max-page-width: 600px;

.page-lead {
    display: block;
    font-size: $h5-font-size;
    font-weight: 300;
    margin-bottom: 1.25rem;
    max-width: $max-page-width;
}

/*
    page text
*/

.page-text {
    margin-bottom: 1rem;

    blockquote {
        background-color: $topbar-bg-color;
        padding: .5rem 1rem;
    }

    hr {
        @include hairline;
    }

    img {
        display: block;
    }

    p {
        max-width: $max-page-width;
    }

    .has-img {
        max-width: none;
    }
}

/*
    page links
*/

.page-links {
    li:first-child {
        margin-left: 0;
    }
}

/*
    breadcrumbs
*/

.breadcrumbs {
    @include hairline;
    margin-bottom: 1rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
}

/*
    sidebar navigation
*/

.sidebar {
    ul {
        padding-left: 1rem;

        // the left side of the sidebar has to align to the text of the
        // top navigation and the edit bar *exactly* - for some reason it
        // doesn't here without removing 1px.. this means I'm doing something
        // wrong, but I haven't yet found out what
        li {
            margin-left: -1px;
        }
    }

    li {
        a.childpage,
        a.new-content-placeholder {
            color: #000;
            overflow: hidden;
            padding-left: 1rem;
            text-overflow: ellipsis;
        }

        a.new-content-placeholder {
            display: none;
        }
    }
}

.sidebar-bottom {
    ul {
        padding-left: 0;
    }
}

/*
    content block
*/
.content {
    margin-bottom: 1rem;
}

/*
    sticky footer
*/

.footer {
    // please do not add a margin here, it will mess up the sticky footer!
    // instead add a margin-bottom to whatever is rendered before the footer.

    padding: 0 1rem;

    h2,
    div {
        color: $topbar-link-color;
        font-size: $topbar-link-font-size;
    }

    h2 {
        font-weight: bold;
    }

    .bottom-links {
        margin-bottom: .25rem;
        padding: .25rem 0;
        text-align: right;
    }

    .footer-links > div {
        padding-right: 0;
    }

    .footer-columns {
        background-color: $topbar-bg-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

/*
    news list
*/

.news-list-item {
    a h2 {
        color: $side-nav-link-color;
        font-size: $h4-font-size;
        margin-bottom: .5rem;
    }

    a:hover h2 {
        color: $side-nav-link-color-hover;
    }

    .news-date {
        color: $monsoon;
        font-size: $bottom-links-size;
        margin-bottom: .5rem;
    }

    .news-lead {
        margin-bottom: .5rem;
    }
}


/*
    hide the news in the topbar
*/

.top-bar-section li:last-child {
    display: none;
}


/*
    the icon hinting at pages being hidden from the public
*/
.hidden-from-public-hint:before {
    color: $alert-color;
    content: '\f070';
    font-family: 'FontAwesome';
    font-style: normal;
}


/*
    Person card
*/
.person-card {
    margin: 0 1em 1em 0;

    .person-card-portrait {
        background: $topbar-bg-color;
        float: left;
        height: 200px;
        margin-right: 1rem;
        padding-top: 0;
        text-align: center;
        width: 200px;

        .fa-user {
            color: $white;
            font-size: 200px;
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;

        li:before {
            font-family: 'FontAwesome';
            margin-right: .5ex;
        }
    }

    .person-card-address {
        margin-bottom: 1em;

        span {
            white-space: pre-line;
        }
    }

    .person-card-website:before {
        content: '\f0c1';
    }

    .person-card-phone:before {
        content: '\f095';
    }

    .person-card-email:before {
        content: '\f003';
    }
}

/*
    Person card in lists
*/

.person-list-card {
    .person-card-portrait {
        height: 5rem; // enough to show three lines of text
        width: 5rem;

        .fa-user {
            font-size: 80px;
        }
    }

    .person-card-title {
        font-weight: bold;
    }
}


/*
    Embedded maps
*/

.embedded-map {
    border: 0;
    height: 350px;
    width: 100%;
}
