$s-xs:  .25rem;   // 4px
$s-sm:  .5rem;    // 8px
$s-md:  1rem;     // 16px
$s-lg:  1.5rem;   // 24px
$s-xl:  2rem;     // 32px
$s-2xl: 2.5rem;   // 40px
$s-3xl: 3rem;     // 48px
$s-4xl: 4rem;     // 64px
$s-5xl: 5rem;     // 80px
$s-6xl: 6rem;     // 96px

// Spacers
$spacers: map-merge($spacers, (
  "xs":  $s-xs,
  "sm":  $s-sm,
  "md":  $s-md,
  "lg":  $s-lg,
  "xl":  $s-xl,
  "2xl": $s-2xl,
  "3xl": $s-3xl,
  "4xl": $s-4xl,
  "5xl": $s-5xl,
  "6xl": $s-6xl
));

$gutters: $spacers;

// For squares
@each $key, $value in $spacers {
  .square-#{$key} {
    width: $value !important;
    height: $value !important;
  }
}

// Cards
$card-spacer-y: map-get($spacers, "lg"); // 1.5rem / 24px
$card-spacer-x: map-get($spacers, "lg"); // 1.5rem / 24px
$card-border-width: 2px;
$card-border-color: $tertiary;

$border-radius-sm:   .3125rem;  // 5px
$border-radius:       .625rem;  // 10px
$border-radius-lg:    1.25rem;  // 20px
$border-radius-xl:    2.5rem;   // 40px
$border-radius-pill:  6.25rem;  // 100px

//Buttons
$btn-border-radius:     $border-radius-pill;
$btn-border-radius-sm:  $border-radius-pill;
$btn-border-radius-lg:  $border-radius-pill;

$btn-padding-y:    map-get($spacers, "md");
$btn-padding-x:    map-get($spacers, "lg");
$btn-font-size:    map-get($font-sizes, "xs");

$btn-padding-y-sm: map-get($spacers, "sm");
$btn-padding-x-sm: map-get($spacers, "md");
$btn-font-size-sm: map-get($font-sizes, "xs");

$btn-padding-y-lg: map-get($spacers, "md");
$btn-padding-x-lg: map-get($spacers, "lg");
$btn-font-size-lg: map-get($font-sizes, "sm");

// OffCanvas
$offcanvas-horizontal-width: 100vw;
