// OffCanvas
@include media-breakpoint-up(md) {
  .offcanvas {
    --bs-offcanvas-width: 600px;
  }
}

.card.hover {
    transition: all 0.2s ease-in-out;
    &:hover {
        border-color: $primary;
    }
}
