.anchor-link {
    display: none !important;
}

.page-content-main {
        img {
            height: auto;
        }
}

.content {

    img {
         border-radius: $border-radius-lg;
         max-width: 100%;
    }

    .anchor-link {
        color: $tertiary-subtle;
        display: inline !important;
        font-size: 80%;
        opacity: 0;
        margin-left: .5rem;
        position: absolute !important;
        transition: opacity 200ms linear;
    }

    .anchor-link-heading {
        position: relative;

        &:hover .anchor-link {
            opacity: 1;
        }
    }
}

.typeahead {
    width: 100%;
    max-width: 400px;
}

// Homepage
#homepage {
    &> .container,
    &> .container-fluid {
        margin-top: $s-5xl;
        margin-bottom: $s-5xl;
    }
}
