language: python
python: "3.4"
cache: pip

env:
    - TOXENV=py34
    - TOXENV=pep8
install:
    - pip install tox
    - if [ "$TOXENV" = 'py34' ]; then pip install coveralls; fi
script:
    - tox -e $TOXENV
after_success:
    - if [ "$TOXENV" = 'py34' ]; then coveralls; fi

deploy:
    provider: pypi
    distributions: "sdist bdist_wheel"
    user: seantis
    password:
      secure: "f1yj3XJMfVkUtkmbngSPSIUl2LB1igjS3pTSpyM0Jw2H2XULVuMUjL2vaDytAw3QbkicK71/3HtTpHnSRbpE9egY3/Mw5/K+fGI4aOMMv5ytNRyafAiMgmFaeQIyUMnbscvXclNxkwBahnppUXcdFcfgTTW23v0ewW6NAArFt51o8YCH++S+OFJdovwc004XC3zr54V3tHsAtPTaw9JY1zWEJ7Q4nOTaXLrT2SoKOuxZLUieUg2fMzu3qNvB7DJGJsstSv8knpKv7ViV0Cf1/BJGM9FaLCNw/EYY2GFLLt6Q8qjNhFdnq1SxE3j9rD+Dv5W3iQ3i075bTcpzJz5fk6uhYBZgO1HVLr4eT3lS9RMITuhiW1syPXNYaK+/RONprRms1IbpIH411ZkEl59qFMIui0KI0yG0WEdslQkKgdNsSorf1HzmB7cKJKE7tU8ErOhMhBWetK+aXbktBed43ZK0rNOSi2zQWLNATIrol70Ut0tfNWR5DuUsaS5kbuFs2jXNE/oPSgmuhi6/m3C1tEZUHT0Mn4GMo3scZOtAAuuECuh6ZGQjq6RmzloLhTBMKYlUE3rrbI7zuY/Po0UNZKsoJS5hltQSBr7m7d3wTsCltgiJTtyrC14CQt3gr7AdiXP4bIqO2QMC7LX4xupFNdm5PFZN+ijh4xmg7pVhQ38="
    on:
        tags: true
        condition: $TOXENV = py34
