$footer-border-color: #d8d8d8;

/*
    get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    (100vw includes the scrollbar, 100% does not)
*/
html {
    margin-left: calc(100vw - 100%);
}

/*
    Header
*/
.header {
    .authentication {
        font-size: 85%;  /* same as in the footer */
        padding-top: 1em;
    }

    img {
        margin: 1em 0;
    }
}

/*
    Utils
*/
.capitalized {
    text-transform: uppercase;
}

.h2 {
    font-size: $h2-font-size;
}

.h3 {
    font-size: $h3-font-size;
}

.h4 {
    font-size: $h4-font-size;
}

@mixin icon($icon) {
    content: $icon;
    font-family: 'FontAwesome';
}

/*
    Before Content
*/
.before-content {
    background-color: $white-smoke;
    left: calc(100% - 100vw);
    margin-bottom: 2rem;
    padding-left: calc(100vw - 100%);
    padding-top: 2.5rem;
    position: relative;
    width: 100vw;

    .columns {
        padding: 0 1em;
    }

    h1 small {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    hr {
        border: 4px solid $primary-color;
        margin-bottom: 0;
        margin-top: 2rem;
        padding: 0;
    }
}

/*
    All tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;

    }

    th {
        border-bottom: 1px solid $aluminum;
    }

    tr {
        vertical-align: top;

        &.even,
        &.alt,
        &:nth-of-type(even) {
            background: $white;
        }
    }

    th,
    td {
        padding: .5rem;

        &.right-aligned {
            text-align: right;
        }

        &.left-aligned {
            text-align: left;
        }
    }

    &.changes {
        .event {
            display: block;
        }

        .text {
            display: block;
            font-style: italic;
            margin-top: .5em;
        }
    }
}

/*
    Pagination
*/
ul.pagination li.first,
ul.pagination li.last {
    background-color: $smoke;
    border-radius: 3px;
}

/*
    Responsive tables
*/

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media #{$small-only} {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
    .stacktable th.st-head-row-main { display: none; }
    .stackable .answer {
        text-align: right;
    }

    .st-head-row {
        background-color: $white;
        border-bottom: 3px solid $gainsboro;
        font-size: 1.2em;
        padding-top: 2em;
        text-align: center;
    }

    .stackable .answer {
        text-align: right;
    }

    table tr.total {
        border: 0;
        font-weight: bold;
    }
}

/*
    Dashboard
*/
.dashboard {


    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    table {
        margin-bottom: 2rem;

        td:nth-child(2) {
            width: 20%;
        }

        td:nth-child(3) {
            width: 20%;
        }

        td:nth-child(4) {
            width: 20%;
        }

        td:nth-child(5) {
            width: 20%;
        }
    }
}

/*
    Notice
*/
.manage-notice {
    dl {
        background-color: $smoke;
        padding: 1em;
    }

    h3 {
        margin-top: 1em;
    }
}

/*
    dropzone styling
*/
.dropzone {
    background-color: $topbar-bg-color;
    border: 1px dashed $primary-color;
    margin-bottom: 1rem;
    padding: 1rem;

    .dz-message {
        margin-bottom: 1em;
    }

    .dz-preview {
        float: left;
        margin-right: 1rem;
    }

    .dz-success-mark,
    .dz-error-mark {
        display: none;
    }

    .dz-progress {
        display: block;
        height: 5px;
        width: 100%;

        > span {
            background-color: $info-color;
            display: block;
            height: 5px;
        }
    }

    .dz-success {
        .dz-progress span {
            background-color: $success-color;
        }

        .dz-size::after {
            content: ' \f00c';
            font-family: 'FontAwesome';
        }
    }

    .dz-error {
        .dz-progress span {
            background-color: $alert-color;
        }

        .dz-size::after {
            content: ' \f071';
            font-family: 'FontAwesome';
        }
    }

    .dz-error-message {
        color: $steel;
        font-size: rem-calc(12);
        margin: 1em 0;
    }

    .dz-filename {
        font-size: rem-calc(12);
        margin-bottom: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 125px;
    }

    > div:last-child {
        margin-bottom: 0;
    }
}

/*
    Sortable lists
*/
ul[data-sortable] {
    cursor: move;
    list-style: none;

    li {
        border: 1px dashed $aluminum;
        cursor: move;
        margin-bottom: .3rem;
        padding: .3rem .5rem;

        &.sortable-chosen {
            background-color: $white-smoke;
            border: 1px solid $aluminum;
        }

    }
}

.dragging {
    opacity: 1;

    &.sortable-ghost {
        opacity: .3;
    }
}

/*
    Categories & Organizations
*/
td.inactive {
    text-decoration: line-through;
}

td.child::before {
    content: '\f0da';
    font-family: 'FontAwesome';
    margin-left: 2em;
    margin-right: .75ex;
}


/*
    Footer
*/
footer {
    border-top: 1px solid $footer-border-color;
    font-size: 85%;
    left: calc(100% - 100vw);
    margin-top: 2rem;
    padding: 1rem 0 1rem calc(100vw - 100%);
    position: relative;
    width: 100vw;
}


/*
    Navigation
*/
.tab-navigation {
    margin-bottom: 2em;
    margin-top: 1em;

    .title-area {
        border-bottom: 1px solid $aluminum;

        .name {
            background: $white-smoke;

            span {
                padding-left: 1em;
            }
        }
    }

    .top-bar {
        &:not(.expanded) {
            border-bottom: 1px solid $aluminum;
        }

        .title-area .name span {
            color: $aluminum;
        }

        .left {
            li.active {
                border-left: 2px solid $primary-color;
            }
        }

        .has-dropdown>a::after {
            border-color: transparent;
            border-left-color: $aluminum;
        }
    }
}

@media #{$medium-up} {
    .tab-navigation {
        .top-bar {

            &:not(.expanded) {
                border-bottom: 0;
            }

            .title-area .name span {
                display: none;
            }

            .left {
                border-bottom: 1px solid $aluminum;
                width: 100%;

                li {
                    border-bottom: 2px solid $white;
                    position: relative;
                    z-index: 10;

                    &.active {
                        border-bottom: 2px solid $primary-color;
                        border-left: 0;
                        top: 1px;
                        z-index: 20;

                        &.has-dropdown {
                            z-index: 505;
                        }
                    }
                }
            }

            .has-dropdown>a::after {
                border-color: transparent;
                border-top-color: $aluminum;
            }

            .top-bar-section .dropdown {
                background-color: $white-smoke;

                li {
                    margin-top: 2px;

                    > a {
                        background-color: $white-smoke;
                    }

                    &:not(.has-form):not(.active)>a:not(.button) {
                        background-color: $white-smoke;
                        color: $black;
                    }
                }
            }
        }
    }
}


/*
    Breadcrumbs
*/

ul.breadcrumbs {
    background: $white;
    border: 0;
    margin-bottom: 2em;
    padding-left: 0;
}

/*
    Backend views
*/

tr.divider {
    border-bottom: 1px solid $iron;
}

/*
    Manage view actions
*/
th.row-actions {
    width: 200px;
}

td.row-actions {
    padding-right: 0;
}

ul.actions {
    direction: rtl;
    list-style-type: circle;
    margin: .2em 1.1em 1em 0;

    li {
        font-size: $table-row-font-size;
    }
}

.action-button {
    margin-bottom: 0;
}

/*
    Top actions
*/
.top-actions {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 1.2rem 0 0;
}

/*
    Action buttons
*/
a.button.right {
    margin-left: .3em;
}

.action-accept::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-attachments::before {
    content: '\f0c6';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-close::before {
    content: '\f00d';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-copy::before {
    content: '\f24d';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-delete::before {
    content: '\f1f8';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-edit::before {
    content: '\f040';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-expand::before,
.action-new::before {
    content: '\f055';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-fold::before {
    content: '\f056';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-order::before {
    content: '\f047';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-preview::before {
    content: '\f06e';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-print::before {
    content: '\f02f';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-publish::before {
    content: '\f1c1';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-reject::before {
    content: '\f05e';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}

.action-submit::before {
    content: '\f061';
    font-family: 'FontAwesome';
    margin-right: .75ex;
}


/*
    Filters
*/
.sub-nav {
    background-color: $white-smoke;
    margin: 0;
    padding: 10px 10px 10px 0;

    dt,
    dd,
    dd a,
    button {
        background-color: transparent;
        color: $steel;
    }

    input {
        box-sizing: content-box;
        height: 1.7em;
        margin: 0;
        padding: .2em .5em;

        &[type="date"],
        &[type="text"] {
            width: 80%;
        }
    }

    select {
        box-sizing: content-box;
        height: 1.7em;
        margin: 0;
        min-width: 80px;
        padding: .2em .5em;
        width: 80%;
    }

    button {
        margin: 0;
        padding: 0 .2em;
    }

    &:last-child {
        margin-bottom: 1em;
    }
}

.sub-nav-chosen {
    @include clearfix();

    background-color: #f5f5f5;
    margin: 0;
    padding: 10px 10px 10px 0;

    dt {
        color: $steel;
        float: left;
        font-size: .875rem;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 1rem;
        text-transform: uppercase;
    }

    dd {
        color: $steel;
        float: left;
        font-size: .875rem;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 1rem;

        a {
            background-color: transparent;
            color: $steel;
        }
    }

    .chosen-container {
        margin-bottom: 0;
    }
}

.sub-nav,
.sub-nav-chosen {
    .clear-link {
        line-height: 2rem;
        padding: 0;
    }

    button {
        margin: .4rem;

        &.small {
            margin-top: .5rem;
        }
    }

    @media #{$small-only} {
        dd {
            clear: both;
            float: none;
            margin-bottom: .2rem;
        }
    }
}

/*
    Forms
*/

form {
    label > ul {
        list-style: none;

        margin: 0;
        margin-bottom: 1rem;

        li input[type="checkbox"],
        li input[type="radio"] {
            margin: 0;
        }

        li a {
            font-size: .875rem;
        }
    }

    label.warning {
        background-color: $warning-color;
    }

    .ql-editor {
        min-height: 30em;
    }

}

.manage-notices form {
    background-color: $white-smoke;
    margin-bottom: 1rem;

    fieldset {
        border: 0;
        border-top: 1px solid $table-border-color;
        cursor: pointer;
        margin: 0;
        padding: 0;

        legend {
            background-color: $white-smoke;
            border-bottom: 1px solid $input-border-color;
            color: $monsoon;
            font-size: $input-font-size;
            margin-bottom: .75rem;
            text-align: center;
            width: 100%;
        }

        legend::before,
        legend::after {
            @include icon('\f077');
            font-size: .85em;
            margin: 0 .75rem;
        }

        &.collapsed {
            legend::before,
            legend::after {
                @include icon('\f078');
                margin: 0 .75rem;
            }
        }
    }


    &:focus-within {
        border-color: $body-font-color;
    }
}


/*
    Alert boxes
*/

.alert-box {
    font-size: 1rem;
}


/*
    Print
*/
@media print {
    p,
    td,
    th {
        font-size: 12px !important;
    }

    table {
        max-width: 100%;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    html,
    body {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

/*
    Preview
*/
.preview {
    * {
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 10pt !important;
    }

    h2 {
        font-size: 14pt !important;
        font-weight: 500;
    }

    ul {
        list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
    }
}

/*
    Chosen
*/
.chosen-container {
    margin: 0 0 1rem;
}

.chosen-single {
    background: $input-focus-bg-color !important;
    border: {
        color: $input-border-color !important;
        radius: 0 !important;
        style: $input-border-style !important;
        width: $input-border-width !important;
    }
    box-shadow: $input-box-shadow !important;
    color: $input-font-color  !important;
    font-family: $input-font-family !important;
    font-size: $input-font-size !important;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1)) !important;
    padding: ($form-spacing / 3) ($form-spacing / 2) !important;
}

.chosen-drop {
    * {
        font-family: $input-font-family !important;
        font-size: $input-font-size !important;
    }
}

.chosen-container-single .chosen-single div {
    top: 5px !important;
    width: 16px !important;
}
