$mobile-phone-icon: '\f10b';
$office-icon: '\f1ad';
$phone-icon: '\f095';
$new-language-icon: '\f1ab';
$orange-color: #eda815;
$dark-orange:  #be860e;

.grid-container {
    // bump default width globally
    max-width: 1400px !important;
}

.grid-container.fluid {
    max-width: 100% !important;
}

.edit-bar {
    .create-excel::before { @include icon('\f1c3'); }
    .documents::before { @include icon-bold('\f15b')}
    .report-change::before { @include icon-bold('\f044')}
    .plus::before { @include icon-bold('\f017')}
}

.location-settings {
    &::before { @include icon('\f041')}
}

.mobile-phone {
    &::before { @include icon-bold($mobile-phone-icon); }
}

.private-phone {
    &::before { @include icon-bold($phone-icon); }
}

.office-phone {
    &::before { @include icon-bold($office-icon); }
}

.new-language {
    &::before { @include icon-bold($new-language-icon); }
}

#search-results-table {
    td > span {
        display: block;
    }

    span::before {
        margin-right: .3rem;
    }
}

.fullwidth {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

// language color codes


.text-orange {
    color: $dark-orange;
}

// Tags list

ul.tags {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;

    li {
        display: inline-block;
        font-size: .875rem;
        margin-bottom: 8px;

        &:hover .blank-label {
            @include primary-color-background;
            border: 1px solid $primary-color;
        }
    }

    a {
        font-size: .8rem;
        line-height: .8rem;
        white-space: normal;
    }

    span {
        margin-bottom: 0;
        text-align: left;
    }
}

// Icons
.check-icon::before { @include icon-bold('\f00c'); }


// Form adjustments
span.label-text {
    font-size: .975rem;
}

form fieldset legend {
    font-size: 1rem;
}

form {
    margin-bottom: 4rem !important;
}

/*
    Upload Table of files
*/

table.translator-documents {
    tr > th:first-of-type {
        font-size: 1.2rem;
    }
}

#fieldset-proposed-changes .long-field-help {
    color: $jumbo;

    p {
        color: $jumbo;
    }
}

.field-type-coordinatesfield .long-field-help {
    // @include panel($callout-panel-bg);
}

.hints .hint {
    font-size: 1em;

    &.hint-text {
        margin-bottom: 1em;
        margin-left: 0;
    }

    &.hint-bullet {
        margin-bottom: .375em;

        &::before { content: "-"; }
    }

}

.translator-directory {
    columns: 2;

    @media #{$large-up} {
        columns: 3;
    }

    dl {
        break-inside: avoid;
        line-height: 1.3;
    }

    dd {
        margin-bottom: 1rem;
    }

    dt {
        border-top: 2px solid $white-smoke;
        padding-top: .5rem;
    }

}
