$mobile-phone-icon: '\f10b';
$office-icon: '\f1ad';
$phone-icon: '\f095';
$orange-color: #eda815;
$dark-orange:  #be860e;

.mobile-phone {
  &::before{ @include icon($mobile-phone-icon); }
}

.private-phone {
  &::before{ @include icon($phone-icon); }
}

.office-phone {
  &::before{ @include icon($office-icon); }
}

#search-results-table {
  td > span {
    display: block;
  }
}

.fullwidth {
    width: 100%;
}

.nowrap {
  white-space: nowrap;
}

// language color codes


.text-orange {
    color: $dark-orange;
}
