$mobile-phone-icon: '\f10b';
$office-icon: '\f1ad';
$phone-icon: '\f095';
$new-language-icon: '\f1ab';
$orange-color: #eda815;
$dark-orange:  #be860e;

.edit-bar {
    .create-excel::before { @include icon('\f1c3'); }
    .documents::before { @include icon('\f016')}
}

.location-settings {
    &::before { @include icon('\f041')}
}

.mobile-phone {
    &::before { @include icon($mobile-phone-icon); }
}

.private-phone {
    &::before { @include icon($phone-icon); }
}

.office-phone {
    &::before { @include icon($office-icon); }
}

.new-language {
    &::before { @include icon($new-language-icon); }
}

#search-results-table {
    td > span {
        display: block;
    }
}

.fullwidth {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

// language color codes


.text-orange {
    color: $dark-orange;
}

// Tags list

ul.tags {
    list-style: none;
    margin: 0 0 .75rem;
    padding: 0;

    li {
        display: inline-block;
        font-size: .875rem;
        margin-bottom: 8px;

        &:hover .blank-label {
            @include primary-color-background;
            border: 1px solid $primary-color;
        }
    }

    a {
        font-size: .8rem;
        line-height: .8rem;
        white-space: normal;
    }

    span {
        margin-bottom: 0;
        text-align: left;
    }
}

// Icons
.check-icon::before { @include icon('\f00c'); }


// Form adjustments
span.label-text {
    font-size: .975rem;
}

form fieldset legend {
    font-size: 1rem;
}

/*
    Upload Table of files
*/

table.translator-documents {
    tr > th:first-of-type {
        font-size: 1.2rem;
    }
}
