$accepted-color: #0571b0;
$rejected-color: #ca0020;
$footer-border-color: #d8d8d8;

/*
    get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    (100vw includes the scrollbar, 100% does not)
*/
html {
    margin-left: calc(100vw - 100%);
}

/*
    Header
*/
.header {
    text-align: right;

    img {
        margin: 1em 0;
    }
}

/*
    Utils
*/
.capitalized {
    text-transform: uppercase;
}

/*
    Before Content
*/
.before-content {
    background-color: $white-smoke;
    left: calc(100% - 100vw);
    margin-bottom: 2rem;
    padding-left: calc(100vw - 100%);
    padding-top: 2.5rem;
    position: relative;
    width: 100vw;

    .columns {
        padding: 0 1em;
    }

    h1 small {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    dl dt {
        opacity: .5;
        margin-bottom: 0;
    }

    dl dd {
        font-size: 240%;
        font-weight: bold;
        margin-bottom: -6px;
    }

    hr {
        border: 4px solid $primary-color;
        margin-bottom: 0;
        margin-top: 2rem;
        padding: 0;
    }

    .percentage {
        background: $accepted-color;
        height: .5rem;

        .nays {
            background: $rejected-color;
            height: .5rem;
        }
    }
}

/*
    Homepage
*/

.homepage {
    h2 {
        font-size: $h3-font-size;
    }

    h3 {
        font-size: $h4-font-size;
    }
}

@media #{$small-only} {
    .homepage {
        h2 {
            margin-bottom: 1em;
        }

        h3 {
            margin-bottom: 0;
        }
    }
}

.archive {
    ul {
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;

            + li::before {
                content: '/ ';
            }
        }
    }
}

/*
    Voting states
*/

.answer {
    color: $black;
    font-weight: bold;
}

.accepted {
    color: $accepted-color;
    font-weight: bold;
}

.rejected {
    color: $rejected-color;
    font-weight: bold;
}

/*
    All tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;

    }

    th {
        border-bottom: 1px solid $aluminum;
    }

    tr.even,
    tr.alt,
    tr:nth-of-type(even) {
        background: $white;
    }


    th,
    td {
        padding: .5rem;

        &.right-aligned {
            text-align: right;
        }

        &.left-aligned {
            text-align: left;
        }
    }

    tr.total {
        border: 1px solid $iron;
        border-width: 1px 0;
        font-weight: bold;
    }


    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    &.overview {
        margin-bottom: 2rem;

        &.vote {
            td:nth-child(2) {
                width: 12.5%;
            }

            td:nth-child(3),
            td:nth-child(4) {
                width: 7.5%;
            }

            td:nth-child(5) {
                width: 12.5%;
            }

            td:nth-child(6) {
                width: 10%;
            }
        }

        &.election {
            td:nth-child(2) {
                width: 12.5%;
            }

            td:nth-child(3) {
                width: 10%;
            }
        }
    }

    &.collapsible {
        .less,
        .more {
            td {
                background-color: $white;
                color: $primary-color;
                cursor: pointer;
            }

            .st-head-row {
                border: 0;
                color: $primary-color;
                cursor: pointer;
                font-size: .875rem;
                font-weight: normal;
            }
        }

        .less td:first-child,
        .less .st-head-row {
            &::before {
                color: $primary-color;
                content: '\f056';
                font-family: 'FontAwesome';
                margin-right: .75ex;
            }
        }

        .more td:first-child,
        .more .st-head-row {
            &::before {
                color: $primary-color;
                content: '\f055';
                font-family: 'FontAwesome';
                margin-right: .75ex;
            }
        }

        &.collapsed {
            tr.sticky-row {
                background-color: $white;
            }

            tr.total {
                background-color: $snow;
            }
        }
    }
}

/*
    Responsive tables
*/

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media #{$small-only} {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
    .stacktable th.st-head-row-main { display: none; }
    .stackable .answer {
        text-align: right;
    }

    .st-head-row {
        background-color: $white;
        border-bottom: 3px solid $gainsboro;
        font-size: 1.2em;
        padding-top: 2em;
        text-align: center;
    }

    .stackable .answer {
        text-align: right;
    }

    table tr.total {
        border: 0;
        font-weight: bold;
    }
}

/*
    Results table
*/
.ballot-results {
    tr:hover {
        outline: 1px solid $gainsboro;
    }

    tr.total:hover {
        outline: 0;
    }
}

/*
    Sortable table
*/
.tablesorter-headerUnSorted .tablesorter-header-inner::after {
    content: '\f0dc';
    font-family: 'FontAwesome';
    margin-left: .75ex;
}

.tablesorter-headerAsc .tablesorter-header-inner::after {
    content: '\f0de';
    font-family: 'FontAwesome';
    margin-left: .75ex;
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
    content: '\f0dd';
    font-family: 'FontAwesome';
    margin-left: .75ex;
}

/*
    Ballot Map
*/

.municipality {

    .selected {
        stroke: $white;
        stroke-linecap: round;
        stroke-opacity: .8;
        stroke-width: 2px;
    }

    .uncounted.selected {
        stroke: $oil;
        stroke-width: 1px;
    }
}

/*
    Ballot Map Legend
*/

.legend {
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;

    ul {
        list-style: none;
        margin: 0;

        li {
            float: left;
            width: 12.5%;
        }
    }

    .legend-left {
        float: left;
        font-size: .8em;
    }

    .legend-right {
        float: right;
        font-size: .8em;
    }
}

/*
    D3 Tooltip
*/
.d3-tip {
    background: $white-smoke;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    font-size: .8rem;
    padding: 12px;

    .fa-thumbs-up {
        color: $accepted-color;
    }

    .fa-thumbs-down {
        color: $rejected-color;
    }
}

/*
    Charts
*/
.map-container {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

figure {
    margin: 4rem 0 2rem;
}

figcaption {
    font-size: .9rem;
    margin-top: 2rem;
}

/*
    SVG Downloads
*/
.svg-download {
    display: block;
    font-size: .8rem;
    text-align: right;

    i.fa {
        margin-right: .2em;
    }
}

/*
    Embed Code
*/
.embed {
    font-size: .8rem;

    a {
        display: block;
        text-align: right;
    }

    code {
        display: block;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1em;
        word-break: break-all;
    }

    i.fa {
        margin-right: .2em;
    }
}

/*
    Voting Factoids
*/
.factoids {
    font-size: .9rem;
    margin-bottom: .5rem;

    strong {
        display: block;
    }

    span {
        font-weight: bold;
        opacity: .5;
    }
}


/*
    Voting Factoids
*/
ul.opendata-download {
    list-style-type: none;
    margin: 0;
}

/*
    Footer
*/
footer {
    border-top: 1px solid $footer-border-color;
    font-size: 85%;
    left: calc(100% - 100vw);
    margin-top: 2rem;
    padding: 1rem 0 1rem calc(100vw - 100%);
    position: relative;
    width: 100vw;
}


/*
    Navigation
*/
.tab-navigation {
    margin-bottom: 2em;
    margin-top: 1em;

    .title-area {
        border-bottom: 1px solid $aluminum;

        .name {
            background: $white-smoke;

            span {
                padding-left: 1em;
            }
        }
    }

    .top-bar {
        &:not(.expanded) {
            border-bottom: 1px solid $aluminum;
        }

        .title-area .name span {
            color: $aluminum;
        }

        .left {
            li.active {
                border-left: 2px solid $primary-color;
            }
        }
    }
}

@media #{$medium-up} {
    .tab-navigation {
        .top-bar {

            &:not(.expanded) {
                border-bottom: 0;
            }

            .title-area .name span {
                display: none;
            }

            .left {
                border-bottom: 1px solid $aluminum;
                width: 100%;

                li {
                    border-bottom: 2px solid $white;
                    position: relative;
                    z-index: 10;

                    &.active {
                        border-bottom: 2px solid $primary-color;
                        border-left: 0;
                        top: 1px;
                        z-index: 20;
                    }
                }
            }
        }
    }
}


/*
    Breadcrumbs
*/

ul.breadcrumbs {
    background: $white;
    border: 0;
    margin-bottom: 2em;
    padding-left: 0;
}

/*
    Backend views
*/

tr.divider {
    border-bottom: 1px solid $iron;
}

/*
    Manage view actions
*/
th.row-actions {
    width: 200px;
}

td.row-actions {
    padding-right: 0;
}

ul.actions {
    direction: rtl;
    list-style-type: circle;
    margin: .2em 1.1em 1em 0;

    li {
        font-size: $table-row-font-size;
    }
}

.action-button {
    margin-bottom: 0;
}


.top-actions {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 1.2rem 0 0;

    .action-new::before {
        content: '\f055';
        font-family: 'FontAwesome';
        margin-right: .75ex;
    }
}

/*
    Forms
*/

form {
    label > ul {
        list-style: none;

        margin: 0;
        margin-bottom: 1rem;

        li input[type="checkbox"],
        li input[type="radio"] {
            margin: 0;
        }
    }
}

.cancel-button {
    margin-right: .5rem;
}


/*
    Alert boxes
*/

.alert-box {
    font-size: 1rem;
}


/*
    Upload errors
*/

.after-upload {
    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        background-color: $secondary-color;
        border: 1px solid $gainsboro;
        font-size: .875rem;
        margin-bottom: .5em;
    }

    .error-line {
        background-color: $white;
        color: $steel;
        display: inline-block;
        padding: 2px 6px;

        > span {
            margin-right: .5ex;
        }
    }

    .error-message {
        display: inline-block;
        padding: 2px 6px;
    }
}


/*
    Shortcode
*/
.shortcode {
    display: inline-block;
    font-family: $font-family-monospace;
    font-weight: bold;
    white-space: nowrap;

    &.large {
        font-size: 1.5em;
    }
}

/*
    Locales switcher
*/

.locales {
    display: inline-block;
    font-size: .875rem;
    list-style: none;
    margin: 0 0 1em;

    li {
        display: inline-block;

        + li:before {
            content: '|';
        }
    }
}

/*
    Link back to canton site
*/
ul.breadcrumbs.back-links {
    background-color: $white-smoke;
    margin-bottom: 1em;

    > * {
        font-size: .875rem;
    }
}

.back-to-base {
    display: inline-block;
    font-size: .875rem;
    font-weight: bold;
    margin-top: .875rem;

    &::before {
        content: '\f100 ';
        font-family: 'FontAwesome';
        font-weight: normal;
        margin-right: 1ex;
    }
}


/*
    Related Links
*/
.row.related {
    margin-top: 3rem;
}

.related-link {
    word-break: break-all;
}

/*
    Subscription links
*/
.subscription-links {
    h2 {
        margin-top: 2rem;
    }

    p {
        margin-bottom: .5em;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }
}

/*
    Open Data
*/
.open-data {

    ol,
    ul,
    dl,
    dd {
        margin-left: 2em;
    }

    dl.url {
        margin-left: 0;
    }

    .toc-link {
        display: block;
    }
}


/*
    Print
*/

@media print {
    .download-results,
    .manage-links,
    .row.archive,
    .row.header,
    a.svg-download,
    ul.locales,
    ul.tabs,
    .subscription-links,
    .onegov-link,
    .open-data-link,
    .results-navigation a,
    .results-navigation h2::after,

    p,
    td,
    th {
        font-size: 12px !important;
    }

    svg,
    table {
        max-width: 100%;
    }

    .row.percentages .columns {
        width: 50%;
    }

    .ballot-map {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    h2,
    h3,
    .factoids {
        page-break-after: avoid;
    }

    html,
    body {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
