/*
    get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    (100vw includes the scrollbar, 100% does not)
*/
html {
    margin-left: calc(100vw - 100%);
}

/*
    Header
*/
.header {
    text-align: right;
}

/*
    Utils
*/
.capitalized {
    text-transform: uppercase;
}

/*
    Before Content
*/
.before-content {
    background-color: $white-smoke;
    left: calc(100% - 100vw);
    margin-bottom: 2rem;
    padding-left: calc(100vw - 100%);
    padding-top: 2.5rem;
    position: relative;
    width: 100vw;

    .columns {
        padding: 0 1em;
    }

    h1 small {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1.3rem;
    }

    dl dt {
        opacity: .5;
    }

    dl dd {
        font-size: 240%;
        font-weight: bold;
        margin-bottom: -6px;
    }

    hr {
        border: 4px solid $primary-color;
        margin-bottom: 0;
        margin-top: 2rem;
        padding: 0;
    }

    .percentage {
        background: $success-color;
        height: .5rem;

        .nays {
            background: $alert-color;
            height: .5rem;
        }
    }
}

/*
    Homepage
*/

.homepage h2 {
    font-size: $h4-font-size;
}

.archive {
    ul {
        list-style-type: none;
        margin: 0;
        
        li {
            display: inline-block;

            + li::before {
                content: '/ ';
            }
        }
    }
}

/*
    Voting states
*/
.accepted {
    color: $success-color;
    font-weight: bold;
}

.rejected {
    color: $alert-color;
    font-weight: bold;
}

/*
    All tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;
    }

    th {
        border-bottom: 1px solid $white-smoke;
    }

    th,
    td {
        padding: .5rem;

        &.right-aligned {
            text-align: right;
        }
    }

    tr.total {
        border: 1px solid $gainsboro;
        border-width: 1px 0;
        font-weight: bold;
    }


    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    &.overview {
        margin-bottom: 2rem;

        td:nth-child(2) {
            width: 12.5%;
        }

        td:nth-child(3),
        td:nth-child(4) {
            width: 7.5%;
        }

        td:nth-child(5) {
            width: 12.5%;
        }
    }
}

/*
    Responsive tables
*/

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media #{$small-only} {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
    .stacktable th.st-head-row-main { display: none; }
}

/*
    Ballot Map
*/

.border {
    fill: none;
}

.municipality {
    fill: transparent;  // the initial color of the municipalities
    
    .selected {
        stroke: $white;
        stroke-linecap: round;
        stroke-opacity: .8;
        stroke-width: 1px;
    }
}

.lake {
    fill: $white;
    stroke: $aluminum;
    stroke-width: 1px;
}

/*
    Ballot Map Legend
*/

.legend {
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;

    ul {
        list-style: none;
        margin: 0;

        li {
            float: left;
            width: 12.5%;
        }
    }

    .legend-left {
        float: left;
        font-size: .8em;
    }

    .legend-right {
        float: right;
        font-size: .8em;
    }
}

/*
    D3 Tooltip
*/
.d3-tip {
    background: $white-smoke;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    font-size: .8rem;
    padding: 12px;

    .fa-thumbs-up {
        color: $success-color;
    }

    .fa-thumbs-down {
        color: $alert-color;
    }
}

/*
    Voting Factoids
*/
.factoids {
    font-size: .9rem;
    margin-bottom: .5rem;

    strong {
        display: block;
    }

    span {
        font-weight: bold;
        opacity: .5;
    }
}

/*
    Footer
*/
footer {
    border-top: 1px solid $white-smoke;
    font-size: 85%;
    margin-top: 2rem;
    padding: 1rem 0;
}


/*
    Results Navigation
*/
.results-navigation {
    h2 {
        display: inline-block;
        margin-bottom: 1rem;
        margin-right: .4ex;
    }

    a {
        color: $base;
        font-size: $h2-font-size;
    }

    > *::after {
        content: ' / ';
    }

    > *:last-child::after {
        content: '';
    }
}


/*
    Manage view actions
*/
ul.actions {
    list-style-type: none;
    margin: 0;

    li {
        display: inline-block;
        font-size: $table-row-font-size;

        + li::before {
            content: '| ';
        }
    }
}


.top-actions {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 1.2rem 0 0;

    .action-new::before {
        content: '\f055';
        font-family: 'FontAwesome';
        margin-right: .75ex;
    }
}

/*
    Forms
*/

form {
    label > ul {
        list-style: none;

        margin: 0;
        margin-bottom: 1rem;

        li input[type="checkbox"],
        li input[type="radio"] {
            margin: 0;
        }
    }
}

.cancel-button {
    margin-right: .5rem;
}


/*
    Upload errors
*/

.after-upload {
    h3 {
        font-size: 1em;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        background-color: $secondary-color;
        border: 1px solid $gainsboro;
        font-size: .875rem;
        margin-bottom: .5em;
    }

    .error-line {
        background-color: $white;
        color: $steel;
        display: inline-block;
        padding: 2px 6px;

        > span {
            margin-right: .5ex;
        }
    }

    .error-message {
        display: inline-block;
        padding: 2px 6px;
    }
}
