$accepted-color: #0571b0;
$rejected-color: #ca0020;

/*
    get rid of the jump that is introduced when switching from a site with
    scrollbar to a site without (or vice versa)

    (100vw includes the scrollbar, 100% does not)
*/
html {
    margin-left: calc(100vw - 100%);
}

/*
    Header
*/
.header {
    text-align: right;

    img {
        margin: 1em 0;
    }
}

/*
    Utils
*/
.capitalized {
    text-transform: uppercase;
}

/*
    Before Content
*/
.before-content {
    background-color: $white-smoke;
    left: calc(100% - 100vw);
    margin-bottom: 2rem;
    padding-left: calc(100vw - 100%);
    padding-top: 2.5rem;
    position: relative;
    width: 100vw;

    .columns {
        padding: 0 1em;
    }

    h1 small {
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1.3rem;
    }

    dl dt {
        opacity: .5;
    }

    dl dd {
        font-size: 240%;
        font-weight: bold;
        margin-bottom: -6px;
    }

    hr {
        border: 4px solid $primary-color;
        margin-bottom: 0;
        margin-top: 2rem;
        padding: 0;
    }

    .percentage {
        background: $accepted-color;
        height: .5rem;

        .nays {
            background: $rejected-color;
            height: .5rem;
        }
    }
}

/*
    Homepage
*/

.homepage h2 {
    font-size: $h3-font-size;
}

.homepage h3 {
    font-size: $h4-font-size;
}

.archive {
    ul {
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;

            + li::before {
                content: '/ ';
            }
        }
    }
}

/*
    Voting states
*/

.answer {
    color: $black;
    font-weight: bold;
}

.accepted {
    color: $accepted-color;
    font-weight: bold;
}

.rejected {
    color: $rejected-color;
    font-weight: bold;
}

.overview .answer {
    color: $black;
}

/*
    All tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;

    }

    th {
        border-bottom: 1px solid $white-smoke;
    }

    th,
    td {
        padding: .5rem;

        &.right-aligned {
            text-align: right;
        }
    }

    tr.total {
        border: 1px solid $gainsboro;
        border-width: 1px 0;
        font-weight: bold;
    }


    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    &.overview {
        margin-bottom: 2rem;

        &.vote {
            td:nth-child(2) {
                width: 12.5%;
            }

            td:nth-child(3),
            td:nth-child(4) {
                width: 7.5%;
            }

            td:nth-child(5) {
                width: 12.5%;
            }

            td:nth-child(6) {
                width: 10%;
            }
        }

        &.election {
            td:nth-child(2) {
                width: 12.5%;
            }

            td:nth-child(3) {
                width: 10%;
            }
        }
    }

    &.collapsible {
        .less,
        .more {
            td {
                background-color: $white;
                color: $primary-color;
                cursor: pointer;
            }

            .st-head-row {
                border: 0;
                color: $primary-color;
                cursor: pointer;
                font-size: .875rem;
                font-weight: normal;
            }
        }

        .less td:first-child,
        .less .st-head-row {
            &::before {
                color: $primary-color;
                content: '\f056';
                font-family: 'FontAwesome';
                margin-right: .75ex;
            }
        }

        .more td:first-child,
        .more .st-head-row {
            &::before {
                color: $primary-color;
                content: '\f055';
                font-family: 'FontAwesome';
                margin-right: .75ex;
            }
        }

        &.collapsed {
            tr.sticky {
                background-color: $white;
            }

            tr.total {
                background-color: $snow;
            }
        }
    }
}

/*
    Responsive tables
*/

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media #{$small-only} {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
    .stacktable th.st-head-row-main { display: none; }
    .stackable .answer {
        text-align: right;
    }

    .st-head-row {
        background-color: $white;
        border-bottom: 5px solid $gainsboro;
        font-size: 1.2em;
        text-align: center;
    }

    .stackable .answer {
        text-align: right;
    }
}

/*
    Results table
*/
.ballot-results {
    tr:hover {
        outline: 1px solid $gainsboro;
    }

    tr.total:hover {
        outline: 0;
    }
}

/*
    Ballot Map
*/

.municipality {

    .selected {
        stroke: $white;
        stroke-linecap: round;
        stroke-opacity: .8;
        stroke-width: 2px;
    }

    .uncounted.selected {
        stroke: $oil;
        stroke-width: 1px;
    }
}

/*
    Ballot Map Legend
*/

.legend {
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;

    ul {
        list-style: none;
        margin: 0;

        li {
            float: left;
            width: 12.5%;
        }
    }

    .legend-left {
        float: left;
        font-size: .8em;
    }

    .legend-right {
        float: right;
        font-size: .8em;
    }
}

/*
    D3 Tooltip
*/
.d3-tip {
    background: $white-smoke;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    font-size: .8rem;
    padding: 12px;

    .fa-thumbs-up {
        color: $accepted-color;
    }

    .fa-thumbs-down {
        color: $rejected-color;
    }
}

/*
    Bar Chart
*/
.bar-chart {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*
    Sankey Chart
*/
.sankey-chart {
    margin-bottom: 2rem;
    margin-top: 2rem;

    .link {
      &:hover {
        stroke-opacity: .4 !important;
      }
    }
}

/*
    SVG Downloads
*/
.svg-download {
    display: block;
    font-size: .8rem;
    margin-top: 1em;
    text-align: right;

    i.fa {
        margin-right: .2em;
    }
}

/*
    Embed Code
*/
.embed {
    font-size: .8rem;

    a {
        display: block;
        text-align: right;
    }

    code {
        display: block;
        padding: 1em;
        word-break: break-all;
    }

    i.fa {
        margin-right: .2em;
    }
}

/*
    Voting Factoids
*/
.factoids {
    font-size: .9rem;
    margin-bottom: .5rem;

    strong {
        display: block;
    }

    span {
        font-weight: bold;
        opacity: .5;
    }
}

/*
    Footer
*/
footer {
    border-top: 1px solid $white-smoke;
    font-size: 85%;
    margin-top: 2rem;
    padding: 1rem 0;

    .copyright::after {
        content: ' |';
    }

}


/*
    Manage navigation
*/
.tabs {
    background-color: $snow;
    border-bottom: 4px solid $gainsboro;

    .tab-title > a {
        background-color: transparent;
    }

    .tab-title.active > a {
        background-color: $gainsboro;
    }
}

ul.breadcrumbs {
    background: $white;
    border: 0;
    margin-bottom: 2em;
    margin-top: 1em;
    padding-left: 0;
}

/*
    Manage view actions
*/
ul.actions {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;

    li {
        display: inline-block;
        font-size: $table-row-font-size;
        float: left;

        + li::before {
            content: '| ';
            padding-left: .3em;
        }
    }
}


.top-actions {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 1.2rem 0 0;

    .action-new::before {
        content: '\f055';
        font-family: 'FontAwesome';
        margin-right: .75ex;
    }
}

/*
    Forms
*/

form {
    label > ul {
        list-style: none;

        margin: 0;
        margin-bottom: 1rem;

        li input[type="checkbox"],
        li input[type="radio"] {
            margin: 0;
        }
    }
}

.cancel-button {
    margin-right: .5rem;
}


/*
    Upload errors
*/

.after-upload {
    h3 {
        font-size: 1em;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        background-color: $secondary-color;
        border: 1px solid $gainsboro;
        font-size: .875rem;
        margin-bottom: .5em;
    }

    .error-line {
        background-color: $white;
        color: $steel;
        display: inline-block;
        padding: 2px 6px;

        > span {
            margin-right: .5ex;
        }
    }

    .error-message {
        display: inline-block;
        padding: 2px 6px;
    }
}


/*
    Shortcode
*/
.shortcode {
    display: inline-block;
    font-family: $font-family-monospace;
    font-weight: bold;
    white-space: nowrap;

    &.large {
        font-size: 1.5em;
    }
}

/*
    Download results button in votes view header
*/
.download-results {
    position: absolute;
    right: 20px;
    top: -13px;

    > a {
        background-color: $white;
        border: 3px solid $gainsboro;
        border-radius: 50px;
        color: $gainsboro;
        display: block;
        font-size: 16px;
        height: 32px;
        line-height: 25px;
        text-align: center;
        width: 32px;
    }

    a.open,
    &:hover > a {
        border-color: $primary-color;
        color: $primary-color;
    }

    > ul {
        border-radius: 2px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .15);
        width: 170px !important;

        &:focus {
            outline: none;
        }

        li a:before {
            display: inline-block;
            font-family: 'FontAwesome';
            margin-right: 1ex;
        }

        li:nth-child(1) a:before {
            content: '\f016';
        }

        li:nth-child(2) a:before {
            content: '\f0f6';
        }

        li:nth-child(3) a:before {
            content: '\f1c3';
        }

        li:nth-child(4) a:before {
            content: '\f059';
        }
    }
}

/*
    Locales switcher
*/

.locales {
    display: inline-block;
    font-size: .875rem;
    list-style: none;
    margin: 0;

    li {
        display: inline-block;

        + li:before {
            content: '|';
        }
    }
}

/*
    Link back to canton site
*/

.back-to-base {
    display: inline-block;
    font-size: .875rem;
    font-weight: bold;
    margin-top: .875rem;

    &::before {
        content: '\f100 ';
        font-family: 'FontAwesome';
        font-weight: normal;
        margin-right: 1ex;
    }
}

/*
    Foldable sections
*/

.foldable {

    margin-bottom: 2rem;

    .foldable-title {
        background-color: $snow;
        border-top: 5px solid $primary-color;
        cursor: pointer;
        margin-top: 2rem;
        padding: .5em 0;

        &::before {
            color: $aluminum;
            content: '\f056';
            font-family: 'FontAwesome';
            font-size: .625em;
            margin: 0 .625em;
            vertical-align: middle;
        }
    }

    .foldable-panel {
        margin-bottom: 2rem;
    }

    &.folded {
        .foldable-title {
            border-top: 5px solid $base;

            &::before {
                content: '\f055';
            }
        }
    }
}


/*
    Related Links
*/
.related-link {
    word-break: break-all;
}

/*
    Open Data
*/
.open-data {

    ol,
    ul,
    dl,
    dd {
        margin-left: 2em;
    }

    dl.url {
        margin-left: 0;
    }

    .toc-link {
        display: block;
    }
}


/*
    Print
*/

@media print {
    .download-results,
    .manage-links,
    .row.archive,
    .row.header,
    a.svg-download,
    ul.locales,
    .foldable.folded,
    .foldable-title::before,
    .onegov-link,
    .open-data-link,
    .results-navigation a,
    .results-navigation h2::after,
    .copyright::after {
        display: none;
    }

    p,
    td,
    th {
        font-size: 12px !important;
    }

    svg,
    table {
        max-width: 100%;
    }

    .row.percentages .columns {
        width: 50%;
    }

    .ballot-map {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    h2,
    h3,
    .factoids {
        page-break-after: avoid;
    }

    html,
    body {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
