/*
    Voting states
*/

.accepted {
    color: $success-color;
    font-weight: bold;
}

.rejected {
    color: $alert-color;
    font-weight: bold;
}

/*
    Tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;
    }

    th {
        border-bottom: 1px solid $body-font-color;
    }

    th,
    td {
        padding: .5rem 0;
    }

    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    &.overview {
        td:nth-child(2) {
            width: 12.5%;
        }

        td:nth-child(3),
        td:nth-child(4) {
            width: 7.5%;
        }

        td:nth-child(5) {
            width: 12.5%;
        }
    }
}
