/*
    Header & Body
*/

.header {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.overview {
    margin-bottom: 2rem;
}

/*
    Voting states
*/

.accepted {
    color: $success-color;
    font-weight: bold;
}

.rejected {
    color: $alert-color;
    font-weight: bold;
}

/*
    Tables
*/
table {
    border: 0;
    width: 100%;

    thead {
        background: none;
    }

    th {
        border-bottom: 1px solid $body-font-color;
    }

    th,
    td {
        padding: .5rem 0;
    }

    // overview table on the homepage -> specified widths because we have
    // multiple tables which should align vertically
    &.overview {
        td:nth-child(2) {
            width: 12.5%;
        }

        td:nth-child(3),
        td:nth-child(4) {
            width: 7.5%;
        }

        td:nth-child(5) {
            width: 12.5%;
        }
    }
}

/*
    Responsive Tables
*/
.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media #{$small-only} {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
    .stacktable th.st-head-row-main { display: none; }
}

/*
    Ballot Map
*/

.border {
    fill: none;
}

.municipality .selected {
    stroke: #fff;
    stroke-linecap: round;
    stroke-opacity: .8;
    stroke-width: 1px;
}

.lake {
    fill: $white;
    stroke: #b0becb;
    stroke-width: 1px;
}

/*
    D3 Tooltip
*/

.d3-tip {
    background: rgba(0, 0, 0, .1);
    border-radius: 2px;
    font-size: .8rem;
    padding: 12px;
}

/*
    Voting factoids
*/
.factoids {
    background-color: $white-smoke;
    font-size: .8rem;
    margin-bottom: 1rem;
    padding-top: 1rem;

    strong {
        display: block;
    }
}
