language: python
python: "3.5"
cache: pip

env:
    - TOXENV=py34
    - TOXENV=py35
    - TOXENV=pep8

addons:
    postgresql: "9.3"

install:
    - pip install
    - if [ "$TOXENV" = 'py34' ]; then pip install codecov; fi

script:
    - tox -e $TOXENV

after_success:
    - if [ "$TOXENV" = 'py34' ]; then codecov; fi
    - 'if [ "$TOXENV" = "py34" ]; then $TRAVIS_BUILD_DIR/.tox/py34/bin/pip freeze | sed -r "s/^-e git.*?egg=([a-z\._]+)$/\1==${TRAVIS_TAG:1}/g" > $TRAVIS_BUILD_DIR/requirements.txt; fi'
    - if [ "$TOXENV" = 'py34' ]; then cat requirements.txt; fi

deploy:

  - provider: releases
    api_key:
        secure: "oUzYVqAVgEEAnhtYqbDpFWYf6T1ruD/YOa1A7e/dgkgmhDoXF9S00JMlIFX5m/yLf8jBiqs6/LCYGhxZKMRbEzN2Giqmr6q4BRhYrcg9gK4I+t+ivbrTQia0V2lDMGJlv0q93PGeiMQDB2rJ88kh9i628aOBRt7Vx4vFm2u7KV/6sojnI4f1uPhLlhqnkY0R8+g2G0tqczkZGIlWrt++4uR+ey9X55vDsy4QxgloVazriCyOavTMpl7q7W/8WqvhfcSOsdqRg/9OpkwSbxoRJi4gkwmwfi3aha4T37L+5gGJ3NTuspbTy54cRy28XO8F4ygmhELBYYlqkXZ/Dqb1lcigTADznDaavup5Xq/gdQNdbtmxKjp64fjngZTXpJaoerjggYCh9gC2UDL9cM2vt9eFd8TBPegu3tECkZBQg6i7O7bMakURWRfedPQNZ28Z6u9jI2XVtmqAH3xq629HpyYP/nlrnSXypUhmL0sYqHbptNMpe6YHMUCTgOWoeSCSAF0Q4U21kF1PJh1WDYy5DNnOPNBbT3rdE4MPeH3guahMq/sA/u+yykTDLw4z6AO1dTfbAgfEQxZa+1u59ICZJm2M7uRnUbLjJE31KbTHnd/OP29yWAsU4csYDRkZqhg5whA0a8uD5i66Hdo577K8bGKF39QCbM0zsouLM/7CKgo="
    file: requirements.txt
    skip_cleanup: true
    on:
        tags: true
        condition: $TOXENV = py34

  - provider: pypi
    distributions: "sdist bdist_wheel"
    user: seantis
    password:
        secure: "jBTg9034cXbx9zkNW/W3fBmve+zoBHVuUbyUNKh7zwV+cl0vnzJtWNyJ/Zr+7SwBTbZIOasudz/vmIEk6lRUOGmyWHRjJzpxVAKuZflmdoNMLKvFqcb685ZagqTqyEKvRtCo53uQHNjdDdCER56zk4E4IeflZ93NBBnOJPEwTDyuJ4/aTpT1+v1+wJv7iTAxBhYIB1pPY5qrRpudDpvkK7pYhCFlyl+HXgfeDScOfj6wvtiGn8jNHlJnsMfCsQWXeXJq6W/Z9gKDBPRbHBdZ36yZpECpzoWiu0LsKyjPhj4wStYDoV8lq+wcAPhrTqxTTSHgzBlJ6yaDfYLMUcm0aYLn3Bq9DcLJq48hpMXX0zzIhZxtyQ8e27P8E0ZVt/uKmyx+RaZJhNCNKtTNNgiUVgF91gShTHwN374IiPl3gGWh8BwJJWAZYIlN3C1vD5DcURkU3DyaMyz6fBGwFAOHdKSIdMEaXSabkcJyvBQ6Umkk106d9oXlJ/iGwGzBtEWFH9gTaKi8glUSVq1HzrXZvUeC7eAjsWXW29oHshorSTFYY51jYpTDldjls4lIcYXK8m5YyBqXgcOcaswvzvBYQb0T4QO0zgoqdNYYZhONDpcOYM9a5TuB2y3ILlrLH4SdOtl1UjOkHLyPZlsgjw0h91lBQEeXyFdKS8DI2lPmOXA="
    on:
        tags: true
        condition: $TOXENV = py34
