language: python

env:
    - TOXENV=py27
    - TOXENV=py34
    - TOXENV=pep8
install:
    - pip install tox
    - if [ "$TOXENV" = 'py34' ]; then pip install coveralls; fi
script:
    - tox -e $TOXENV
after_success:
    - if [ "$TOXENV" = 'py34' ]; then coveralls; fi

deploy:
    provider: pypi
    distributions: "sdist bdist_wheel"
    user: seantis
    password:
      secure: "L4ne43QYh1C/wl77/38/JT9QNhBJCmNxkNQxDkYd1KohAV+U8ynur5OU2C0qV5W6XIyOLHnR1Y3qNgiNONAsfJoFBlpyk8VO7AEbPt2WTCyXoLIIRDUI5/wAFiwU0VZOQ2DYVWGs890eNJ9b5hqc98XWPkk2tlXWA+Ciw0XMzRNC+TYHHWm0JlMTOlmKrHkSKKnb6jHz1QgSSkztkT4db0v+UQaQ+w4T/WcWJ4UEE+9NrMxVHwxB+pMaMojz9UKrRHs+MpegCa4uaxpmA6H4hM66IjyYZmn8TTW/CIBPXb+VnldIVsek3KW/g6/ZgrB3/oCVQA1gt1kEq+ZQkiX53D+iGG6aYlmX97HY8cdmxfurAN7FYmS3RW53FRBKaGvqIiOroMYNUCis53DMNZMfbbISi12IaPCng4VD0U2GKA1e0e0l+AV3VGOWlXUK486IHe3nryenfKXokuOL6QuURlsUMUxFSmqzIhT8mJPs3QVB+AOtgQlU/IWKX7U9aP3v3m+VG40AtkzFR1Mvz9RqzbFgu3IghkDyXg9piGEp1rMhnDE+oWnHZUMHA8my3zL+i7poTXxMC6NJLCQwurGfl1PNtf5SMacoNjnRs1KG0TBxN+TZZs6mKzbDIq1SApeplsI2Hsp0CGYg06YlgQRzqrS8Pb3yDDEzVU+wJliUdO0="
    on:
        tags: true
        condition: $TOXENV = py34
