$max-line-width: 45rem;


.limit-line-width {
    max-width: $max-line-width;
}


/*
    css animations keyframes
*/
@keyframes oscillate-opacity {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

/*
    Clickable headers are kept dark, but we ensure that the hover works.
*/
a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6 {
    &:hover {
        color: $anchor-font-color-hover;
    }
}

/*
    hide certain settings
*/
.holiday-settings,
.event-settings,
.chat-settings,
.api-keys,
.vat-settings,
.gever-credentials,
.grid-x.field-geo_provider,
.grid-x.field-about_url,
.grid-x.field-hide_onegov_footer,
#fieldset-footer-division {
    display: none;
}

/*
    hide ticket achiving options
*/
.archive-tickets,
.ticket-archive {
    display: none !important;
}

/*
    registration on homepage
*/
.homepage .register {
    margin-bottom: .5rem;
}

/*
    background color of default logo
*/
svg {
    .background {
        fill: lighten($primary-color, 5%);
    }

    .foreground {
        fill: $anchor-font-color;
    }
}

/*
    Small font
*/
.small {
    font-size: .875rem;
    line-height: 1.2rem;
}

/*
    Header
*/
#feriennet-links {
    background: $primary-color;

    ul {
        padding: .5rem 0;
    }

    li {
        border-left: 1px solid scale-color($primary-color, $lightness: 30%, $saturation: -40%);
        font-size: .9rem;

        &:first-child {
            border-left: 0;
        }

        &:nth-child(2) {
            margin-left: 1rem;
        }

        a#help-us {
            background: $smoke;
            border-radius: 1rem;
            color: $primary-color;

            &:hover {
                box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, .28) inset;
            }
        }

        a {
            border-radius: 1rem;
            color: white;
            padding: .3rem 1rem;
            transition: all 200ms linear;
        }

        &:hover a {
            background: rgba(250, 250, 250, .15);
        }
    }
}

#header_links + #feriennet-links,
#header_text + #feriennet-links {
    border-top: 1px solid darken($primary-color, 5%);
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .15) inset;
}

/*
    Forms
*/
@media #{$medium-up} {
    .two-columns {
        column-count: 2;
        column-gap: 4rem;

        form .formfields,
        form fieldset {
            break-inside: avoid;
        }
    }
}

form small {
    color: $aluminum;
    display: block;
    font-size: .8rem;
}


/*
    Strikethrough text
*/
.strikethrough {
    text-decoration: line-through;
}

/*
    Render newlines
*/
.newlines {
    white-space: pre-line;
    word-break: break-all;
}

/*
    Tighter paragraphs
*/
p.tight {
    margin-bottom: .75rem;
}

/*
    Generic icons (experimental, might replace other approaches in the future)
*/
@mixin generic-icon($icon) {
    &.before::before,
    &.after::after {
        @include icon-bold($icon);
    }
}

/*
    Group code
*/
@mixin group-code {
    background: $yellow-pastel;
    border: 1px solid $yellow-light;
    border-radius: 2px;
    font-family: $font-family-monospace;
    padding: 0 4px;
}

.group-code {
    @include group-code;
}

/*
    Booking score
*/
.booking-score {
    @include group-code;
    background: rgba(250, 250, 250, .4);
    border-color: rgba(220, 220, 220, .1);
    font-size: .8rem;
}

.before::before {
    margin-right: 1ex;
}

.after::after {
    margin-left: 1ex;
}

.calendar-icon {
    @include generic-icon('\f133');

    &:first-of-type::before {
        color: $body-font-color;
    }

    &::before {
        color: transparent;
    }
}

.calendar-add-icon {
    @include generic-icon('\f271');

    .fa-external-link-alt {
        display: none;
    }
}

.calendar-edit-icon {
    @include generic-icon('\f044');
}

.location-icon {
    @include generic-icon('\f3c5');
}

.child-icon {
    @include generic-icon('\f1ae');
}

.print-icon {
    @include generic-icon('\f02f');
}

.plus-icon {
    @include generic-icon('\f067');
}

.minus-icon {
    @include generic-icon('\f068');
}

/*
    global/editbar icons
*/
#global-tools,
.globals,
.edit-bar {
    .accept-activity::before { @include icon-bold('\f164'); }
    .archive-activity::before { @include icon-bold('\f187'); }
    .feriennet-management::before { @include icon('\f274'); }
    .import::before { @include icon-bold('\f093'); }
    .manage-billing::before { @include icon-bold('\f0d6'); }
    .manage-matches::before { @include icon-bold('\f24e'); }
    .manage-periods::before { @include icon-bold('\f02d'); }
    .new-activity::before { @include icon-bold('\f135'); }
    .new-booking::before { @include icon-bold('\f1ec'); }
    .paid-date::before { @include icon('\f274'); }
    .new-notification::before { @include icon-bold('\f0e0'); }
    .new-occasion::before { @include icon('\f133'); }
    .new-period::before { @include icon-bold('\f055'); }
    .offer-again::before { @include icon('\f164'); }
    .remove-manual::before { @include icon-bold('\f1f8'); }
    .request-publication::before { @include icon('\f164'); }
    .reset-billing::before { @include icon('\f12d'); }
    .reset-matching::before { @include icon('\f12d'); }
    .run-matching::before { @include icon('\f0d0'); }
    .show-activity::before { @include icon-bold('\f135'); }
    .show-attendees::before { @include icon-bold('\f0c0'); }
    .show-dashboard::before { @include icon-bold('\f3fd'); }
    .show-exports::before { @include icon-bold('\f019'); }
    .show-notifications::before { @include icon-bold('\f0e0'); }
    .show-ticket::before { @include icon-bold('\f3ff'); }
    .show-volunteers::before { @include icon-bold('\f4fc'); }
    .volunteer::before { @include icon('\f164'); }
}


/*
    Footer logo
*/
.pro-juventute-logo {
    display: block;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    text-align: center;
}

.onegov-award,
.pro-juventute-logo,
.bosw-award,
.social-media-links a {
    &::before {
        background: transparent !important;
    }
}

.platform-awards {
    margin-top: .5rem;

    img {
        border-radius: 3px;
        height: 60px;
        margin-right: 1ex;
        text-align: center;
    }
}

.platform-promotion > div {
    margin-bottom: .75rem;
    max-width: 70ex;

    .fas.fa-external-link-alt.fa-xs {
        display: inline;
    }

    a {
        font-weight: bold;
    }
}

.sponsor-footer {
    margin-top: .75rem !important;

    h2 {
        color: $body-font-color;
    }

    div,
    span {
        color: $body-font-color;
    }

    a {
        color: $primary-color;
    }


    .sponsor {
        background: $white;

        a div {
            background: $white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 50%;
            width: 100%;
        }
    }

}

footer {
    .cell ul.social-media-links {
        margin-bottom: 1.5rem;
    }

    .footer-content > .cell.footer-links {
        margin-top: 3rem;
        text-align: center;
    }
}

/*
    activities list
*/
.activity-list-item {

    .page-lead {
        color: $charcoal;
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    ul.tags {
        margin-bottom: .75rem;
    }

    .factoids > span {
        color: $charcoal;
        font-size: .875rem;
        line-height: .875rem;
        margin-right: 3ex;

        + span {
            white-space: nowrap;
        }

    }
}

/*
    Activity view
*/

.activity-active-period {
    margin-bottom: 2rem;


    @mixin arrow-hint {
        @include icon-bold('\f061');
    }

    .hint {
        font-size: inherit;

        > span {
            display: flex;
            flex-wrap: wrap;

            &::before {
                @include arrow-hint;
                margin-right: 1rem;
            }
        }

        b {
            margin-right: .5rem;
        }
    }
}

.panel.period-hint-panel {

    margin-bottom: 4rem;

    &:not(:has(.hint)) {
        display: none;
    }

    .hints .hint {
        margin-left: 2rem;

        &::before {
            @include icon-bold('\f061');
        }
    }
}

ul.tags {
    margin: 0 0 2rem;

    li {
        font-size: .875rem;
        margin-bottom: 8px;
    }
}

.activity-ticket-state > div {
    background: none;
    color: $body-font-color;
    font-size: .875rem;
    line-height: .875rem;
    padding: 0;
}

.activity-status-panel {

    .field-display-label {
        font-weight: normal;
    }

    .activity-state {
        font-size: .875rem;
    }
}

/*
    Ticket view
*/
.ticket-summary {
    .page-content-main,
    .page-content-sidebar {
        @include grid-column(12);
    }
}

.FER-link::before {
    @include icon('\f135');
    display: inline-block;
    margin-right: 1ex;
}

.ticket-handler-FER td:first-child::before {
    @include icon('\f135');
}

/*
    Sidepanels
*/
.organiser-panel {
    small:last-child {
        display: block;
        padding: 0 1rem 1rem;
    }
}

/*
    Organiser contact
*/
.organiser {
    a {
        font-size: 1rem !important;
    }

    ul {
        list-style: none;
        margin: 0;
    }
}


/*
    Factoids
*/
.factoids {

    > div {
        margin-left: 1.5rem;
        position: relative;

        &::before {
            display: inline-block;
            left: -1.5rem;
            position: absolute;
            text-align: center;
            width: 1rem;
        }
    }

    ul {
        font-size: .875rem;
        list-style-type: none;
        margin: -.25rem 0 0;
    }

    .text-links {
        margin-top: .5rem;
    }

    .dates::before {
        @include icon('\f133');
    }

    .full::before {
        @include icon-bold('\f00d');
    }

    .available-spots::before {
        @include icon-bold('\f00c');
    }

    .location::before {
        @include icon-bold('\f3c5');
    }

    .overlap-check::before {
        @include icon('\f017');
    }

    .bring-cash::before {
        @include icon('\f0a2');
    }

    .note p,
    .location span {
        white-space: pre-line;
    }
}

@media print {
    .factoids > div {
        margin-left: 2.5rem;
    }
}

/*
    Call to Action
*/

.call-to-action {
    background-color: transparentize($primary-color, .95);
    border: 1px solid transparentize($primary-color, .90);
    border-radius: 2px;
    min-height: 5rem;
    padding: 1rem 1.25rem 1rem 1.5rem;

    span {
        font-size: 1rem;
    }

    .button {
        float: right;
        margin: 0;
        width: 25%;

        @media #{$medium-only} {
            width: 30%;
        }

        @media #{$small-only} {
            float: none;
            margin-top: 1rem;
            width: 100%;
        }
    }
}

/*
    Hide certain things from non-managers
*/
.role-member {

    // file upload manager
    .redactor-toolbar .re-file {
        display: none;
    }

    .userprofile-settings {
        .field-bank_account,
        .field-bank_beneficiary,
        .field-email,  // separate public e-mail address
        .field-organisation,
        .field-website {
            display: none;
        }
    }
}

/*
    Periods view
*/
.periods {
    width: 100%;

    td {
        color: $charcoal;
        vertical-align: top;
    }

    .period-dates {
        font-size: .875rem;
        margin-bottom: -.5rem;

        dt {
            font-weight: normal;
        }

        dd.finished::before {
            @include icon('\f14a');
            margin-right: .5ex;
        }

        dd:not(.finished)::before {
            @include icon('\f0c8');
            margin-right: .5ex;
        }
    }

    thead tr {
        background: $gainsboro !important;
    }

    tr {
        background: $white !important;
        border-top: 1px solid $gainsboro;
    }

    .archived {
        background: $white-smoke !important;

        td {
            color: $aluminum;
        }
    }

    .active {
        td {
            color: $jet;

            &:first-child {
                border-left: 10px solid $primary-color;
            }
        }

        .period-dates dt {
            font-weight: bold;
        }
    }
}

.field-finalizable > div {
    margin-top: -.5rem !important;
}

/*
    Enrollment
*/
.enroll-form {
    h2 {
        font-size: $h2-font-size - $h2-font-reduction;
        margin: .5rem 0 1rem;
    }

    h3 {
        border-bottom: 1px solid transparentize($primary-color, .85);
        margin-bottom: .75rem;
        padding-bottom: .5rem;
    }

    .occasions {
        border-bottom: 1px solid transparentize($primary-color, .85);
        margin-bottom: 1rem;
        padding-bottom: 0;
    }
}

/*
    My bookings
*/
$booking-left-margin: 1.6rem;

.my-bookings {
    $dark-foreground: scale-color($primary-color, $lightness: -62.5%, $saturation: -12.5%);
    $dark-background: scale-color($primary-color, $lightness: 75%, $saturation: -15%);
    $light-background: scale-color($primary-color, $lightness: 90%);
    $shadow-color: scale-color($primary-color, $saturation: -70%, $lightness: 10%);

    .attendee-bookings {
        box-shadow: 0 0 1px $shadow-color;
        margin-bottom: 2rem;

        .no-wishlist {
            div {
                margin-left: 0 !important;
            }
        }

        .alert-box {
            margin-bottom: 0;
        }

        .rega-widget {
            border: 0;
            border-radius: 0 !important;
            display: flex;
            width: 100% !important;

            .left {
                display: flex;
                flex-direction: column;
                padding-right: .5rem;

                .title {
                    margin-bottom: .5rem;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 4px;

                img {
                    height: auto;
                    max-width: 110px;
                    width: auto;

                    @media #{$small-only} {
                        max-width: 95px;
                    }
                }
            }
        }

        h3 {
            font-weight: 500;
            margin: 0;
        }

        .panel {
            font-size: .875rem;
            padding: 1rem;
            width: calc(100% - 1rem);
        }

        .booking {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            .star {
                flex: 0 0 #{$booking-left-margin};
            }

            .title {
                flex: 0 0 calc(100% - #{$booking-left-margin});
            }

            .occasion {
                flex: 0 0 100%;
                margin-left: calc(#{$booking-left-margin} + 1px);
            }

            .operability-warning {
                flex: 0 0 100%;
                margin-bottom: .5rem;
                margin-left: calc(#{$booking-left-margin} - .4rem);
            }
        }

        .booking-limit {
            font-size: .875rem;
            line-height: .875rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: .5rem;
            }
        }

        .bookings-by-state {
            padding-top: 2rem;

            > ul {
                margin-bottom: 0;
                padding: .5rem 0 .25rem;
            }
        }

        .total-costs {
            border: 1px solid $gainsboro;
            border-left: 0;
            border-right: 0;
            margin-bottom: 1.5rem;
            margin-top: 0;
            padding: .75rem 1.2rem;

            .cell:last-child {
                text-align: right;
            }
        }

        .total {
            font-weight: bold;
        }

        .cost {
            font-family: $font-family-monospace;
            font-size: .875rem;
            position: absolute;
            right: 0;
            top: .5rem;
        }

        .fa-star-o,
        .fa-star {
            font-size: 1.1rem;
            padding: 2px 0;
        }

    }

    .title-section {
        align-items: center;
        background: $gainsboro;
        display: flex;
        padding: .5rem 1.5rem !important;

        .attendee-title {
            flex-grow: 1;
        }

        .icons {
            display: block;
            font-size: .9em;

            a:hover::before {
                background-color: $white;
            }

            a::before {
                background-color: $white-smoke;
                border-radius: 50px;
                display: inline-block;
                height: 2rem;
                line-height: 2rem;
                margin: 0;
                padding-left: 2px;
                text-align: center;
                transition: background linear .2s;
                width: 2rem;
            }
        }
    }

    .state-title {
        align-items: center;
        background: $white;
        border-bottom: 1px solid $iron;
        cursor: pointer;
        display: flex;
        font-size: 1.3rem;
        margin-bottom: .5rem;
        margin-top: 0;
        padding-bottom: .2rem;

        h4 {
            flex-grow: 1;
        }

        .fa-chevron-down {
            border-radius: 5rem;
            padding: .5rem;
        }

        &:hover .fa-chevron-down {
            background: $smoke;
        }
    }

    @mixin state-title-block($color) {
        $bleached: scale-color($color, $lightness: 70%, $saturation: -60%);

        .state-title::after {
            color: $bleached;
        }

        .state-title:hover::after {
            color: $color;
        }
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: .25rem;
        max-width: 80%;
    }

    .occasion {
        font-size: .875rem;
        margin-bottom: .1rem;


        > ul {
            margin-bottom: 0;

            li {
                font-size: .875rem;
                margin-bottom: 0;
            }
        }
    }

    .operability-warning span {
        font-size: .8rem;
        padding-top: .15rem;

        &::before {
            @include icon-bold('\f06a');
            color: $orange-dark;
            margin: 0 1ex;
        }
    }

    .state {
        background-color: $aluminum;
        border-radius: 5px;
        color: $white;
        display: inline-block;
        font-size: .8rem;
        margin-bottom: .5rem;
        padding: 0 6px;

        &.cancelled {
            background-color: $red;
        }

        &.denied {
            background-color: $alert-color;
        }

        &.accepted {
            background-color: $success-color;
        }
    }

    .actions {
        display: flex;
        margin-left: calc(#{$booking-left-margin} + 1px);
        padding-bottom: 1rem;

        .invite-link[data-group]::after {
            @include group-code;
            content: attr(data-group);
            font-size: .8rem;
            font-weight: normal;
            margin-left: 1ex;
        }

        .cancel-link::before {
            @include icon('\f256');
        }

        .delete-link::before {
            @include icon-bold('\f00d');
        }

        .invite-link::before {
            @include icon('\f004');
            margin-right: .2rem;
        }


        a {
            display: block;
            font-size: .875rem;
            margin-bottom: 0;
            margin-right: 1.5rem;

            &::before {
                display: block;
                margin-right: .25ex;
                width: 2ex !important;
            }
        }
    }

    .all-action-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

/*
    My Bookings Print View
*/
@media print {
    .banner-buchungen {
        display: none;
    }

    .my-bookings {
        .panel {
            display: none;
        }

        h2 {
            margin-bottom: 1em;
        }

        .attendee-bookings {
            border-bottom: 1px solid $gainsboro;
            box-shadow: none;
            margin-bottom: 2em;

            * {
                box-shadow: none !important;
            }

            h3 {
                font-size: 1.4em;
                line-height: 1.4em;
                padding: 1em 1em 0;
            }

            h4 {
                font-size: 1.1em;
                line-height: 1.1em;
                margin-top: -.5rem;
            }

            .booking-limit {
                display: none;
            }

            > ul > li {
                margin-left: 1em;

                // hide the favorite icon
                > div > div:first-child {
                    display: none;
                }
            }

            h5 {
                font-size: .9em;
            }

            .occasion > ul li {
                font-size: .8em;
            }

            .total-costs {
                display: none;
            }

            .cost {
                display: none;
            }

            .state {
                background-color: $white !important;
                border: 1px solid $gainsboro !important;
                color: $body-font-color !important;
            }
        }

        .filter-panel {
            display: none;
        }
    }
}

.filter-panel dt {
    margin-bottom: 0;
}

.legend-panel {
    .legend {
        margin-left: 1.6em;
    }
}

/*
    Form panel on the right
*/
.form-panel {

    form {

        #confirm {
            margin-bottom: .5rem;
        }

        legend {
            background: transparent;
            margin: 0 0 .5rem;
            padding: 0;
            text-align: left;
        }

        input[type="submit"] {
            margin-bottom: 0;
        }

        fieldset {
            border: 0;
            margin: .5rem 0 .75rem;

            &:nth-child(2) {
                margin-top: 0;
            }
        }

        .field-confirm .label-text {
            display: inline-block;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        .field-sure label {
            margin: 0 0 .5rem;
        }

        + a {
            padding-top: 1rem;
        }
    }

    a {
        font-size: .875rem;
    }

    p {
        font-size: .875rem;
        margin: 0;
    }
}

/*
    Matching view
*/
.matched-occasion {
    margin-bottom: 3rem;

    h3 {
        border-top: 1px solid $gainsboro;
        color: $oil;
        padding-top: 1rem;
    }

    h4 {
        margin-top: 1rem;
    }

    table {
        width: 100%;

        td:nth-child(1),
        th:nth-child(1) {
            width: 2.5%;
        }

        td:nth-child(2),
        th:nth-child(2) {
            width: auto;
        }

        td:nth-child(3),
        th:nth-child(3) {
            width: 2%;
        }

        td:nth-child(4),
        th:nth-child(4) {
            width: 19.5%;
        }

        td:nth-child(5),
        th:nth-child(5) {
            width: 18.5%;
        }

        td:nth-child(6),
        th:nth-child(6) {
            width: 12%;
        }

        td:nth-child(7),
        th:nth-child(7) {
            width: 2.5%;
        }

        td {
            position: relative;

            span {
                display: inline-block;
                left: 10px;
                overflow: hidden;
                position: absolute;
                right: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        td::before {
            content: '&nbsp;';
            visibility: hidden;
        }

        td:first-child {
            padding-left: .5rem !important;
            padding-right: 0;
            text-align: center;
            width: 5px;

            a {
                color: $body-font-color;
            }

            &::before {
                content: '';
                display: none;
            }
        }

        td:last-child {
            padding-right: .5rem !important;

            &::before {
                content: '';
                display: none;
            }
        }

        ul li {
            font-size: .875rem;
        }
    }

    .subtitle {
        display: block;
        margin: 0 0 1rem;
    }

    .booking-accepted {
        background-color: $green-pastel !important;

        + .booking-other td {
            box-shadow: 0 -2px 0 $green;
        }
    }

    .booking-none td {
        font-style: italic;
        padding-left: 2.75rem;
        text-align: left !important;

        span {
            position: relative;
        }
    }

    .matching-details {
        display: inline-block;
        width: 100%;

        > a {
            align-items: center;
            color: $oil;
            display: flex;
            margin-bottom: .5rem;
        }

        > button:not(.ic-use-transition) {
            animation: oscillate-opacity 1s infinite;
        }
    }
}


/*
    Progress bar
*/
.progress {
    background-color: $white-smoke;
    border: 0;
    border-radius: .7rem;
    display: inline-block;
    height: 2.5rem;
    margin-right: .2rem;
    padding: 0;
    position: relative;
    width: calc(100% - 2.5rem);

    &.cancelled {
        background: repeating-linear-gradient(
            45deg,
            $red-pastel,
            $red-pastel 15px,
            $gray-pastel 15px,
            $gray-pastel 30px
        );

        .meter {
            background-color: $red-light;
        }

        .meter-text::before {
            @include icon-bold('\f058');
            color: $red;
            margin-right: 1ex;
        }

        .meter-text-inner {
            color: $red-dark;
        }
    }

    .meter {
        border-radius: .7rem;
        height: 100%;
        width: 100%;
    }

    &.success .meter {
        background-color: $green-pastel;
    }

    &.alert .meter {
        background-color: $red-pastel;
    }


    &.success .meter-text::before {
        @include icon-bold('\f058');
        color: $green;
        margin-right: 1ex;
    }

    &.alert .meter-text::before {
        @include icon-bold('\f06a');
        color: $red;
        margin-right: 1ex;
    }
}

.meter-text {
    font-size: .9rem;
    left: 0;
    line-height: .9rem;
    padding: .75rem;
    position: absolute;
    top: 0;
}

/*
    Circular actions button
*/
.actions-button {
    background-color: $aluminum !important;
    float: right;
    font-size: 12px;
    height: 24px;
    line-height: 12px;
    margin: 0 !important;
    padding: 5px !important;
    width: 24px;

    &:hover {
        background-color: $monsoon !important;
        color: $aluminum;
        margin: 0 !important;
        padding: 5px !important;
    }

    + .f-dropdown {
        min-width: 200px;

        li a {
            font-size: .8rem;
            font-weight: normal;
        }
    }

    .fa,
    .fas {
        margin-left: .08rem !important;
    }
}

/*
    Item list
*/

.item-wrapper {
    color: $body-font-color;
    margin-bottom: 1rem;
    padding: 0;
    position: relative;

    @mixin payment-state-color($pastel, $light, $dark) {
        .item-header-bar {
            background-color: $pastel;
            border: 1px solid $pastel;
        }

        > .amount,
        > .payment-status {
            color: $dark;
        }

        .details-button {
            background-color: $light;
            color: $white;

            &:has(.down),
            &:hover {
                background-color: $dark;
            }
        }

        .total td {
            border-top: 1px solid $black;
            color: $dark;
            font-weight: bold;
            text-decoration: none;

        }
    }

    &.item-green {
        @include payment-state-color($green-pastel, $green-light, $green-dark);
    }

    &.item-red {
        @include payment-state-color($red-pastel, $red-light, $red-dark);
    }

    &.item-yellow {
        @include payment-state-color($yellow-pastel, $yellow-light, $yellow-dark);
    }

    > .outstanding {
        line-height: 1.5rem;
        margin: .5rem calc(48px + .5rem) .5rem 0;

        .button {
            margin-left: 1rem;
        }
    }

    .item-header {
        align-items: center;
        display: flex;
        margin-bottom: .5rem;

        > button {
            height: 40px;
            margin: 0;
            padding: .25rem;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
        }
    }

    a {
        line-height: 1;
    }

    .item-header-bar {
        align-items: center;
        border-radius: .7rem;
        display: flex;
        flex-grow: 1;
        margin-right: .2rem;

        h3 {
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1rem;
            margin-bottom: 0;
            padding: .75rem;
        }

        span {
            flex-grow: 1;
        }

        button {
            margin-right: .5rem !important;
        }
    }

    .details-button {
        border-radius: .7rem;
        padding: .75rem;

        .fa-chevron-down {
            color: $white;
        }

    }

    li {
        &.item-group {
            margin-top: 1rem;
        }

        .item-organizer {
            font-style: italic;
        }

        &.item-red,
        &.item-green {
            border-top: 1px solid $smoke;
            font-size: .9rem;
        }

        &.item-group + .item-red,
        &.item-group + .item-green {
            border-top: 1px solid $iron;
        }

        &.item-red .text-amount {
            .item-amount,
            .item-payment-status {
                color: $red-dark;
            }
        }

        &.item-green .text-amount {
            .item-amount,
            .item-payment-status {
                color: $green-dark;
            }
        }

        &.amount-total {
            border-top: 0;
            font-weight: bold;

            .item-red {
                .item-amount,
                .item-payment-status {
                    color: $red-dark;
                }
            }

            .item-green {
                .item-amount,
                .item-payment-status {
                    color: $green-dark;
                }
            }
        }

        &.invoice-total {
            border-top: 1px solid $oil;
            margin-top: 3rem;
        }
    }

    .item-total > * {
        display: flex;
    }

    table {
        margin: 1px 0 0;
        position: relative;
        width: 100%;

        tr {
            background: transparent !important;

            &.group + .invoice-item {
                border-top: 1px solid $iron;
            }

            &.invoice-item {
                border-top: 1px solid $smoke;
            }

            td:first-child {
                padding-left: 0;
            }

            td:last-child {
                padding-right: 0;
            }
        }

        td {
            border: 0;
            padding-bottom: .4rem;
            padding-top: .25rem;
        }

        .group td {
            padding-bottom: .25rem;
            padding-top: 1rem;
        }

        .payment-status,
        .amount,
        .actions {
            padding-left: 0;
            padding-right: 0;
        }

        .total .amount {
            padding-top: .75rem;
        }

        .actions,
        .amount {
            padding-right: .5rem;
        }

        .payment-status {
            padding-right: 1.5rem;
        }

        tr:has(+ tr.total) td {
            padding-bottom: 2rem;
        }

        .total td:last-child {
            padding-right: .75rem;
        }

        .amount {
            font-family: $font-family-monospace;
            padding-top: .5rem;
            text-align: right;
        }

        .total td,
        .group td:first-child {
            font-size: 1rem;
            font-weight: bold;
        }

        .item-red {
            .payment-status {
                color: $red-dark;
                text-align: left;
            }

            .amount {
                color: $red-dark;
            }
        }

        .item-green {
            .payment-status {
                color: $green-dark;
                text-align: left;
            }

            .amount {
                color: $green-dark;
            }
        }
    }

}

/*
    Billing View
*/
#page-billing .is-submenu-item {
    max-width: $max-line-width;

    a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.billing {
    max-width: $max-line-width;
}

.bill {

    .bill-details {
        border: 1px solid $iron;
        border-radius: .7rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .mark-paid::before {
        @include icon('\f058');
        margin-right: 1.25ex;
    }

    .mark-unpaid::before {
        @include icon-bold('\f071');
        margin-right: 1.25ex;
    }

    .show-online-payments::before {
        @include icon('\f283');
        margin-right: 1.25ex;
    }

    .remove-manual::before {
        @include icon-bold('\f1f8');
        margin-right: 1.25ex;
    }

    .remove-manual.extend-to-family::before {
        @include icon('\f1f8');
        margin-right: 1.25ex;
    }

    .show-invoice::before {
        @include icon-bold('\f002');
        margin-right: 1.25ex;
    }

    .new-booking::before {
        @include icon-bold('\f1ec');
        margin-right: 1.25ex;
    }

    .paid-date::before {
        @include icon('\f274');
        margin-right: 1.25ex;
    }


    .print-area {
        display: block;
        margin-bottom: -.5rem;
        margin-right: -1.75rem;
        margin-top: 1rem;
        text-align: center;
    }

    .print {
        background: $gray-pastel;
        display: inline-block;
        font-size: .875rem;
        margin: 0 0 .5rem;
        padding: .5rem 1rem;

        &:hover {
            background: $gray-light;
        }
    }
}

/*
    Invoice printing
*/
@media print {
    #page-my-bills {
        .main-title {
            display: none;
        }
    }

    .bills-header {
        display: flex;
        margin-bottom: 1rem;
        padding-left: 1rem;

        .bill-creditor {
            padding-left: .6rem;
            width: 50%;

            ::first-line {
                font-weight: bold;
            }

            h2 {
                display: none;
            }
        }

        .bill-debtor {
            font-size: 1rem;

            span:first-child {
                font-weight: bold;
            }
        }
    }

    .bill.unpaid {
        background: transparent;
        border: 0;

        * {
            background: transparent;
            color: $black;
        }

        h3 {
            margin-left: 1.5rem;
        }

        .invoice-items-list {
            border: 1px solid $iron;
            border-radius: .7rem;
        }

        .invoice-items-payment {
            padding-left: 0;
        }
    }

    .outstanding {
        font-size: 1rem;
        margin-right: 2rem !important;
    }
}

/*
    Invoices View
*/

.invoice-items-list {
    background: $white;
    border: 1px solid $iron;
    border-radius: .7rem;
    margin-bottom: 2rem;
    padding: 2rem;
    position: relative;
    top: 1px;

    ul {
        color: $body-font-color;
        list-style: none;
        margin: 0;

        .text-amount {
            align-items: end;
            display: flex;
            flex-wrap: wrap;

            span:not(.item-text) {
                margin-left: .5rem;

            }
        }

        .item-organizer {
            display: block;
            line-height: .9rem;
            padding-bottom: .5rem;
        }
    }

    .item-text {
        flex-basis: 0;
        flex-grow: 1;
        -ms-flex-positive: 1;
        -ms-flex-preferred-size: 0;
    }


    .item-group:first-child {
        margin-top: 0;
    }

    .item-amount {
        display: relative;
        float: right;
        font-family: $font-family-monospace;
        margin-left: .5rem;
    }

    li.paid {
        .item-amount::after {
            @include icon('\f05d');
            color: $green-dark;
            font-weight: normal;
            position: absolute;
            right: 33px;
        }

        &.datatrans,
        &.stripe_connect,
        &.worldline_saferpay {
            .item-amount::after {
                content: '\f09d';
                font-size: .875rem;
            }
        }
    }

    li.unpaid .text-amount > span:not(.item-text) {
        color: $red-dark;
    }

    .item-created {
        @include label($bg: $gray-light);
        border-radius: 3px;
        color: $charcoal;
        font-size: .8rem;
        margin-left: -.5rem;
        padding: 5px 8px;
    }
}

.invoice-items-list:has( + .invoice-items-payment) {
    border-radius: .7rem .7rem 0 0;
    margin-bottom: 0;
}

.invoice-items-payment {
    background-color: lighten($red-pastel, 8%);
    border: 1px solid $iron;
    border-radius: 0 0 .7rem .7rem;
    margin-bottom: 2rem;
    padding: 1rem;

    h4 {
        font-size: 1rem;
        font-weight: bold;
    }


    .bank-transfer {
        font-size: .9rem;

        .medium-4 {
            font-weight: bold;
        }
    }

    .qr-bill {
        margin-top: 1rem;
        width: 100%;
    }
}

/*
    Occassion-Attendee View
*/

.occasion-dates ul {
    font-size: 1em;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}

.occasion-attendance {

    margin-bottom: 1.5rem;

    .attendance-header {
        padding-bottom: .5rem;
        page-break-after: avoid;
        page-break-inside: avoid;

        .organisation {
            border: 1px solid $monsoon;
            border-radius: 2px;
            max-width: 30%;
            padding: 1rem 1rem 0;
            position: absolute;
            right: 0;
        }

        h2 {
            font-size: 2rem;
        }

        .print-icon {
            font-size: 1rem;
        }

        div {
            font-size: .9em;  // em for correct scaling in print
        }
    }

    .occurence-info {
        margin-bottom: 1rem;
    }

    .attendees {
        font-size: .9em;  // em for correct scaling in print

        @media #{$large-up} {
            column-count: 2;
        }

        li {
            margin-bottom: .5rem;
            page-break-inside: avoid;
        }

        strong.male::after {
            @include icon-bold('\f222');
            margin-left: 1ex;
        }

        strong.female::after {
            @include icon-bold('\f221');
            margin-left: 1ex;
        }
    }
}

@media print {
    .print {
        display: none !important;
    }

    h2 {
        border-bottom: 0;
    }
}

/*
    Emergency contact
*/

.emergency-contact {

    border-color: scale-color($callout-panel-bg, $lightness: -11%);

    margin-bottom: 1.5rem;
    max-width: rem-calc(1050) / 12 * 8 - rem-calc(30);

    div {
        margin-bottom: .5rem;
    }
}

.emergency-contact-missing {
    background: $red-pastel;
    border-color: $red-light;

    div:first-child {
        font-weight: bold;
    }
}

/*
    Notifications view
*/
.notifications li {
    border-top: 1px solid $smoke;
    margin-bottom: 1rem;
    padding-top: .5rem;

    .text-links {
        display: flex;
        margin-top: .5rem;

        a {
            padding-right: .3rem;

            &:last-child {
                margin-left: auto;

                &::before {
                    content: "";
                    margin-right: .5rem;
                }
            }
        }
    }

    &::before {
        @include icon-bold('\f0e0');
        display: inline-block;
        font-size: 1.1rem;
        margin-right: .5rem;
        width: 1rem;
    }

    h2 {
        display: inline-block;
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    div {
        font-size: .9rem;
        margin-left: 1.75rem;
    }
}

/*
    Notifications form
*/
.variables-panel {
    h2 {
        font-size: $h3-font-size - $h3-font-reduction;
    }

    h3 {
        display: inline-block;
        font-family: $font-family-monospace;
        font-size: .875rem;
        font-weight: bold;
        margin-bottom: .25rem;
    }

    li + li {
        margin-top: .75rem;
    }

    span {
        display: block;
        font-size: .875rem;
    }
}

/*
    Notification Mailing
*/
.notifications-sidebar .filter-panel.side-panel {
    padding-left: 0;
}

.notification-preview {
    background: $white-smoke;
    margin-bottom: 1rem;
    padding: .75rem 1rem;
    position: relative;

    h3 {
        border-bottom: 1px solid $jet;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: .75rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    a.control {
        bottom: 1rem;
        display: inline-block;
        font-weight: bold;
        position: absolute;
        right: 1rem;
    }
}

/*
    Transactions
*/
.transactions {
    list-style: none;
    margin: 0 0 1.5rem;

    li + li {
        margin-top: 1.5rem;
    }
}

.transaction-header {
    border-bottom: 2px solid $gray-dark;
    display: block;
    font-weight: bold;
    padding-bottom: .5rem;

    > div:first-child {

        &::before {
            font-weight: normal;
            left: .25rem;
            line-height: 1.7rem;
        }
    }

    > div:last-child {
        text-align: right;
    }
}

.transaction-success {
    .transaction-header {
        border-color: $green;

        > div:first-child::before {
            @include icon('\f058');
            color: $green;
        }
    }
}

.transaction-warning {
    .transaction-header {
        border-color: $orange;

        > div:first-child::before {
            @include icon('\f071');
            color: $orange;
        }
    }
}

.transaction-paid {
    .transaction-header {
        border-color: $gray-dark;

        > div:first-child::before {
            @include icon('\f05d');
            color: $gray-dark;
        }
    }
}

.transaction-duplicate {
    .transaction-header {
        border-color: $blue;

        > div:first-child::before {
            @include icon('\f24d');
            color: $blue;
        }
    }
}

.transaction-unknown {
    .transaction-header {
        border-color: $red;

        > div:first-child::before {
            @include icon('\f059');
            color: $red;
        }

        > div:last-child {
            color: $gray-dark;
        }
    }
}

.transaction-details {
    background-color: $gray-pastel;
    border: 1px solid $gray;
    border-top: 0;
    padding: 1rem 1.5rem 1.25rem;

    dl {
        font-size: .8rem;
        margin-bottom: 0;
    }

    dt {
        margin-bottom: 0;
    }

    dd:last-child {
        margin-bottom: 0;
    }
}

.green {
    color: $green;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.gray-dark {
    color: $gray-dark;
}

.blue {
    color: $blue;
}

/*
    Sponsoring
*/
.sponsor {
    border: 2px solid $smoke;
    border-radius: .7rem;
    line-height: 100px;
    padding: 5px;
    text-align: center;

    img {
        position: relative;
        vertical-align: middle;
    }
}


@media #{$small-only} {
    .sponsor {
        margin-bottom: 1rem;
    }
}

/*
    Sponsoring banners
*/

.sponsor-banner {
    /*
        aspect ratio 16:5 (100/16*5 =31.25)
        see https://stackoverflow.com/q/1495407
    */
    position: relative;

    img {
        border-radius: .7rem;
    }

    a {
        color: $body-font-color;
        display: block;
        text-decoration: none;
        z-index: 2;

        .fa-external-link-alt {
            display: none;
        }
    }

    p.banner-info {
        font-style: italic;
        margin: .25rem 0;
    }

    div {
        display: flex;

        img {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.banner-buchungen,
.banner-rechnungen,
.banner-activities p.banner-info {
    margin-bottom: 2rem;
}


/*
    Period messages
*/
.message-period {
    background: $blue-pastel;
}

.message-activity {
    background: $green-pastel;
}

/*
    Payment button
*/
.payment-button {
    button.checkout-button {
        background: $white;
        border: 1px solid $oil;
        border-radius: 2px;
        color: $body-font-color;
        outline: none;

        &:hover {
            background: $white;
            box-shadow: 1px 1px 2px $base;
            outline: none;
        }

        &::before {
            @include icon('\f09d');
            margin-right: 1ex;
        }
    }
}

/*
    Attendee Details in Bookings View
*/
.attendees-toggle {
    border: 1px solid;
    border-radius: 5rem;
    color: $primary-color;
    font-size: .875rem;
    height: fit-content;
    padding: .2rem .5rem;
    transition: all linear .2s;

    &:hover,
    &:has(i.down) {
        background: $primary-color;
        color: $white;
    }
}

.attendees-table {
    $column-width: grid-calc(1, 12);
    font-size: .8rem;
    margin-left: $booking-left-margin;
    padding: .75rem 0 1rem;
    width: calc(100% - #{$booking-left-margin});

    table {
        margin: 0;
        width: 100%;

        tbody {
            td:first-child {
                width: 40%;
            }

            td:last-child .fa {
                margin-right: 1ex;
            }
        }
    }
}


/*
    Occasions
*/
.occasions {

    list-style: none;
    margin: 0;
    position: relative;

    .state > div {
        background-color: $blue-pastel;
        border-radius: .7rem;
        color: $blue-dark;
        margin-bottom: .5rem;
        padding: 2px 9px;

        &::before {
            @include icon-bold('\f05a');
            margin-right: .5ex;
        }

        &.cancelled {
            background-color: $red-pastel;
            color: $red-dark;

            &::before {
                content: '\f00d';
            }
        }

        &.available-spots {
            background-color: $green-pastel;
            color: $green-dark;

            &::before {
                content: '\f00c';
            }
        }
    }

    .occasion-title {
        align-items: end;
        display: flex;
        justify-content: space-between;
    }

    h2,
    h3,
    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 0 .5rem;
    }

    > * {
        div {
            font-size: .875rem;
        }
    }

    .factoids a {
        display: inline-block;
        font-size: .875rem;
        margin-right: 1rem;
    }

    > li {
        margin-bottom: 2rem;
    }

    .call-to-action {
        margin-bottom: 1.5rem;
    }

    .occasion.occasion-card {
        .card-section {
            padding-bottom: 0 !important;

            p,
            ul {
                margin-bottom: .5rem;
            }

            &.info {
                display: flex;
                flex-wrap: wrap;

                .factoids:first-child {
                    flex-grow: 10;
                }
            }

            p:last-child {
                margin-bottom: 0;
            }

            &:last-child {
                padding-bottom: 1.5rem !important;

                &.enroll {
                    text-align: right;
                }
            }
        }
    }

}

.field-attendee {
    margin-bottom: 1rem !important;
}


.occasions-by-period {
    margin-bottom: .5rem;

    .accordion-title {
        font-size: 1rem;
        line-height: 1.5;
        padding-right: 2.5rem;
    }

    .panel.period-hint-panel {
        margin-bottom: 0;
    }
}

.occasion-needs {
    $gray: $silver;
    $grayer: $gainsboro;
    $grayest: $steel;

    margin: 1.25rem 0 1.75rem;
    position: relative;

    .need-info {
        background: $smoke;
        border-radius: .7rem;
        padding: 1rem;

        span {
            font-style: italic;
        }

        .fa {
            margin-left: .1rem;
            margin-right: .4rem;
        }
    }

    .need-add {
        color: $grayest;
        display: block;
        font-style: normal;
        font-weight: bold;
        margin-top: .75rem;
        padding-bottom: .75rem;
        padding-right: 1.25rem;
        position: absolute;
        right: 0;
        text-align: right;
        top: -.75rem;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    > ul {
        margin: 0;

        li {
            background: $smoke;
            border-radius: .7rem;
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0 0;
            padding: 1rem;
        }
    }

    .need-number {
        background: $monsoon;
        border-radius: .7rem;
        color: $white;
        flex: 1 0 8ex;
        height: fit-content;
        text-align: center;
    }

    .need-name {
        flex: 1 0 calc(70% - 10ex);
        font-weight: bold;
        margin-left: 2ex;
    }

    .need-description {
        flex: 1 0;
        margin-left: 10ex;

        p,
        p * {
            font-style: normal;
            margin-bottom: 0 !important;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    a {
        margin-left: 1rem;
        margin-right: 0;

    }

    .need-actions {
        flex: 1 0 30%;
        margin-bottom: .5rem;
        text-align: right;
    }

    @media #{$small-only} {
        .need-name {
            flex: 1 0 calc(100% - 10ex);
        }

        .need-actions {
            flex: 1 0 100%;
            margin-top: .5rem;
            text-align: left;

            a::before {
                content: '';
            }
        }

        .need-description {
            margin-left: 0;
            margin-top: .5rem;
        }
    }
}



/*
    Group invites
*/
.occasion-panel {
    border: 1px solid $gray;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: .5rem 0 1rem 1rem;

    .call-to-action {
        margin-bottom: 0;

        .button {
            padding: 1rem;
        }
    }

}

.with-icon {
    display: flex;

    > div:first-child {
        width: 25px;
    }
}

.with-small-margin {
    margin-bottom: 1rem;
}

.with-margin {
    margin-bottom: 1.5rem;
}

.children-group {
    margin-top: 2rem;

    .more-list {
        margin-bottom: 1rem;

        li {
            border-top: 1px solid $white-smoke;
            display: flex;
            justify-content: space-between;
            padding: .5rem;

            a {
                white-space: nowrap;
            }

            &.add-own-child {
                text-align: center;
            }
        }
    }
}

.group-membership {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @media #{$small-only} {
        display: block;

        > div {
            margin-bottom: 1rem;
            width: 100% !important;
        }
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            font-size: .875rem;

            + li {
                margin-top: .5rem;
            }
        }
    }

    .group-disabled-action {
        font-weight: bold;
    }

    > div {
        background: $white-smoke;
        border: 4px solid $white-smoke;
        padding: .5rem 1rem 1rem;
        width: calc(50% - .5rem);

        p {
            font-size: .875rem;
        }

        &:first-child {
            background: $green-pastel;
            border: 4px solid $green-light;

            .group-action {
                &::after {
                    @include icon('\f18e');
                }
            }
        }

        &:last-child {
            &.has-prospects {
                background: $red-pastel;
                border: 4px solid $red-light;
            }

            .group-action {
                font-weight: bold;

                &::before {
                    @include icon('\f190');
                }
            }
        }
    }

    h3 {
        color: $charcoal;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

/*
    Hide advanced occasion toggles from non-admins, show warning for admins
*/
.occasion-form-layout {
    #fieldset-advanced {
        display: none;

        .label-text::after {
            @include icon-bold('\f071');
            margin-left: 1ex;
        }
    }

    &.role-admin #fieldset-advanced {
        display: block;
    }
}


/*
    Show more / click to load
*/
.show-more {
    text-align: center;

    .click-to-load {
        @include button;
        border-radius: 2px;
        display: inline-block;
        margin: 0 auto 1rem;
    }

    .navigate-up {
        display: block;
        font-size: .875rem;
        margin-bottom: 1rem;
    }
}


/*
    Donation button
*/
.donate {
    text-align: right;
}

.donation-button {
    font-size: 1rem;
    font-weight: bold;

    span::after {
        @include icon('\f004');
        margin-left: .75ex;
    }

    &:hover span::after {
        content: '\f004';
        font-weight: bold;
    }
}


/*
    SVG Icon
*/
.svg-icon {
    display: inline-block;
}

.svg-icon-small {
    height: 16px;
    width: 16px;
}

.svg-icon-medium {
    height: 32px;
    width: 32px;
}


/*
    Volunteer sign-up
*/
.volunteer-cart-panel {
    h2 {
        border-color: $success-color !important;
    }
}

.call-for-volunteers {
    background: $gray-pastel;
    border: 1px solid  $gray;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 0 .75rem .75rem;

    &:first-of-type {
        margin-top: .75rem;
    }

    h3 {
        font-size: .875rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: .75rem;
    }

    li {
        font-size: .875rem;
        line-height: 1.2;
        margin-left: -3px;
        padding: 3px;
    }


    .dates::before {
        line-height: 1.25;
    }

    .needs {
        li:last-child .button {
            margin-bottom: 0;

            div {
                margin-left: 3.25ex;
            }
        }

        .button {
            background: $success-color;
            display: block;
            font-size: .875rem;
            margin-bottom: .5rem;
            margin-top: .5rem;
            width: fit-content;
        }
    }

    .alert {
        background: $red-pastel;
        border-radius: 3px;
        color: $red-dark;
        font-size: .875rem;
        line-height: 1.3;
        margin-left: -2px;
        margin-top: .25rem;
        padding: 2px 4px;
    }
}

.volunteer-cart {
    .cart-item-activity {
        font-weight: bold;
    }

    .cart-item-dates {
        margin: .5rem 0;

        li {
            font-size: .875rem;
        }
    }

    .volunteer-cart-item {
        margin-bottom: 1rem;
    }

    .cart-item-remove {
        font-size: .875rem;
    }

    .button {
        border-radius: .7rem !important;
        margin: 0 !important;

        &:hover {
            margin: 0 !important;
            padding: 1rem 1.5rem !important;
        }

        &.hover .fa-chevron-down {
            transform: rotate(180deg);
        }
    }
}

.volunteer-form-layout .volunteer-cart .button {
    display: none;
}


/*
    Volunteer view
*/
.volunteer-actions {
    .state-transitions {
        border-top: 1px solid $gray;

        &:nth-last-child(1),
        &:nth-last-child(2) {
            border-top: 0;
        }
    }

    .show-details {
        a::before {
            @include icon-bold('\f05a');
            margin-right: 1.25ex;
        }
    }
}

.volunteers-list {

    .right-aligned {
        float: right;
        font-weight: normal;
    }

    table {
        background: $snow;
        border-radius: 0;
        margin-top: -.5rem;
        width: 100%;

        + h2 {
            margin-top: 1.5rem;
        }

        th:last-child {
            width: 10%;
        }

        tbody tr:nth-last-child(2) {
            td:first-child {
                border-bottom-left-radius: .7rem;
            }

            td:last-child {
                border-bottom-right-radius: .7rem;
            }
        }
    }

    .progress {
        margin-bottom: .5rem;
        width: 100%;

        &:has(+ table) .meter {
            border-radius: .7rem .7rem 0 0;
        }

        + .progress {
            margin-top: -1rem;
        }
    }

    .state-cell {
        font-weight: bold;
    }


    .volunteer-confirmed {
        td {
            background: lighten($green-pastel, 6%);
        }

        .state-cell {
            color: $green-dark;
        }
    }

    .volunteer-contacted {
        background: lighten($blue-pastel, 6%);

        .state-cell {
            color: $blue-dark;
        }
    }

    .volunteer-denied {
        background: lighten($red-pastel, 6%);

        .state-cell {
            color: $red-dark;
        }
    }
}

/*
    Accessibility
*/
.visually-hidden {
    @include element-invisible;
}

/* Occasion List */
.occasion-list {
    .occasion {
        margin-bottom: 2rem;
    }

    div > * {
        display: block;
        max-width: $max-line-width;
    }

    h2.title {
        border-top: 1px solid $smoke;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding-top: .5rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .occasion-title {
        margin-top: 1rem;
    }
}


// Images

.has-img {
    img {
        border-radius: .7rem;
    }

    img:has(+ .alt-text) {
        border-radius: .7rem .7rem 0 0;
    }

    .alt-text {
        border-radius: 0 0 .7rem .7rem;
    }
}

.disabled {
    cursor: not-allowed !important;
    opacity: .5;
}


.vacation-activity-layout .content-panel {
    display: none !important;
}

.subscribe-panel {
    display: none;
}
