$attendence-icon: '\f017';
$commission-icon: '\f500';
$cost-of-living-adjustment-icon: '\f201';
$legislative-period-icon: '\f073';
$parliamentarian-icon: '\f508';
$parliamentary-group-icon: '\f2b5';
$party-icon: '\f0c0';
$rate-set-icon: '\f4c0';
$role-icon: '\f02b';

.globals {
    .attendences::before { @include icon-bold($attendence-icon); }
    .commissions::before { @include icon-bold($commission-icon); }
    .cost-of-living-adjustments::before { @include icon-bold($cost-of-living-adjustment-icon); }
    .legislative-periods::before { @include icon($legislative-period-icon); }
    .parliamentarians::before { @include icon-bold($parliamentarian-icon); }
    .parliamentary-groups::before { @include icon($parliamentary-group-icon); }
    .parties::before { @include icon-bold($party-icon); }
    .rate-sets::before { @include icon-bold($rate-set-icon); }
}

.edit-bar {
    .new-attendence::before { @include icon-bold($attendence-icon); }
    .new-commission::before { @include icon-bold($commission-icon); }
    .new-cost-of-living-adjustment::before { @include icon-bold($cost-of-living-adjustment-icon); }
    .new-legislative-period::before { @include icon($legislative-period-icon); }
    .new-parliamentarian::before { @include icon-bold($parliamentarian-icon); }
    .new-parliamentary-group::before { @include icon($parliamentary-group-icon); }
    .new-party::before { @include icon-bold($party-icon); }
    .new-rate-set::before { @include icon-bold($rate-set-icon); }
    .new-role::before { @include icon-bold($role-icon); }
}

.header-searchbox {

    .input-group {
        position: relative;
    }

    .typeahead {
        z-index: 5000;
        top: 1.2rem;
    }
}

th[rowspan] {
    background-color: $snow;
    vertical-align: top;
}