[bumpversion]
current_version = 0.0.0
commit = True
tag = True
message = Release {new_version}

[bumpversion:file:setup.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:HISTORY.rst]
search = 
    ---------
replace = 
    ---------
    
    {new_version} ({now:%Y-%m-%d})
    ~~~~~~~~~~~~~~~~~~~~~

