/*
    hide the news in the topbar
*/

.top-bar-section li:last-child {
    display: none;
}

/*
    background color of default logo
*/
svg #background {
    fill: lighten($primary-color, 25%);
}

/*
    editbar icons
*/

.edit-bar {
    .new-activity:before { @include icon('\f135'); }
    .request-publication:before { @include icon('\f087'); }
}

/*
    activities list
*/
.activity-list-item {
    margin-bottom: 1.5rem;

    .page-lead {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}

.activity-state {
    @include label(
        $radius:2px
    );

    &.activity-state-preview {
        background-color: $yellow-dark;
    }

    &.activity-state-proposed {
        background-color: $orange-dark;
    }

    &.activity-state-accepted {
        background-color: $primary-color;
    }

    &.activity-state-denied {
        background-color: $red-dark;
    }

    &.activity-state-archived {
        background-color: $gray-dark;
    }
}


/*
    activity view
*/
.activity-status-panel {
    .field-display-label {
        font-weight: normal;
    }

    .activity-state {
        font-size: .875rem;
    }
}
