/*
    hide the news in the topbar
*/

.top-bar-section li:last-child {
    display: none;
}

/*
    background color of default logo
*/
svg #background {
    fill: lighten($primary-color, 25%);
}

/*
    plain panels
*/
.plain-panel {
    background: none;
    padding: 0 10px;
}

/*
    Links in simple text style (side by side)
*/
.text-links a:first-child:before {
    content: '';
}

.text-links a:before {
    color: $body-font-color;
    content: ' | ';
}

/*
    editbar icons
*/

.edit-bar {
    .new-activity:before { @include icon('\f135'); }
    .request-publication:before { @include icon('\f087'); }
    .accept-activity:before { @include icon('\f087'); }
    .reject-activity:before { @include icon('\f088'); }
    .archive-activity:before { @include icon('\f187'); }
    .new-occasion:before { @include icon('\f133'); }
    .manage-periods:before { @include icon('\f02d'); }
    .new-period:before { @include icon('\f055'); }
    .run-matching:before { @include icon('\f0d0'); }
    .reset-matching:before { @include icon('\f12d'); }
    .manage-matches:before { @include icon('\f066'); }
}

/*
    activities list
*/
.activity-list-item {
    margin-bottom: 1.5rem;

    .page-lead {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    ul.tags {
        margin-bottom: .75rem;
    }
}

.activity-list-search {
    @include hairline;
    border-bottom-style: dashed;

    margin: 1rem 0 !important;
    padding-bottom: 1rem;

    h2 {
        font-size: $h3-font-size - $h3-font-reduction;
    }

    ul.tags {
        margin: 0;
    }
}


/*
    Activity view
*/
ul.tags {
    margin: 0 0 2rem;

    li {
        @include label(
            $text-size: .8rem,
            $radius: 15px,
            $bg: $secondary-color,
            $padding: 4px 12px
        );

        &.active {
            @include label(
                $text-size: .8rem,
                $radius: 15px,
                $bg: $primary-color,
                $padding: 4px 12px
            );
        }

        a {
            color: inherit;
        }
    }
}

.activity-status-panel {

    .field-display-label {
        font-weight: normal;
    }

    .activity-state {
        font-size: .875rem;
    }
}

.hints {
    padding: 0 0 1.25rem;

    .hint {
        padding-bottom: .5rem;
    }

    .hint:last-child {
        @include hairline();
    }
}

.hint {
    font-size: .875rem;
    line-height: 1.4rem;

    i.fa {
        position: relative;
        top: -1px;
    }
}

/*
    Ticket view
*/
.ticket-summary {
    .page-content-main,
    .page-content-sidebar {
        @include grid-column(12);
    }
}

.FER-link::before {
    @include icon('\f135');
    display: inline-block;
    margin-right: 1ex;
}

.ticket-handler-FER td:first-child::before {
    @include icon('\f135');
}

/*
    Organiser contact
*/

.activity-organiser-panel > small {
    display: inline-block;
    font-size: .8rem;
    margin-top: .75rem;
}

.organiser {
    ul {
        list-style: none;
        margin: 0;
    }

    .organiser-name {
        font-weight: bold;
    }

    .organiser-address {
        white-space: pre-line;
        word-break: break-all;
    }

    .organiser-email {
        margin-top: .5rem;

        a::before {
            @include icon('\f0e0');
        }
    }

    .organiser-phone a::before {
        @include icon('\f095');
    }

    .organiser-website a::before {
        @include icon('\f0c1');
    }

    .organiser-phone,
    .organiser-email,
    .organiser-website {
        font-size: .875rem;
    }

    .organiser-phone a::before,
    .organiser-email a::before,
    .organiser-website a::before {
        color: $body-font-color;
        display: inline-block;
        margin-right: 1ex;
    }
}

/*
    Occasions
*/
.occasions {
    list-style: none;
    margin: 0;
    position: relative;

    h2,
    h3,
    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 0 .5rem;
    }

    > * {
        p {
            font-size: .875rem;
            font-style: italic;
            max-width: $max-line-width;
            white-space: pre-line;
        }

        div {
            font-size: .875rem;
        }

        a {
            display: inline-block;
            font-size: .875rem;
        }
    }

    .call-to-action {
        margin-bottom: 1.5rem;
    }

    .factoids {
        margin: 0 0 .75rem;

        > div {
            margin-left: 1.25rem;

            &:before {
                display: inline-block;
                left: 1rem;
                position: absolute;
                text-align: center;
                width: .625rem;
            }
        }

        .location:before {
            @include icon('\f041');
        }

        .age:before {
            @include icon('\f1ae');
        }

        .spots:before {
            @include icon('\f105');
        }

        .text-links:before {
            @include icon('\f192');
        }
    }
}

/*
    Call to Action
*/

.call-to-action {
    background-color: transparentize($primary-color, .95);
    border-radius: 2px;
    min-height: 5rem;
    padding: 1rem;

    span {
        font-size: 1rem;
    }

    .button {
        float: right;
        margin: 0;
        width: 25%;

        @media #{$medium-only} {
            width: 30%;
        }

        @media #{$small-only} {
            width: 40%;
        }
    }
}

/*
    Hide certain things from non-managers
*/
.is-not-manager {

    // file upload manager
    .redactor-toolbar .re-file {
        display: none;
    }
}

/*
    Periods view
*/
.periods {
    td {
        color: $charcoal;
    }

    .active {
        td {
            color: $jet;

            &:first-child {
                border-left: 10px solid $primary-color;
            }
        }
    }
}


/*
    Enrollment
*/

.enroll-form {
    h2 {
        font-size: $h2-font-size - $h2-font-reduction;
        margin: .5rem 0;
    }

    .hide-attendee .field-attendee {
        display: none;
    }
}


/*
    My bookings count
*/

// use px in this block as rem is buggy in pseud-elements in IE 11
.count[data-count]:after {
    border-radius: 100px;
    color: $white;
    content: attr(data-count);
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 7px;
    min-width: 23px;
    text-align: center;
}

.count.success[data-count]:after {
    background-color: $success-color;
}

.count.alert[data-count]:after {
    background-color: $alert-color;
}

/*
    My bookings
*/

.my-bookings {
    .panel {
        max-width: 77ex;
    }

    h3 {
        border: 1px solid $primary-color;
        border-width: 0 0 1px;
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: .5rem;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .25rem;
        max-width: 80%;
    }

    .occasion {
        font-size: .875rem;
        margin-bottom: .1rem;
    }

    .state {
        background-color: $aluminum;
        border-radius: 5px;
        color: $white;
        display: inline-block;
        font-size: .8rem;
        padding: 0 6px;
        position: absolute;
        right: 1rem;
        top: .5rem;

        &.cancelled {
            background-color: $red;
        }

        &.blocked {
            background-color: $orange;
        }

        &.denied {
            background-color: $alert-color;
        }

        &.accepted {
            background-color: $success-color;
        }
    }

    .actions {
        ul {
            margin: 0;

            li {
                font-size: .875rem;
                margin: 0;

                &:after {
                    color: $body-font-color;
                    content: ' | ';
                }

                &:first-child:after {
                    content: '';
                }
            }
        }
    }

    .attendee-bookings {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 1rem;
            }
        }

        .fa-star-o,
        .fa-star {
            font-size: 1.5rem;
            padding: 2px 0;
        }

        .fa-star-o {
            color: $base;
        }

        .fa-star {
            color: $yellow;
        }
    }
}


/*
    Matches
*/

.matched-occasion {
    margin-bottom: 1rem;

    h4 {
        margin-top: 1rem;
    }

    table {
        width: 100%;

        td:first-child,
        th:first-child {
            width: 50%;
        }

        td {
            position: relative;

            span,
            div {
                display: inline-block;
                left: 10px;
                overflow: hidden;
                position: absolute;
                right: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        td:before {
            content: '&nbsp;';
            visibility: hidden;
        }
    }

    .subtitle {
        display: block;
        margin: 0 0 1rem;
    }

    .booking-accepted {
        background-color: $green-pastel !important;

        + .booking-other td {
            box-shadow: 0 -2px 0 $green;
        }
    }

    .matching-details {
        display: inline-block;
        width: 50%;

        button {
            float: right;
            font-size: 1.2rem;
            height: 2.5rem;
            line-height: 1.2rem;
            margin-bottom: 0;
            padding: 0;
            width: 2.5rem;

            &.alert {
                background-color: $red-light;

                &:hover,
                &.toggled {
                    background-color: $red;
                }
            }

            &.success {
                background-color: $green-light;

                &:hover,
                &.toggled {
                    background-color: $green;
                }
            }
        }
    }

    .progress {
        border: 0;
        cursor: pointer;
        display: inline-block;
        height: 2.5rem;
        padding: 0;
        position: relative;
        width: calc(100% - 2.5rem);

        .meter {
            width: 100%;
        }

        &.success .meter {
            background-color: $green-pastel;
        }

        &.alert .meter {
            background-color: $red-pastel;
        }

        &.success .meter-text::before {
            @include icon('\f058');
            color: $green;
            margin-right: 1ex;
        }

        &.alert .meter-text::before {
            @include icon('\f057');
            color: $red;
            margin-right: 1ex;
        }
    }

    .meter-text {
        font-size: .9rem;
        left: 0;
        line-height: .9rem;
        padding: .75rem;
        position: absolute;
        top: 0;
    }
}
