.agencies {
    list-style: none;
    margin-left: 0;

}

.agency-list-card {
    margin-bottom: 1rem;
}

.agency-card {
    h3:not(:first-child) {
        margin-top: 1em;
    }

    dt,
    dd {
        display: inline;
        font-weight: normal;
    }

    .children,
    .memberships {
        &,
        li {
            list-style: none;
            margin-left: 0;
        }
    }
}

.agency-export-list {
    li.agency-export-pdf a::before {
        @include icon('\f1c1');
        color: $body-font-color;
        margin-right: 1ex;
    }
}

.edit-bar {
    .create-pdf::before { @include icon('\f1c1'); }
    .move::before { @include icon('\f047'); }
    .new-agency::before { @include icon('\f0e8'); }
    .sort-alphabetically::before { @include icon('\f15d'); }
    .view-hidden::before { @include icon('\f070'); }
}


ul.hidden-agencies span,
ul.hidden-memberships span,
ul.hidden-people span {
    font-size: .6875rem;
    line-height: .6875rem;
    margin: 0;
    text-transform: uppercase;

    &:not(.last)::after {
        content: '/';
        margin-left: .5em;
    }
}

li[data-sortable-id] a,
ul.sortable-multi-checkbox li label {
    cursor: grab;
}

.globals .hidden-contents::before {
    @include icon('\f070');
}

h1 small::after {
    content: '\A';
    white-space: pre;
}
